.soch-header {
    height: 50px!important;
    background-color: #2BA8E8;
    border: 1px solid rgba(255,255,255,0.50);
    color:#FFFFFF 50%
}
.headercolor{
    color: #ffff;
    font-weight:bold;
    font-size: 14px;
}