<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg bg">
  <div class="row col-sm-12 no-margin-padding marginTop" >
    <div class="col-sm-4 header borderbottom">
      <h3 style="color: #fff;">ProjectSoch</h3>
    </div>
    <div class="col-sm-8 header-border borderbottom">
      <ul class="rightMenu">
        <li>
          <span class="p1 fa-stack fa-2x has-badge" data-count="33">
          <i class="fa fa-comment-o faIcon" aria-hidden="true"></i>
        </span>
        </li>
        <li>
          <span class="p1 fa-stack fa-2x has-badge" data-count="72">
          <i class="fa fa-bell-o faIcon" aria-hidden="true"></i>
          </span>
        </li>
        <li style="border-right:  1px solid #fff;">
          <fa-icon [icon]="ques_icon" style="font-size: 18px;"></fa-icon>
        </li>
        <li class="initials circle" style="width: 43px;">{{userInitial}}</li>
        <li class="className" style="border-left: none;">{{user.firstName}}</li>
        <li style="border: none;">
          <i class="fa fa-caret-down faIcon" aria-hidden="true"  (click)="toggleDiv()"></i>
        </li>
      </ul>
    </div>
    <div>
      <div class="form-row">
        <ul class="navbar-nav">
          <li class="nav-item, navItems">
            <a class="nav-link">DASHBOARD</a>
          </li>

          <li class="nav-item, navItems">
            <a class="nav-link">NACO</a>
          </li>

          <li class="nav-item, navItems">
            <a class="nav-link">SACS</a>
          </li>

          <li class="nav-item, navItems">
            <a class="nav-link">TI</a>
          </li>

          <li class="nav-item, navItems">
            <a class="nav-link">BSD</a>
          </li>

          <li class="nav-item, navItems">
            <a class="nav-link">CST</a>
          </li>

          <li class="nav-item, navItems">
            <a class="nav-link">LABS</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
<br>

<div id="callout" class="callout">
  <div class="callout-header">
    <div>
      <label class="initial" style="width: 50px;">{{userInitial}}</label>
    </div>
    <div>
      <label>{{user.username}}</label>
    </div>
  </div>
  <div class="callout-container">
    <div>
      <label class="profileicon">
        <fa-icon class="proicon" [icon]="cog_icon"></fa-icon>   Profile Setting
      </label>
    </div>
    <div>
      <label class="profileicon">
        <fa-icon class="proicon" [icon]="lock_icon"></fa-icon>   Reset Password
      </label>
    </div>
    <div>
      <label class="profileicon">
        <fa-icon class="proicon" [icon]="logOut_icon"></fa-icon>
      </label>
      <a routerLink="" (click)="logout()" routerLinkActive="active" class="logout">   Log out</a>
    </div>
  </div>
</div>

<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" class="tab-header" [routerLink]="link.link" routerLinkActive
    #rla="routerLinkActive" [active]="rla.isActive">{{link.label}}
  </a>
</nav> -->



<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light soch-header">
  <div class="container-fluid">
    <a class="navbar-brand">
      <!-- <img src="../../dist/img/Logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <span class="brand-text-soch">SOCH</span>
    </a>

    <!-- <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->


    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

      <li class="nav-item dropdown user-menu">
        <a href="#" class="dropdown-toggle headercolor" data-toggle="dropdown">
          <img src="./assets/Images/person.jpg" class="user-image" alt="User Image">
          <span class="hidden-xs headercolor">{{user.userName}}</span>
        </a>
        <ul class="dropdown-menu  user-menu-soch">
          <li class="user-header">
            <img src="./assets/Images/person.jpg" class="img-circle" alt="User Image">
            <p>
              {{user.userName}}
              <!-- <small>Pharmacist</small> -->
            </p>
          </li>

          <li class="user-body">
            <div class="text-center">
              <a routerLink="" class="dropdown-item dropdown-footer" (click)="logout()"> <i class="fa fa-users"></i> Logout</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- /.navbar -->

<!-- Sub Navbar -->
<nav class="navbar navbar-expand-sm navbar-light navbar-white text-sm border-bottom-0 navbar-soch sub-header-layout">
  <div class="container-fluid">
    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item, navItems" *ngFor="let menuItem of parentMenu;">
          <a *ngIf="tempArray.includes(menuItem.menu.toUpperCase())" class="nav-link" [routerLink]="[menuItem.routerLink]">
            <span class="navItems menu-text">{{menuItem.menu}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- /. Sub navbar -->