<div class="content-layout">
    <div class="body-layout">
        <div>
            <h5 class="vertical-line header-title">Commodity Distribution</h5>
        </div>
        <div class="card-body">
            <!-- <form [formGroup]="distributionForm" (ngSubmit)="searchBeneficiary()">

                <div *ngIf="beneficiaryId">
                    <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
                </div>
                <div class="form-row">
                    <div class="input-group">

                        <input type="text" [formControl]="searchValue" class="form-control" placeholder="Search by UID / Mobile No:"
                            style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />

                        <button class="btn btn-primary" type="submit" style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
                            <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
                        </button>

                    </div>
                </div>
            </form> -->
        </div>


        <form [formGroup]="distributionForm" (submit)="saveDistribution()">
            <hr>
            <div class="m-3">
                <h6 class="vertical-line">General Data</h6>
                <div class="card-body">

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label class="control-label required">UID</label>
                            <input type="text" formControlName="beneficiaryUId" class="form-control" readonly
                                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.beneficiaryUId.errors}" />
                            <div *ngIf="submitted&&beneficiaryScreen.beneficiaryUId.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.beneficiaryUId.errors.required">UID is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label required">Name</label>
                            <input type="text" formControlName="beneficiaryName" class="form-control" readonly
                                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.beneficiaryName.errors}" />
                            <div *ngIf="submitted&&beneficiaryScreen.beneficiaryName.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.beneficiaryName.errors.required">Name is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label required">Mobile Number</label>
                            <input type="text" formControlName="mobileNumber" class="form-control" readonly
                                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.mobileNumber.errors}"
                                maxlength=10 pattern="^[1-9]\d{9}$|^[1-9]\d{9}$" />
                            <div *ngIf="submitted&&beneficiaryScreen.mobileNumber.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.mobileNumber.errors.required">Name is required</div>
                            </div>
                            <div class="error"  *ngIf="beneficiaryScreen.mobileNumber.dirty &&beneficiaryScreen.mobileNumber.hasError('pattern')
                       &&beneficiaryScreen.mobileNumber.touched">10
                                digits only
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="control-label required">Beneficiary Activity Status</label>
                            <input type="text" formControlName="beneficiaryActivityStatus" class="form-control" readonly
                                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.beneficiaryActivityStatus.errors}" />
                            <div *ngIf="submitted && beneficiaryScreen.beneficiaryActivityStatus.errors"
                                class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.beneficiaryActivityStatus.errors.required">Beneficiary
                                    Activity Status is
                                    required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="m-3">
                <h6 class="vertical-line">Distribution and BCC Details </h6>
                <div class="card-body">
                    <div class="form-row ">
                        <div class="form-group col-md-4">
                            <label class="control-label required">Condoms Distributed</label>
                            <input type="text" name="condomsDistributed" class="form-control"
                                formControlName="condomsDistributed"
                                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.condomsDistributed.errors }">

                            <div class="errors" *ngIf="beneficiaryScreen.condomsDistributed.dirty&&
                                beneficiaryScreen.condomsDistributed.hasError('maxlength')&&
                                beneficiaryScreen.condomsDistributed.touched">
                                                       Maximum only 99 characters are allowed
                                                    </div>
                            <div *ngIf="submitted && beneficiaryScreen.condomsDistributed.errors"
                                class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.condomsDistributed.errors.required">Field is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label required">Syringes and Needles Distributed</label>
                            <input type="text" name="syringesNeedlesDistributed" class="form-control"
                                formControlName="syringesNeedlesDistributed"
                                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.syringesNeedlesDistributed.errors }">

                            <div class="errors" *ngIf="beneficiaryScreen.syringesNeedlesDistributed.dirty&&
                                beneficiaryScreen.syringesNeedlesDistributed.hasError('maxlength')&&
                                beneficiaryScreen.syringesNeedlesDistributed.touched">
                                                       Maximum only 99 characters are allowed
                                                    </div>
                            <div *ngIf="submitted && beneficiaryScreen.syringesNeedlesDistributed.errors"
                                class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.syringesNeedlesDistributed.errors.required">Field is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label required">Syringes and Needles Returned</label>
                            <input type="text" name="syringesNeedlesReturned" class="form-control"
                                formControlName="syringesNeedlesReturned"
                                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.syringesNeedlesReturned.errors }">

                            <div class="errors" *ngIf="beneficiaryScreen.syringesNeedlesReturned.dirty&&
                                beneficiaryScreen.syringesNeedlesReturned.hasError('maxlength')&&
                                beneficiaryScreen.syringesNeedlesReturned.touched">
                                                       Maximum only 99 characters are allowed
                                                    </div>
                            <div *ngIf="submitted && beneficiaryScreen.syringesNeedlesReturned.errors"
                                class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.syringesNeedlesReturned.errors.required">Field is required
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-4">
                            <label class="control-label required">Type of Contact</label>
                            <select formControlName="typeOfContact" [(ngModel)]="beneficiaryScreen.typeOfContact"
                                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.typeOfContact.errors }"
                                class="form-control">
                                <option selected disabled>-Select One-</option>
                                <option value="1-1">1-1</option>
                                <option value="1-g">1-Group</option>
                            </select>
                            <div *ngIf="submitted && beneficiaryScreen.typeOfContact.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.typeOfContact.errors.required">Field is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label required">Reported Condom use during last sex </label>
                            <select formControlName="condomUse" [(ngModel)]="beneficiaryScreen.condomUse"
                                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.condomUse.errors }"
                                class="form-control">
                                <option selected disabled>-Select One-</option>
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                            <div *ngIf="submitted && beneficiaryScreen.condomUse.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.condomUse.errors.required">Field is required</div>
                            </div>
                        </div>


                        <div class="form-group col-md-4">
                            <label class="control-label required">Reported not sharing needles/syringes during last
                                injecting episode</label>
                            <select formControlName="notSharingNeedleSyringe"
                                [(ngModel)]="beneficiaryScreen.notSharingNeedleSyringe"
                                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.notSharingNeedleSyringe.errors }"
                                class="form-control">
                                <option selected disabled>-Select One-</option>
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                            <div *ngIf="submitted && beneficiaryScreen.notSharingNeedleSyringe.errors"
                                class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.notSharingNeedleSyringe.errors.required">Field is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn-save mr-2 col-md-2" type="submit">Save</button>
                <button class="btn-cancel mr-2 col-md-2" (click)="onCancel()">Cancel</button>
            </div>
        </form>

    </div>
</div>