.filterdiv{
    background-color: #f1f2f3;
    padding: 16px 24px 24px 4px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.filterGroup{
    margin-left: 12px;
}
.search-label{
    margin-left: 3rem;
    padding: 0;
}