<div class="content-layout">
    <div class="body-layout">
      <div>
        <h5 class="vertical-line header-title">Art Beneficiary List</h5>
      </div>
      <div class="filterdiv">
      <!-- <div class="row ">
          <div class="col-md-2 search-label">
                <label class="" for="val2">Search By</label>
          </div>
            <div class="col-md-4">
                <div class="row">
                    <p-radioButton class="col-md-4" name="group2" value="Name" 
                    (onClick)="selectedValueFromRadioButton()" label="Name" [(ngModel)]="val2" inputId="preopt1">        
                    </p-radioButton>
                    <p-radioButton class="col-md-4" name="group2" value="ART" 
                    (onClick)="selectedValueFromRadioButton()" label="ART" [(ngModel)]="val2" inputId="preopt2">
                    </p-radioButton>
                    <p-radioButton class="col-md-4" name="group2" value="Pre ART" 
                    (onClick)="selectedValueFromRadioButton()" label="Pre ART" [(ngModel)]="val2" inputId="preopt3">
                    </p-radioButton>
                </div>       
            </div>
      </div> -->
      <div class="row filterGroup">
        <div class="col-md-10">
          <div class="">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <button type="button" (click)='toggleFilter()' class="btn btn-primary btn-sm">Filter
                    <span *ngIf="selectedItemsForFilter.length !== 0">{{selectedItemsForFilter.length}}</span>
                </button>
              </div>
              <input class="form-control" type="text" #searchinput 
                 placeholder="Name, Age, Gender">
                <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-sm"
                        (click)="artBeneficiaryQueueFilter(dt,searchinput)">Apply</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
            <button class="btn" (click)=clearInput()>Reset</button>
        </div>
      </div>
      <div class="form-group col-6 required" *ngIf="filterShow">
        <label for="filterItems">Type</label>
        <ng-multiselect-dropdown name="filterItems" 
          [(ngModel)]="selectedItemsForFilter"
          [placeholder]="'Select One'" 
          [data]="filterItems" 
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <!-- <div class="invalid-feedback" *ngIf="(submitted && addDivision.filterItems.errors)" class="invalid-feedback">
          <div *ngIf="addDivision.filterItems.errors.required">Facility Type is required</div>
        </div> -->
      </div>
    </div>
    
      <p-table class="table" [columns]="cols" [value]="beneficiaryArt_list" 
      sortMode="multiple" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" 
      [totalRecords]="totalRecords" #dt>
  
        <ng-template pTemplate="header" let-columns>
          <tr  style="text-align: center;">
            <th *ngFor="let col of columns; let i = index">
              {{col.header}}
            </th>
            <th >
                Action
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-beneficiary let-columns="columns">
          <tr>
            <td *ngFor="let col of columns;"> 
              {{beneficiary[col.field]}}
            </td>
            <td>
              <button
              style="background-color: transparent;border: none"
              (click)=dispense()>
                Dispense
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>