<section class="content-header content-header-soch">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lab Tests& Results</h1>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-sm navbar-light navbar-white text-sm border-bottom-0 navbar-soch">
            <div class="container-fluid">
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <nav mat-tab-nav-bar class="mb-3">
                            <a mat-tab-link [routerLink]="link.route" *ngFor="let link of links"
                            (click)="activeLink = link"
                            [active]="activeLink == link">{{link.label}}</a>
                    </nav>
                </div>
            </div>
        </nav>

    <router-outlet></router-outlet>
