<div class="container">
    <div *ngFor="let item of valuesarray ">
          <label  >
            <input type="checkbox" autocomplete="off" style="margin-top:100px; " [checked]="select_all" (click)="onSelectAll($event,item.module)">
            {{item.module}} </label>
          <div class="table-responsive">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td class="text-center" *ngFor="let value of access">{{value}}</td>
                </tr>
      
                <tr *ngFor="let i of item.accessSettingsInfo">
                  
      
                 <td class="text-center">
                    <input type="checkbox"  autocomplete="off" [checked]="select_row" (click)="onSelectRow($event,i.accessName, item.module)">
                  </td> 
       
                  <td class="text-center" >
                    <label>{{i.accessName}}</label>
                  </td>
      
                   
                   <td>
                    <input type="checkbox" [(ngModel)]=i.canView  (click)="onSelectEach($event,i.accessName, item.module, 'canView')" >
                  </td>
                  <td>
                     <input type="checkbox" [(ngModel)]=i.canCreate (click)="onSelectEach($event,i.accessName, item.module, 'canCreate')" >
                  </td>
                  <td>
                      <input type="checkbox" [(ngModel)]=i.canEdit (click)="onSelectEach($event,i.accessName, item.module, 'canEdit')" >
                  </td>
                  <td>
                      <input type="checkbox" [(ngModel)]=i.canDelete (click)="onSelectEach($event,i.accessName, item.module, 'canDelete')">
                  </td> 
                </tr>
      
              </tbody>
            </table>
           
          </div>
       
      
    
    </div>
    <br>
    <section>
      <div class="text-center">
        <button class="btn-cancel" type="button" (click)="goBack()">Back</button>
      </div>
    </section>
  <br>
    </div>

   
    
    
