<div class="content-layout">
  <div class="sub-sub-header-layout">
    <h5 class="sub-sub-header-title">Masters 
      </h5>
  </div>
  <hr class="horizontal-line" />

  <div class="body-layout">
    <div >
      <h5 class="vertical-line header-title">Master List</h5>
    </div>
    <div class="row">
      <div class="card card-solid col-md-12 soch-card-default">
          <div class="card-body">
              <form role="form">
                  <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                          <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                      </div>
                      <input class="form-control" type="text" 
                      (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Master Name, Description"> 
                  </div>
              </form>
          </div>
      </div>
  </div>

    <div>
      <p-table class="table" [columns]="cols" [value]="masters_list" sortMode="multiple" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10,20]" [totalRecords]="totalRecords" #dt>

    <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field"  
            [ngStyle]="{'width': col.width}">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>
              Option
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-master let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{master[col.field]}}
            </td>
            <td>
              <button style="background-color: transparent;border: none" (click)="viewMaster(master)">
                <fa-icon style="color:rgb(31, 81, 216);font-size: 15px;" [icon]="view_icon"></fa-icon>
              </button>
            </td>
          </tr>
        </ng-template>
         <ng-template pTemplate="paginatorleft" let-state>
            Total Records  {{state.totalRecords}}
       </ng-template>
      </p-table>
      <br/>
    </div>
  </div>