<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Designation <button class="btn-save float-right sub-sub-header-title" (click)="addDesignation()"> Add Designation</button></h5>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">

        <button class="btn-cancel float-right"  (click)="back()">Back</button>
        <h5 class="vertical-line header-title">Designation Details</h5>
        <div class="card m-5">
            
            <div class="card-body">
                <div class="container">
                    <table class="table-bordered table-hover"  width="75%"
                        style=" margin: 0px auto;">
                        <tr>
                            <td> Designation Name </td>
                            <td>{{designationObj.title}}</td>
                        </tr>
                        <tr>
                            <td> Active Status </td>
                            <td>{{designationObj.active?'Enabled':'Disabled'}}</td>
                        </tr>
                        <tr>
                            <td> Description </td>
                            <td>{{designationObj.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>