<div class="content-layout">

    <hr class="horizontal-line" />
    <div class="body-layout">

        <h5 class="vertical-line header-title">User List</h5>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card card-solid soch-card-default">
                        <div class="card-body pb-0">
                            <div class="row d-flex align-items-stretch">
                                <p-table class="table" [columns]="cols" [value]="user_list" dataKey="id"  #dt>
                                    <ng-template pTemplate="header" let-columns let-user>
                                        <tr>
                                            <th class="small-col">Serial No.</th>
                                            <th class="th-background-color" *ngFor="let col of columns"
                                                [pSortableColumn]="col.field" [ngClass]="{'th-name': col.header==='Name',
                                                                                    'th-user-name': col.header==='User Name',
                                                                                    'th-email': col.header==='Email',
                                                                                    'th-role': col.header=='Role',
                                                                                    'th-mobile': col.header=='Mobile',
                                                                                    'th-status': col.header=='Status'
                                                                                    }">
                                                {{col.header}}
                                                <p-sortIcon class="float-right sort-icon-color" [field]="col.field">
                                                </p-sortIcon>
                                            </th>
                                            <th class="th-background-color">Actions</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-user let-expanded="expanded" let-columns="columns"
                                        let-i="rowIndex">
                                        <tr>
                                            <td>{{i+1}}</td>
                                            <td *ngFor="let col of columns">
                                                <span
                                                    *ngIf="col.field ==='isActive' && user[col.field]===true">Active</span>
                                                <span
                                                    *ngIf="col.field ==='isActive' && user[col.field]===false">InActive</span>
                                                <span
                                                    *ngIf="col.field !=='isActive' && col.field !=='roleDto'">{{user[col.field]}}</span>
                                                <span *ngIf="col.field !=='isActive' && col.field =='roleDto'">
                                                    <p *ngFor="let iii of user[col.field]">{{iii.name}}</p>
                                                </span>
                                            </td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-outline-primary"
                                                        (click)="dispenseUser(user)">
                                                        Dispense
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage" let-columns>
                                        <tr >
                                            <td [attr.colspan]="columns.length + 3">
                                                No records found
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="rowexpansion" let-user let-columns="columns">
                                        <div class="row expandoriginalrow">
                                            <div class="col-3">
                                                Name
                                            </div>
                                            <div class="col-3">
                                                User Name
                                            </div>
                                            <div class="col-3">
                                                Email
                                            </div>
                                            <div class="col-3">
                                                Mobile
                                            </div>
                                        </div>
                                        <div class="row expandoriginalrow">
                                            <div class="col-3">
                                                Access Level
                                            </div>
                                            <div class="col-3">
                                                Role
                                            </div>
                                            <div class="col-3">
                                                Designation
                                            </div>
                                            <div class="col-3">
                                                Landline
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>