<div class="content-layout">
    <div class="body-layout">
        <div>
            <h5 class="vertical-line header-title">STI Treatment</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="screeningForm" (ngSubmit)="searchBeneficiary()">

                <div *ngIf="beneficiaryId">
                    <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
                </div>
                <div class="form-row">
                    <div class="input-group">

                        <input type="text" [formControl]="searchValue" class="form-control" placeholder="Search by UID / Mobile No:"
                            style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />

                        <button class="btn btn-primary" type="submit" style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
                            <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
                        </button>

                    </div>
                </div>
            </form>
        </div>


        <form [formGroup]="screeningForm" (submit)="saveScreening()">
            <hr>
            <div class="m-3">
                <h6 class="vertical-line">General Data</h6>
                <div class="card-body">

                    <div class="form-row">

                        <div class="form-group col-4">
                            <label class="control-label required">UID</label>
                            <input type="text" formControlName="beneficiaryUId" class="form-control" readonly [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.beneficiaryUId.errors}" />
                            <div *ngIf="submitted&&beneficiaryScreen.beneficiaryUId.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.beneficiaryUId.errors.required">UID is required</div>
                            </div>
                        </div>

                        <div class="form-group col-4">
                            <label class="control-label required">Name</label>
                            <input type="text" formControlName="beneficiaryName" class="form-control" readonly
                                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.beneficiaryName.errors}" />
                            <div *ngIf="submitted&&beneficiaryScreen.beneficiaryName.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.beneficiaryName.errors.required">Name is required</div>
                            </div>
                        </div>

                        <div class="form-group col-4">
                            <label class="control-label required">Mobile Number</label>
                            <input type="text" formControlName="mobileNumber" class="form-control" readonly [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.mobileNumber.errors}"
                                maxlength=10 pattern="^[1-9]\d{9}$|^[1-9]\d{9}$" />
                            <div *ngIf="submitted&&beneficiaryScreen.mobileNumber.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.mobileNumber.errors.required">Name is required</div>
                            </div>
                            <div class="error"  *ngIf="beneficiaryScreen.mobileNumber.dirty &&beneficiaryScreen.mobileNumber.hasError('pattern')
                   &&beneficiaryScreen.mobileNumber.touched">10
                                digits only
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label class="control-label required">Beneficiary Activity Status</label>
                            <select formControlName="beneficiaryActivityStatus" [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.beneficiaryActivityStatus.errors }"
                                class="form-control">
                                <option selected disabled>-Select One-</option>
                                <option value="Pending R&V Assessmen">Pending R&V Assessment</option>
                                <option value="Pending Commodity Distribution">Pending Commodity Distribution</option>
                                <option value="Pending for Screening">Pending for Screening</option>
                                <option value="Pending Referral">Pending Referral</option>
                                <option value="Pending Counselling">Pending Counselling</option>
                                <option value="Pending STI Treatment">Pending STI Treatment</option>
                            </select>
                            <div *ngIf="submitted && beneficiaryScreen.beneficiaryActivityStatus.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.beneficiaryActivityStatus.errors.required">Beneficiary
                                    Activity Status is
                                    required</div>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label class="control-label required">Current Health Status</label>
                            <select formControlName="currentHealthStatus" [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.currentHealthStatus.errors }"
                                class="form-control">
                                <option selected disabled>-Select One-</option>
                                <option value="TB_POS">TB - Screened Positive</option>
                                <option value="TB_NEG">TB - Screened Negative</option>
                                <option value="SYPHILLIS_POS">Syphilis – Screened Positive </option>
                                <option value="SYPHILLIS_NEG">Syphilis – Screened Negative</option>
                                <option value="HIV_POS">HIV - Screened Positive</option>
                                <option value="HIV_NEG">HIV - Screened Negative</option>
                            </select>
                            <div *ngIf="submitted && beneficiaryScreen.currentHealthStatus.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.currentHealthStatus.errors.required">Current Health
                                    Status is
                                    required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="m-3">
                <h6 class="vertical-line">STI Treatment Details</h6>
                <div class="card-body">
                    <div class="form-row ">
                        <div class="form-group col-2">
                            <label class="control-label required">Date of Check-Up</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" name="dateOfCheckUp" class="form-control"
                                    formControlName="dateOfCheckUp" [ngClass]="{ 'is-invalid':submitted && beneficiaryScreen.dateOfCheckUp.errors}">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div *ngIf="submitted && beneficiaryScreen.dateOfCheckUp.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.dateOfCheckUp.errors.required">Date is required</div>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label class="control-label required">STI/RTI Diagnosis</label>
                            <select formControlName="diagnosis" [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.diagnosis.errors }"
                                class="form-control">
                                <option value="" selected disabled>-Select One-</option>
                                <option value="UD_ARD_CERVICITIS_PT">UD/ARD/CERVICITIS/PT</option>
                                <option value="VAG_DISCHARGE">Vaginal Discharge (Vaginitis)</option>
                                <option value="GUD_NON_HERPETIC">GUD - Non Herpetic</option>
                                <option value="GUD_NON_HERPETIC_AGP">GUD - Non Herpetic (Allergic to Penicillin)</option>
                                <option value="GUD_HERPETIC">GUD - Herpetic</option>
                                <option value="LOWER_ABDOMINAL_PAIN">Lower Abdominal Pain</option>
                                <option value="INGUINAL_BUBO">Inguinal Bubo</option>
                            </select>
                            <div *ngIf="submitted && beneficiaryScreen.diagnosis.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.diagnosis.errors.required">STI/RTI Diagnosis is required</div>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label class="control-label required">Kit Prescribed</label>
                            <select formControlName="prescribedKit" [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.prescribedKit.errors }"
                                class="form-control ">
                                <option value="" selected disabled>-Select One-</option>
                                <option value="KIT_1">KIT 1</option>
                                <option value="KIT_2">KIT 2</option>
                                <option value="KIT_3">KIT 3</option>
                                <option value="KIT_1">KIT 4</option>
                                <option value="KIT_2">KIT 5</option>
                                <option value="KIT_3">KIT 6</option>
                                <option value="KIT_3">KIT 7</option>
                            </select>
                            <div *ngIf="submitted && beneficiaryScreen.prescribedKit.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.prescribedKit.errors.required">Screening Status is
                                    required</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-row ">
                        <div class="col-md-4">
                            <label for="partnerNotified">Partner Notified</label><br>
                            <input type="radio" name="partnerNotified" [checked]="partnerNotified" value="true"
                                [(ngModel)]="beneficiary.partnerNotified" formControlName="partnerNotified">Yes
                            <input type="radio" name="partnerNotified" [checked]="!partnerNotified" value="false"
                                [(ngModel)]="beneficiary.partnerNotified" formControlName="partnerNotified">No
                        </div>
                        <div class="form-group col-2">
                            <label class="control-label required">Follow Up Date</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" name="followUpDate" class="form-control"
                                    formControlName="followUpDate" [ngClass]="{ 'is-invalid':submitted && beneficiaryScreen.followUpDate.errors}">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <div *ngIf="submitted && beneficiaryScreen.followUpDate.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.followUpDate.errors.required">Date is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="m-3">
                <h6 class="vertical-line">Abscess Management (Only when Primary or secondary category is IDU)</h6>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="control-label required">Clinical Details</label>
                            <input type="text" formControlName="clinicalDetails" class="form-control" [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.clinicalDetails.errors}" />
                            <div *ngIf="submitted&&beneficiaryScreen.clinicalDetails.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.clinicalDetails.errors.required">Clinical Details is
                                    required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label class="control-label required">Treatment Provided</label>
                            <input type="text" formControlName="treatmentProvided" class="form-control" [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.clinicalDetails.errors}" />
                            <div *ngIf="submitted&&beneficiaryScreen.clinicalDetails.errors" class="invalid-feedback">
                                <div *ngIf="beneficiaryScreen.clinicalDetails.errors.required">Clinical Details is
                                    required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn-save mr-2" type="submit">Save</button>
                <button class="btn-cancel mr-2" (click)="onCancel()">Cancel</button>
            </div>
        </form>

    </div>
</div>