<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Role</h5>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">
        <div class="vertical-line">
            <div>
                <label class="header-title" *ngIf=!this.roleObj.id>Add Role</label>
                <label class="header-title" *ngIf=this.roleObj.id>Edit Role</label>
            </div>

        </div>
        <label class="font-smaller m-left-10">Mandatory fields marked with *</label>
        <div class="card-body">
            <form [formGroup]="addRoleFormGroup" (ngSubmit)="saveRole()">

                <br />
                <div class="form-row" *ngIf="roleObj.id">
                    <input type="hidden" formControlName="id" [(ngModel)]="roleObj.id" class="form-control">
                </div>
                <div class="form-row">

                    <div class="form-group col-4">
                        <label class="font-normal">*Role Name</label>
                        <input type="text" class="form-control" [(ngModel)]="roleObj.name" formControlName="name"
                            required [pattern]="rolePattern" placeholder="Enter Role Name"
                            [ngClass]="{'is-invalid': submitted && role.name.errors}" />
                        <div class="error" *ngIf="role.name.dirty  && role.name.hasError('pattern') && role.name.touched">
                            Role Name must be alphabets
                        </div>
                        <div class="error"
                            *ngIf="role.name.dirty  && role.name.hasError('maxlength') && role.name.touched">
                            Role Name shouldn't exceed 99 characters
                        </div>
                        <!--  <ng-template [ngIf]="submitted && role.name.errors" [ngIfElse]="err">                        -->
                            <div *ngIf="submitted && role.name.errors" class="invalid-feedback">
                                <div *ngIf="role.name.errors.required">Role name is required</div>
                            </div>
                        <!-- </ng-template> -->
                      
                            <div class="error"  *ngIf="error && !role.name.hasError('pattern')">
                                {{error}}
                            </div>
                      
                    </div>

                    <div class="form-group col-4" *ngIf="roleObj.id">
                        <label class="font-normal">*Facility Type</label>
                        <select [(ngModel)]="roleObj.facilityTypeId" required class="form-control"
                            [ngClass]="{'is-invalid': submitted && role.facilityTypeId.errors}"
                            formControlName="facilityTypeId">
                            <option *ngFor="let facilityType of facilityType_list" value="{{facilityType.id}}">
                                {{facilityType.facilityTypeName}}
                            </option>
                        </select>
                        <div *ngIf="submitted &&  role.facilityTypeId.errors" class="invalid-feedback">
                            <div *ngIf=" role.facilityTypeId.errors.required">Facility type is required</div>
                        </div>
                    </div>
                    <div class="form-group col-4" *ngIf="!roleObj.id">
                        <label class="font-normal">*Facility Type</label>
                        <select required class="form-control"
                            [ngClass]="{'is-invalid': submitted && role.facilityTypeId.errors}"
                            formControlName="facilityTypeId">
                            <option value="" selected disabled hidden>-Select One-</option>
                            <option *ngFor="let facilityType of facilityType_list" value="{{facilityType.id}}">
                                {{facilityType.facilityTypeName}}
                            </option>
                        </select>
                        <div *ngIf="submitted &&  role.facilityTypeId.errors" class="invalid-feedback">
                            <div *ngIf="role.facilityTypeId.errors.required">Facility type is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label class="font-normal">*Active status</label>
                        <select [(ngModel)]="roleObj.isActive" required class="form-control"
                            [ngClass]="{'is-invalid': submitted && role.isActive.errors}" formControlName="isActive">
                            <option  [ngValue]="undefined" selected disabled >-Select One-</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                        <div *ngIf="submitted && role.isActive.errors" class="invalid-feedback">
                            <div *ngIf="role.isActive.errors.required">Active Status is required</div>
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label class="font-normal">*Primary</label>
                        <select [(ngModel)]="roleObj.isPrimary" required class="form-control"
                            [ngClass]="{'is-invalid': submitted && role.isPrimary.errors}"  formControlName="isPrimary">
                            <option  [ngValue]="undefined" selected disabled >-Select One-</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <div *ngIf="submitted && role.isPrimary.errors" class="invalid-feedback">
                            <div *ngIf="role.isPrimary.errors.required">Please select either value</div>
                        </div>
                    </div>
                </div>

                <br style="clear:both;" />
                <section>
                    <div class="text-center">
                        <button class="btn-save mr-2" type="submit" *ngIf=!this.roleObj.id>Save</button>
                        <button class="btn-save mr-2" type="submit" *ngIf=this.roleObj.id>Update</button>
                         <button class="btn-cancel mr-2" type="reset" (click)="onReset()">Reset</button> 
                        <button class="btn-cancel" type="button" (click)="onCancel()">Cancel</button>
                    </div>
                </section>
            </form>

        </div>
    </div>