<div class="content-layout">
    <div class="body-layout">
        <div>
            <h5 class="vertical-line header-title">Transit List</h5>
        </div>
        <div>
            <div class="form-group">
                <div class="card-body">
                    <div class="card-body">
                        <form [formGroup]="outwardForm" (ngSubmit)="searchBeneficiary()">

                            <div *ngIf="beneficiaryId">
                                <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
                            </div>
                            <div class="form-row">
                                <div class="input-group">

                                    <input type="text" [formControl]="searchValue" class="form-control"
                                        placeholder="Search by UID / Mobile No:"
                                        style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />

                                    <button class="btn btn-primary" type="submit"
                                        style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
                                        <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
        
                            <!-- <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container> -->
        
                            <ng-container matColumnDef="uidNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> UID </th>
                                <td mat-cell *matCellDef="let row"> {{row.uidNumber}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="transitStartDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transit Start Date </th>
                                <td mat-cell *matCellDef="let row"> {{row.transitStartDate}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="transitEndDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transit End Date </th>
                                <td mat-cell *matCellDef="let row"> {{row.transitEndDate}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="transitStatus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let row"> {{row.transitStatus}} </td>
                            </ng-container>
        
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
        
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>