<div class="content-layout">
  <div class="body-layout">
    <div>
      <h5 class="vertical-line header-title" >Add New Beneficiary</h5>
    </div>
    <label class="font-smaller m-left-10">Mandatory fields marked with<span style="color: red;">*</span></label>
    <div>
      <div class="form-group">
        <!-- <h5 class="card-header">Beneficiary TI Details</h5> -->
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="addBeneficiary()">
            
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.id" class="form-control">
            </div>
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.beneficiaryId" class="form-control">
            </div>
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.addressId" class="form-control">
            </div>
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.availableDaysMapId" class="form-control">
            </div>
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.beneficiaryFacilityMapId" class="form-control">
            </div>
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.screeningId" class="form-control">
            </div>
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.ostId" class="form-control">
            </div>
            <div class="form-row" *ngIf="benefTiObj.id">
              <input type="hidden" formControlName="id" [(ngModel)]="benefTiObj.beneficiaryUserMapId" class="form-control">
            </div>
            <hr>
            <h6 class="vertical-line">PE and ORW In-charge Details</h6>
            <br>

            <div class="row">
              <!-- <div class="col-md-3">
            <label for="orwName">ORW Name</label>
            <select name="orwName" class="form-control" formControlName="orwName" [(ngModel)]="benefTiObj.orwName" (change) = "getOrwCode(benefTiObj.orwName)">
              <option selected disabled>Select one</option>
              <option *ngFor="let orwname of orwNameList" value="{{orwname}}">{{orwname}}
              </option>

            </select>
          </div> -->

              <div class="col-md-3">
                <label for="orwCode">ORW Code</label>
                <input type="text" name="orwCode" class="form-control" [(ngModel)]="benefTiObj.orwCode"
                  formControlName="orwCode" readonly
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.orwCode.errors }">
              </div>



              <!-- <div class="col-md-3">
                <label for="peName">PE Name</label>
                <select name="peName" class="form-control" formControlName="peName" [(ngModel)]="benefTiObj.peName"
                  (change)="getPeCode(benefTiObj.peName)">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let pename of peNameList" value="{{pename}}">{{pename}}</option>
                </select>
              </div> -->

              <div class="col-md-3">
                <label for="peCode">PE Code</label>
                <input type="text" name="peCode" class="form-control" [(ngModel)]="benefTiObj.peCode"
                  formControlName="peCode" readonly
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.peCode.errors }">
              </div>
            </div>
            <br><hr>
            <h6 class="vertical-line">Registration Fields</h6>
            <br>
            <div class="row">

              <!-- <div class="required">
              <input  type="hidden" formControlName="facilityCode" class="form-control"
                [(ngModel)]="benefTiObj.facilityCode" placeholder="Enter facility code"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.facilityCode.errors }"
                 readonly>

              <div *ngIf="submitted && beneficiaryTi.facilityCode.errors" 
              class="invalid-feedback">
              <div *ngIf="beneficiaryTi.facilityCode.errors.required">facility code is required</div>
              </div>
            </div> -->


              <!-- <div class="col-md-3">
                <label for="facility">Facility</label>

                <select name="facility" class="form-control" formControlName="facility" [(ngModel)]="benefTiObj.facility" (change) = "getFacilityCode(benefTiObj.facility)">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let facilityname of facilities_list" value="{{facilityname}}">{{facilityname}}
                  </option>
                </select>
              </div> -->

              <div class="col-md-3">
                <div class="required">
                  <label for="dateOfRegistration">Date of Registration</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" class="form-control" [max] = "today"
                      [(ngModel)]="benefTiObj.dateOfRegistration" formControlName="dateOfRegistration"
                      [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.dateOfRegistration.errors }">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <div *ngIf="submitted && beneficiaryTi.dateOfRegistration.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.dateOfRegistration.errors.required">
                      Date of Registration is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required" *ngIf="isUserTIOST">
                  <label for="consentDocumented">Consent Documented?</label>
                  <select name="consentDocumented" class="form-control" placeholder="Enter Employment Status"
                    [(ngModel)]="benefTiObj.consentDocumented" formControlName="consentDocumented"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.consentDocumented.errors }">
                    <option selected disabled>Select one</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTi.consentDocumented.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.consentDocumented.errors.required">
                      Status of consent is required</div>
                  </div>
                </div>

              </div>

              <div class="form-group col-3" *ngIf="benefTiObj.id">
                <label>UID</label>
                <input type="text" class="form-control" formControlName="uidNumber"
                    [ngModel]="benefTiObj.uidNumber" readonly />
            </div>

              <!-- <div class="col-md-3">
            <div class="required">
              <label for="beneficiaryId">Beneficiary ID</label>
              <input type="text" name="beneficiaryId" class="form-control" 
              placeholder="Enter Beneficiary ID"
                [(ngModel)]="benefTiObj.beneficiaryId" formControlName="beneficiaryId"  readonly
                [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.beneficiaryId.errors }"  
                 (change) = "getMaxOfBeneficiaryId()">
              <div *ngIf="submitted && beneficiaryTi.beneficiaryId.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryTi.beneficiaryId.errors.required">
                  Beneficiary ID is required</div>
              </div>
            </div>
          </div> -->
              <!-- <div class="col-md-3">
                <div class="required">
                  <label for="beneficiaryCode">Beneficiary ID</label>
                  <input type="text" name="beneficiaryCode" class="form-control" placeholder="Enter Beneficiary ID"
                    [(ngModel)]="benefTiObj.beneficiaryCode" formControlName="beneficiaryCode"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.beneficiaryCode.errors }">
                  <div *ngIf="submitted && beneficiaryTi.beneficiaryCode.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.beneficiaryCode.errors.required">
                      Beneficiary ID is required</div>
                  </div>
                </div>
              </div> -->
              <!-- 
          <div *ngIf="benefTiObj.id" class="col-md-3">
            <div class="required">
              <label for="beneficiaryCode">Beneficiary ID</label>
              <input type="text" name="beneficiaryCode" class="form-control" 
              placeholder="Enter Beneficiary ID"
                [(ngModel)]="benefTiObj.beneficiaryCode" formControlName="beneficiaryCode"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.beneficiaryCode.errors }"  
               >
              <div *ngIf="submitted && beneficiaryTi.beneficiaryCode.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryTi.beneficiaryCode.errors.required">
                  Beneficiary ID is required</div>
              </div>
            </div>
          </div> -->

            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" class="form-control" placeholder="Enter first Name"
                    [(ngModel)]="benefTiObj.firstName" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.firstName.errors }" pattern="[a-zA-Z+ \s]+$">
                  <div *ngIf="submitted && beneficiaryTi.firstName.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.firstName.errors.required">First Name is required</div>
                  </div>

                  <div class="error" *ngIf="beneficiaryTi.firstName.dirty&&
                    beneficiaryTi.firstName.hasError('maxlength')&&beneficiaryTi.firstName.touched">
                                           Maximum only 99 characters are allowed
                                        </div>

                  <div class="error" *ngIf="beneficiaryTi.firstName.dirty &&
                    beneficiaryTi.firstName.hasError('pattern')&& beneficiaryTi.firstName.touched">Name should be
                    alphabet
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="middleName">Middle Name</label>
                <input type="text" name="middleName" class="form-control" placeholder="Enter Middle Name"
                  [(ngModel)]="benefTiObj.middleName" formControlName="middleName"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.middleName.errors }" pattern="[a-zA-Z+ \s]+$">

                <div class="error" *ngIf="beneficiaryTi.middleName.dirty&&
                  beneficiaryTi.middleName.hasError('maxlength')&&beneficiaryTi.middleName.touched">
                                         Maximum only 99 characters are allowed
                                      </div>
                <div class="error" *ngIf="beneficiaryTi.middleName.dirty &&
                  beneficiaryTi.middleName.hasError('pattern')&& beneficiaryTi.middleName.touched">Name should be
                  alphabet
                </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" class="form-control" placeholder="Enter Last Name"
                    [(ngModel)]="benefTiObj.lastName" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.lastName.errors }" pattern="[a-zA-Z+ \s]+$">
                  <div *ngIf="submitted && beneficiaryTi.lastName.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.lastName.errors.required">Last Name is required</div>
                  </div>
                  <div class="error" *ngIf="beneficiaryTi.lastName.dirty&&
                    beneficiaryTi.lastName.hasError('maxlength')&&beneficiaryTi.lastName.touched">
                                           Maximum only 99 characters are allowed
                                        </div>
                  <div class="error" *ngIf="beneficiaryTi.lastName.dirty &&
                    beneficiaryTi.lastName.hasError('pattern')&& beneficiaryTi.lastName.touched">Name should be alphabet
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="dateOfBirth">Date of Birth</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" name="dateOfBirth" [max] = "today" class="form-control"
                    [(ngModel)]="benefTiObj.dateOfBirth" formControlName="dateOfBirth"
                    [ngClass]="{ 'is-invalid':submitted && beneficiaryTi.dateOfBirth.errors}"
                    (dateInput)="ageFromDateOfBirth($event.value)">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <div class="error" *ngIf="beneficiaryTi.age.dirty&& beneficiaryTi.age.hasError('pattern')&&
                  beneficiaryTi.age.touched">Age should be between 12-100
                </div>
              </div>


            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="age">Age</label>
                  <input type="text" name="age" class="form-control" placeholder="Enter Age" formControlName="age"
                    [(ngModel)]="benefTiObj.age" [ngClass]="{ 'is-invalid': submitted && 
                    beneficiaryTi.age.errors }">
                  <div *ngIf="submitted && beneficiaryTi.age.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.age.errors.required">Age is required</div>
                  </div>
                  <div class="error" *ngIf="beneficiaryTi.age.dirty && beneficiaryTi.age.hasError('pattern')&&
                    beneficiaryTi.age.touched"> Age should be between 12-100.</div>
                  <div class="error" *ngIf="beneficiaryTi.age.hasError('pattern')&& beneficiaryTi.age.untouched"> Age
                    should be between 12-100.</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="gender">Gender</label>
                  <select name="gender" class="form-control" formControlName="gender" [(ngModel)]="benefTiObj.gender"
                    placeholder="Enter Gender" [ngClass]="{ 'is-invalid': submitted && 
                beneficiaryTi.gender.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTi.gender.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.gender.errors.required">Gender is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="maritalStatus">Marital Status</label>
                  <select name="maritalStatus" class="form-control" formControlName="maritalStatus"
                    [(ngModel)]="benefTiObj.maritalStatus" placeholder="Enter Marital Status"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.maritalStatus.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Never Married">Never Married</option>
                    <option value="Married">Married</option>
                    <option value="Widow / Widower">Widow / Widower</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Separated">Separated</option>
                    <option value="Non-known / Not revealed">Non-known / Not revealed</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTi.maritalStatus.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.maritalStatus.errors.required">
                      Marital Status is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="regularPartners">Regular Partners</label>
                  <input type="text" name="regularPartners" class="form-control" placeholder="Enter Regular Partners"
                    [(ngModel)]="benefTiObj.regularPartners" formControlName="regularPartners"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.regularPartners.errors }">
                  <div *ngIf="submitted && beneficiaryTi.regularPartners.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.regularPartners.errors.required">
                      Regular Partners is required</div>
                  </div>
                  <div class="error" *ngIf="beneficiaryTi.regularPartners.dirty &&
                    beneficiaryTi.regularPartners.hasError('maxlength') && beneficiaryTi.regularPartners.touched">
                                           Maximum only 99 characters are allowed
                                        </div>
                </div>
              </div>


            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="numberOfPartners">Number of Partners</label>
                  <input type="text" name="numberOfPartners" class="form-control" placeholder="Enter Number of Partners"
                    [(ngModel)]="benefTiObj.numberOfPartners" formControlName="numberOfPartners"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.numberOfPartners.errors }">
                  <div *ngIf="submitted && beneficiaryTi.numberOfPartners.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.numberOfPartners.errors.required">
                      Number of Partners is required</div>
                  </div>
                  <div class="error" *ngIf="beneficiaryTi.numberOfPartners.dirty&&
                    beneficiaryTi.numberOfPartners.hasError('pattern')&& beneficiaryTi.numberOfPartners.touched">
                                            Only number between 1-15 is allowed
                                        </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="employmentStatus">Employment Status</label>
                  <select name="employmentStatus" class="form-control" placeholder="Enter Employment Status"
                    [(ngModel)]="benefTiObj.employmentStatus" formControlName="employmentStatus"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.employmentStatus.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Never Employed">Never Employed</option>
                    <option value="Currently unemployed">Currently unemployed</option>
                    <option value="Full time employed">Full time employed</option>
                    <option value="Part Time Employed">Part Time Employed</option>
                    <option value="Student /Housewife">Student /Housewife</option>
                    <option value="Other (specify)">Other (specify)</option>
                    <option value="Non-known / Not revealed">Non-known / Not revealed</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTi.employmentStatus.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.employmentStatus.errors.required">
                      Employment Status is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="educationLevel">Education Level</label>
                <select name="educationLevel" class="form-control" placeholder="Enter Education Level"
                  [(ngModel)]="benefTiObj.educationLevel" formControlName="educationLevel">
                  <option selected disabled>Select one</option>
                  <option value="Illiterate">Illiterate</option>
                  <option value="Literate (can read and write)">Literate (can read and write)</option>
                  <option value="Primary Education(up-to 5th class of schooling)">
                    Primary Education(up-to 5th class of
                    schooling)</option>
                  <option value="Middle Education (upto 8th class of schooling)">
                    Middle Education (upto 8th class of
                    schooling)</option>
                  <option value="Matriculation / Higher Secondary (10-12 year of schooling)">
                    Matriculation / Higher
                    Secondary (10-12 year of schooling)</option>
                  <option value="Graduate and above">Graduate and above</option>
                  <option value="Non-known / Not revealed">Non-known / Not revealed</option>
                </select>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="pincode">Pin Code</label>
                  <input type="text" name="pincode" class="form-control" placeholder="Enter pincode"
                    [(ngModel)]="benefTiObj.pincode" formControlName="pincode" maxlength=6
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.pincode.errors }">
                  <div *ngIf="submitted && beneficiaryTi.pincode.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.pincode.errors.required">Pin Code is required</div>
                  </div>
                  <div class="error" *ngIf="beneficiaryTi.pincode.dirty&& beneficiaryTi.pincode.hasError('pattern')&&
                    beneficiaryTi.pincode.touched">
                    Only digits are is allowed.
                                        </div>
                  <div class="error" *ngIf="beneficiaryTi.pincode.dirty&&
                    beneficiaryTi.pincode.hasError('minlength')&&beneficiaryTi.pincode.touched">
                    Minimum 6 digits are required
                                        </div>
                </div>
              </div>

            </div>
            <br><br>
            <div class="row">


              <div class="col-md-3">
                <label for="block">Block</label>
                <input type="text" name="block" class="form-control" placeholder="Enter block"
                  [(ngModel)]="benefTiObj.block" formControlName="block"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.block.errors }">

                <div class="error" *ngIf="beneficiaryTi.block.dirty&&
                  beneficiaryTi.block.hasError('maxlength')&&beneficiaryTi.block.touched">
                                         Maximum only 99 characters are allowed
                                      </div>
              </div>


              <div class="col-md-3">
                <label for="houseNo">House No</label>
                <input type="text" name="houseNo" class="form-control" placeholder="Enter House No"
                  [(ngModel)]="benefTiObj.houseNo" formControlName="houseNo"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.houseNo.errors }">

                <div class="error" *ngIf="beneficiaryTi.houseNo.dirty&&
                  beneficiaryTi.houseNo.hasError('maxlength')&&beneficiaryTi.houseNo.touched">
                                         Maximum only 99 characters are allowed
                                      </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="mobileNumber">Contact Number</label>
                  <input type="text" name="mobileNumber" maxlength=10 class="form-control"
                    placeholder="Enter mobile number" [(ngModel)]="benefTiObj.mobileNumber"
                    formControlName="mobileNumber"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.mobileNumber.errors }">
                  <div *ngIf="submitted && beneficiaryTi.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.mobileNumber.errors.required">Mobile number is required</div>
                  </div>
                  <div class="error" *ngIf="beneficiaryTi.mobileNumber.dirty&&
                    beneficiaryTi.mobileNumber.hasError('pattern')&& beneficiaryTi.mobileNumber.touched">
                  Only digits are allowed.
                                        </div>
                  <div class="error" *ngIf="beneficiaryTi.mobileNumber.dirty&&
                    beneficiaryTi.mobileNumber.hasError('minlength')&&beneficiaryTi.mobileNumber.touched">
                    Mobile number should contain 10 digits
                                        </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="clientStatus">Client Status</label>
                  <select name="clientStatus" class="form-control" formControlName="clientStatus"
                    [(ngModel)]="benefTiObj.clientStatus" placeholder="Enter Client Status"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.clientStatus.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Active">Active</option>
                    <option value="Relapse">Relapse</option>
                    <option value="Treatment completed">Treatment completed</option>
                    <option value="Died: If the Data Manager has previously changed his status to died">
                      Died</option>
                    <option value="Migrated Active: If the client is not a drop-out. This is the default option available.">
                      Migrated</option>
                    <option value="Dropout">Dropout</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTi.clientStatus.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.clientStatus.errors.required">Client Status is required</div>
                  </div>
                </div>
              </div>


            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <label for="viewPastActivity">View Past Activity</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" name="viewPastActivity" class="form-control"
                    [(ngModel)]="benefTiObj.viewPastActivity" formControlName="viewPastActivity">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div>

            </div>
            <div class="row">
            </div>
            <br> <hr>
            <h6 class="vertical-line">Other Details</h6>
            <br>
            <div class="row">
              <div class="col-md-3">
                <h6>Children and their ages:</h6>
                <label for="childrenAge">Age:</label><br>
                <input type="text" [(ngModel)]="benefTiObj.childrenAge" id="name2" class="form-control"
                  formControlName="childrenAge"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.childrenAge.errors }" />
                <div class="error" *ngIf="beneficiaryTi.childrenAge.dirty&&
                  beneficiaryTi.childrenAge.hasError('pattern')&& beneficiaryTi.childrenAge.touched"> Age should be
                  between 1-100.
                                      </div>
                <br><br>
                <label for="childrenGender">Gender:</label><br>
                <select type="text"[(ngModel)]="benefTiObj.childrenGender" id="name1" class="form-control"
                  formControlName="childrenGender"><br><br>
                  <option selected disabled>Select one</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Transgender">Transgender</option>
                </select>
                <br>
                <button type="button" class="btn-broad" (click)="addItem()">Add</button>
              </div>

              <div class="col-md-6" style="margin-top: 50px;">
                <table class="table table-bordered">
                  <tr>
                    <th>#</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Option</th>
                  </tr>

                  <tr *ngFor="let child of childrenAgesList; let i = index;">
                    <td><label>{{i+1}}</label></td>
                    <td><label>{{child.childrenAge}}</label></td>
                    <td><label>{{child.childrenGender}}</label></td>
                    <td>
                      <button (click)="removeRow(i)">Remove</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <br><br>
            <div class="form-row">
              <input type="hidden" formControlName="childrenAgeGenderMapping" [(ngModel)]="benefTiObj.childrenAgeGenderMapping"
                class="form-control">
            </div>
            <div class="row">

              <div class="col-md-6 ">
                <h6>Mobility Status:</h6><br>
                <table border="1" class="table table-bordered">
                  <tr>
                    <th>In the last three months how many times moved out:</th>
                    <th>No. of time</th>
                    <th>No. of Days</th>
                  </tr>
                  <tr>
                    <th>Within the district</th>
                    <th><input type="number" [(ngModel)]="benefTiObj.withinTheDistrictNoOfTimes" class="form-control"
                        formControlName="withinTheDistrictNoOfTimes"></th>
                    <th><input type="number" [(ngModel)]="benefTiObj.withinTheDistrictNoOfDays" class="form-control"
                        formControlName="withinTheDistrictNoOfDays"></th>
                  </tr>
                  <tr>
                    <th>Within the state</th>
                    <th><input type="number" [(ngModel)]="benefTiObj.withinTheStateNoOfTimes" class="form-control"
                        formControlName="withinTheStateNoOfTimes"></th>
                    <th><input type="number" [(ngModel)]="benefTiObj.withinTheStateNoOfDays" class="form-control"
                        formControlName="withinTheStateNoOfDays"></th>
                  </tr>
                  <tr>
                    <th>Outside the state</th>
                    <th><input type="number" [(ngModel)]="benefTiObj.outsideTheStateNoOfTimes" class="form-control"
                        formControlName="outsideTheStateNoOfTimes"></th>
                    <th><input type="number" [(ngModel)]="benefTiObj.outsideTheStateNoOfDays" class="form-control"
                        formControlName="outsideTheStateNoOfDays"></th>
                  </tr>
                </table>

              </div>
              <div class="form-group col-1"></div>
              <div class="form-group col-3 required">
                <div class="row" style="margin-top: 10px;">
                  <label for="availableDays">Days Available</label>
                </div>
                <div class="row">
                  <table width="100%" [ngClass]="{ 'is-invalid':submitted && beneficiaryTi.availableDays.errors }">

                    <tr>
                     
                      <td width="25%"><input type="checkbox" [(ngModel)]="benefTiObj.monday"
                          formControlName="availableDays" />Monday</td>

                      <td width="25%"><input type="checkbox" [(ngModel)]="benefTiObj.tuesday"
                          formControlName="availableDays" />Tuesday</td>
                          <td width="25%"><input type="checkbox" [(ngModel)]="benefTiObj.wednesday"
                            formControlName="availableDays" />Wednesday</td>
                    </tr>
                    <tr>
                      <td width="30%"><input type="checkbox" [(ngModel)]="benefTiObj.thursday"
                          formControlName="availableDays" />Thursday</td>
                      <td><input type="checkbox" [(ngModel)]="benefTiObj.friday"
                          formControlName="availableDays" />Friday
                      </td>
                      <td><input type="checkbox" [(ngModel)]="benefTiObj.saturday"
                        formControlName="availableDays" />Saturday</td>

                      </tr>
                  </table>

                  <div class="error" *ngIf="(submitted && beneficiaryTi.availableDays.errors)"
                    class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.availableDays.errors.required">Days available is required</div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row" *ngIf="benefTiObj.id">
                <br> <hr>
            <h6 class="vertical-line">Screening Details</h6>
            <br>
  
              <div class="col-md-3">
                <label for="currentHivStatus">Current HIV Status</label>
                <input type="text" name="currentHivStatus" class="form-control" placeholder="Enter Current HIV Status"
                  [(ngModel)]="benefTiObj.currentHivStatus" formControlName="currentHivStatus">
              </div>

              <div class="col-md-3">
                <label for="currentSyphilis">Current Syphilis Status</label>
                <input type="text" name="currentSyphilis" class="form-control"
                  placeholder="Enter Current Syphilis Status" [(ngModel)]="benefTiObj.currentSyphilis"
                  formControlName="currentSyphilis">
              </div>
              <div class="col-md-3">
                <label for="tbStatus">Current TB Status</label>
                <input type="text" name="tbStatus" class="form-control" placeholder="Enter Current TB Status"
                  [(ngModel)]="benefTiObj.tbStatus" formControlName="tbStatus">
              </div>
              <div class="col-md-3">
                <label for="lastRiskVulnerabilityAssessment">Last Risk and Vulnerability Assessment</label>
                <input type="date" name="lastRiskVulnerabilityAssessment" class="form-control"
                  placeholder="Last Risk and Vulnerability Assessment"
                  [(ngModel)]="benefTiObj.lastRiskVulnerabilityAssessment"
                  formControlName="lastRiskVulnerabilityAssessment">
              </div>
            </div>

            <br>
            <hr>
            
            <h6 class="vertical-line">HRG Details</h6>
            <br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="hrgPrimaryCategory">HRG Primary Category</label>
                  <select name="hrgPrimaryCategory" class="form-control" placeholder="Enter HRG Primary Category"
                    [(ngModel)]="benefTiObj.hrgPrimaryCategory" formControlName="hrgPrimaryCategory"
                    [ngClass]="{ 'is-invalid':submitted && beneficiaryTi.hrgPrimaryCategory.errors }" id="hrgprimary"
                    (change)="onCheck()">
                    <option selected disabled>Select one</option>
                    <option *ngFor="let m of hrgcategories" value="{{m.categoryname}}">{{m.categoryname}}</option>
                    <option value="Trucker">Trucker</option>
                    <option value="Migrant">Migrant</option>

                  </select>
                  <div class="error" *ngIf="(submitted && beneficiaryTi.hrgPrimaryCategory.errors)"
                    class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.hrgPrimaryCategory.errors.required">
                      HRG Primary Category is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="hrgSecondaryCategory">HRG Secondary Category</label>
                <select name="hrgSecondaryCategory" class="form-control" placeholder="Enter HRG Secondary Category"
                  [(ngModel)]="benefTiObj.hrgSecondaryCategory" formControlName="hrgSecondaryCategory" id="hrgsecondary"
                  (change)="onCheck()">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let m of hrgcategories" value="{{m.categoryname}}">{{m.categoryname}}</option>
                  <option value="Trucker">Trucker</option>
                  <option value="Migrant">Migrant</option>
                  <option value="Not known/Not Revealed">Not known/Not Revealed</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="subCategory">Sub-Category</label>
                <select name="subCategory" class="form-control" placeholder="Enter Sub-Category"
                  [(ngModel)]="benefTiObj.subCategory" formControlName="subCategory">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let n of subcategoryList" value={{n}}>{{n}}</option>
                </select>
              </div>


              <div class="col-md-3">
                <label for="averageNumberofSexualActsUponRegistration">Avg no. of Sexual
                  Acts upon Registration
                  (Perweek)</label>
                <select name="averageNumberofSexualActsUponRegistration" class="form-control"
                  placeholder=" Enter Average number of Sexual Acts upon Registration (Per week)"
                  [(ngModel)]="benefTiObj.averageNumberofSexualActsUponRegistration"
                  formControlName="averageNumberofSexualActsUponRegistration">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let avgno of averageNumberOfSexualActsPerWeek" value="{{avgno}}">{{avgno}}</option>
                </select>
              </div>
            </div>
            <br><br>
            <div class="row">

              <div class="col-md-3">
                <label for="numberOfYearsInSexWork">Number of years in sex work</label>
                <select name="numberOfYearsInSexWork" class="form-control"
                  placeholder=" Enter Number of years in sex work" [(ngModel)]="benefTiObj.numberOfYearsInSexWork"
                  formControlName="numberOfYearsInSexWork">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let no of numberOfYearsInSexWork" value="{{no}}">{{no}}</option>
                </select>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="alcoholConsume">Do you consume alcohol</label><br>
                  <input type="radio" name="alcoholConsume" value="true" [(ngModel)]="benefTiObj.alcoholConsume" active
                    formControlName="alcoholConsume"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.alcoholConsume.errors }">Yes
                  <input type="radio" name="alcoholConsume" value="false" [(ngModel)]="benefTiObj.alcoholConsume" active
                    formControlName="alcoholConsume"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.alcoholConsume.errors }">No
                  <div *ngIf="submitted && beneficiaryTi.alcoholConsume.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.alcoholConsume.errors.required">This field is required</div>
                  </div>
                </div>
              </div>


              <div class="col-md-3"  *ngIf="!!benefTiObj.alcoholConsume">
                <label for="howManyDaysAWeekIfAlcoholConsuming">If yes, How many days a week</label><br>
                <input type="text" name="howManyDaysAWeekIfAlcoholConsuming" class="form-control"
                  placeholder="How many days a week" [(ngModel)]="benefTiObj.howManyDaysAWeekIfAlcoholConsuming"
                  formControlName="howManyDaysAWeekIfAlcoholConsuming"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.howManyDaysAWeekIfAlcoholConsuming.errors }">
                <div class="error" *ngIf="beneficiaryTi.howManyDaysAWeekIfAlcoholConsuming.dirty&&
                  beneficiaryTi.howManyDaysAWeekIfAlcoholConsuming.hasError('pattern')&&
                  beneficiaryTi.howManyDaysAWeekIfAlcoholConsuming.touched">
                                          Only number between 1-7 is allowed
                                      </div>
              </div>
            </div>
           <br> <hr>
            <h6 class="vertical-line">Migrant HRG Details</h6>
            <br>

            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="occupation">Occupation</label>
                  <select name="occupation" class="form-control" placeholder="Enter Occupation"
                    [(ngModel)]="benefTiObj.occupation" formControlName="occupation"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTi.occupation.errors }">
                    <option selected disabled>Select one</option>
                    <option *ngFor="let occupation of occupationList" value="{{occupation}}">{{occupation}}</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTi.occupation.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTi.occupation.errors.required">Occupation is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="registrationPlace">Registration Done at</label>
                <select name="registrationPlace" class="form-control" placeholder=" Enter Registration Done at"
                  [(ngModel)]="benefTiObj.registrationPlace" formControlName="registrationPlace">
                  <option selected disabled>Select one</option>
                  <option value="Health camp">Health camp</option>
                  <option value="DIC">DIC</option>
                  <option value="Counselling">Counselling</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="durationOfTheStays">Duration of stay at the destination district</label>
                <select name="durationOfTheStays" class="form-control" placeholder=" Enter Duration of stay"
                  [(ngModel)]="benefTiObj.durationOfTheStays" formControlName="durationOfTheStays">
                  <option selected disabled>Select one</option>
                  <option value="less than 1 year">&lt;1 year</option>
                  <option value="1-2 year">1-2 year</option>
                  <option value="3-5 years">3-5 years</option>
                  <option value="5-10 years">5-10 years</option>
                  <option value=">10 years 6">>10 years 6</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="stayingWith">Staying With</label>
                <select name="stayingWith" class="form-control" placeholder="Enter Staying With"
                  [(ngModel)]="benefTiObj.stayingWith" formControlName="stayingWith">
                  <option selected disabled>Select one</option>
                  <option value="Alone">Alone</option>
                  <option value="Parents">Parents</option>
                  <option value="Spouse and children">Spouse and children</option>
                  <option value="Spouse only">Spouse only</option>
                  <option value="Relatives">Relatives</option>
                  <option value="Colleagues/ Co-worker">Colleagues/ Co-worker</option>
                  <option value="Friends">Friends</option>
                </select>
              </div>
            </div>
            <br><br>
            <div class="row">

              <div class="col-md-3">
                <label for="typeOfMobility">Type of Mobility</label>
                <select name="typeOfMobility" class="form-control" placeholder="Enter Type of Mobility"
                  [(ngModel)]="benefTiObj.typeOfMobility" formControlName="typeOfMobility">
                  <option selected disabled>Select one</option>
                  <option value="Individual">Individual</option>
                  <option value="Groups">Groups</option>
                  <option value="Labour contractor">Labour contractor</option>
                  <option value="Broker">Broker</option>
                  <option value="Other 9">Other</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="condomUsage">Used condom during last sex</label><br>
                <input type="radio" name="condomUsage" value="True" [(ngModel)]="benefTiObj.condomUsage"
                  formControlName="condomUsage">Yes
                <input type="radio" name="condomUsage" value="False" [(ngModel)]="benefTiObj.condomUsage"
                  formControlName="condomUsage">No
              </div>

              <div class="col-md-3">
                <label for="sexOtherThanSpouse">Do you go for sex other than your spouse?</label><br>
                <input type="radio" name="sexOtherThanSpouse" value="True" [(ngModel)]="benefTiObj.sexOtherThanSpouse"
                  formControlName="sexOtherThanSpouse">Yes
                <input type="radio" name="sexOtherThanSpouse" value="False" [(ngModel)]="benefTiObj.sexOtherThanSpouse"
                  formControlName="sexOtherThanSpouse">No
              </div>

              <div class="col-md-3">
                <label for="noOfSexualActivity">No. of Sexual activity in mnth apart from
                  spouse</label>
                <input type="text" name="noOfSexualActivity" class="form-control"
                  placeholder="No. of Sexual activity in the month apart from spouse"
                  [(ngModel)]="benefTiObj.noOfSexualActivity" formControlName="noOfSexualActivity">
              </div>
            </div>

            <br><br>
            <div class="row">
              <div class="col-md-3">
                <label for="addiction">Addiction</label>
                <select name="addiction" class="form-control" placeholder="Enter Type of Addiction"
                  [(ngModel)]="benefTiObj.addiction" formControlName="addiction">
                  <option selected disabled>Select one</option>
                  <option value="Individual">Individual</option>
                  <option value="Groups">Groups</option>
                  <option value="Labour contractor">Labour contractor</option>
                  <option value="Broker">Broker</option>
                </select>
              </div>
            </div>

           
            <div class="row" *ngIf="benefTiObj.id">
                <br> <hr>
            <h6 class="vertical-line">OST Details</h6>
            <br>
            
              <div class="col-md-3">
                <label for="ostNumber">OST Number</label>
                <input type="text" name="ostNumber" class="form-control" placeholder="Enter OST Number"
                  [(ngModel)]="benefTiObj.ostNumber" formControlName="ostNumber">
              </div>

              <div class="col-md-3">

                <label for="ostInitiated">OST Initiated</label>
                <select name="ostInitiated" class="form-control" placeholder="Enter option for OST Initiated"
                  [(ngModel)]="benefTiObj.ostInitiated" formControlName="ostInitiated">
                  <option selected disabled>Select one</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="currentDose">Current dose</label>
                <input type="text" name="currentDose" class="form-control" placeholder="Enter Current Dose"
                  [(ngModel)]="benefTiObj.currentDose" formControlName="currentDose">
              </div>
              <div class="col-md-3">
                <label for="dispensedLastDate">Dispensed last</label>
                <input type="date" name="dispensedLastDate" class="form-control"
                  placeholder="Enter date of Last Dispensation" [(ngModel)]="benefTiObj.dispensedLastDate"
                  formControlName="dispensedLastDate">
              </div>
            </div> 
            <div class="row" *ngIf="benefTiObj.beneficiaryId">
              <div class="col-md-3">
                <label for="dispensationStatus">Dispensation Status</label>
                <input type="text" name="dispensationStatus" class="form-control"
                  placeholder="Enter Dispensation Status" [(ngModel)]="benefTiObj.dispensationStatus"
                  formControlName="dispensationStatus">
              </div>

              <div class="col-md-3">
                <label for="nextFollowUpDate">Next Follow-up date</label>
                <input type="date" name="nextFollowUpDate" class="form-control" placeholder="Enter Next Follow up date"
                  [(ngModel)]="benefTiObj.nextFollowUpDate" formControlName="nextFollowUpDate">
              </div>
            </div>
            <br><br>
            <hr>
            <section>
              <div class="text-center">
                <button class="btn-save mr-2" type="submit">Save</button>
                <button class="btn-cancel mr-2" type="reset" (click)="onReset()">Reset</button>
                <button class="btn-cancel" (click)="onCancel()">Cancel</button>
              </div>
            </section>
          </form>


        </div>
      </div>
    </div>

  </div>
</div>