<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Designation </h5>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">
        <div>
            <label class="header-title" *ngIf=!this.designationObj.id>Add Designation</label>
            <label class="header-title" *ngIf=this.designationObj.id>Edit Designation</label>
        </div>
        <div class="card-body">
            <form [formGroup]="addDesignation" (ngSubmit)="onSubmit()">
                <p class="font-smaller m-left-10">Mandatory fields marked with *</p>
                <br />

                <div class="form-row" *ngIf="designationObj.id">
                    <input type="hidden" formControlName="id" [(ngModel)]="designationObj.id" class="form-control">
                </div>
                <section>
                    <div style="float:left;" class="form-group col-4">
                        <label for="designationName" class="control-label required">Title </label>
                        <input type="text" class="form-control" [(ngModel)]="designationObj.title" (input)="duplicationCheck()"
                            formControlName="title" required [pattern]="namePattern"
                            [ngClass]="{'is-invalid': submitted && desgn.title.errors}" />
                            <div *ngIf="submitted && desgn.title.errors" class="invalid-feedback">
                                <div *ngIf="desgn.title.errors.required">Designation name is required</div>
                            </div>
                        <div class="error"  *ngIf="desgn.title.dirty  && desgn.title.hasError('pattern') && 
                    desgn.title.touched">Designation should contain alphabets only
                        </div>
                        <div class="error"  *ngIf="desgn.title.dirty  && desgn.title.hasError('maxlength') && 
                    desgn.title.touched">Designation Name shouldn't exceed 99 characters
                        </div>
                            <div class="error"  *ngIf="error!=''">
                                {{error}}</div>
                    </div>
                </section>

                <section>
                    <div style="float:left;" class="form-group col-4">
                        <label for="active" class="control-label required">Active Status </label>
                        <select [(ngModel)]="designationObj.active" required class="form-control"
                            [ngClass]="{'is-invalid': submitted && desgn.active.errors}" formControlName="active">
                            <option value="true" selected>-Select One-</option>
                            <option value="true" >Active</option>
                            <option value="false">Inactive</option>
                        </select>
                        <div *ngIf="submitted && desgn.active.errors" class="invalid-feedback">
                            <div *ngIf="desgn.active.errors.required">Status is required</div>
                        </div>
                    </div>
                    <div style="float:left;" class="form-group col-4">
                        <label for="description" class="control-label required">Description </label>
                        <textarea type="text" [(ngModel)]="designationObj.description" required class="form-control"
                            rows="4" [ngClass]="{'is-invalid': submitted && desgn.description.errors}"
                            spellcheck="false" formControlName="description" maxlength="500"></textarea>
                        <div *ngIf="submitted && desgn.description.errors" class="invalid-feedback">
                            <div *ngIf="desgn.description.errors.required">Description is required</div>
                        </div>
                    </div>
                    <br style="clear:both;" />
                </section>

                <section>
                    <div class="text-center">
                        <button class="btn-save mr-2" type="submit" *ngIf="!this.designationObj.id">Save</button>
                        <button class="btn-save mr-2" type="submit" *ngIf="this.designationObj.id">Update</button>
                        <button class="btn-cancel mr-2" type="reset" *ngIf="!this.designationObj.id" (click)="onReset()">Reset</button>
                        <button class="btn-cancel" (click)="onReset()" routerLink="/designation/list">Cancel</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>