<div class="content-layout">
        <div class="sub-sub-header-layout">
            <h5 class="sub-sub-header-title">Previous Dispatched Samples</h5>
        </div>
        <hr class="horizontal-line" />
    
        <div class="body-layout">
            <p-table class="table" [columns]="cols" [value]="dispatch_list" sortMode="multiple" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,20]" [totalRecords]="totalRecords" #dt>
    
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>#</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-master let-columns="columns">
                    <tr>
                        <td>
                            <input type="checkbox" id="isCheckBox" (change)="onDispatch($event,master)" />
                        </td>
                        <td *ngFor="let col of columns">
                            {{master[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br />
    
        </div>