<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Role <button class="btn-save float-right sub-sub-header-title" (click)="addRoleButton()">Add Role</button>

        </h5>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">
        <button class="btn-cancel float-right" (click)="goBack()">Back</button>
        <h5 class="vertical-line header-title">Role Details</h5>
        <div class="card m-5">

        <div class="card-body">
            <div class="container">
            <table class="table-responsive-sm-6 table-bordered" width="45%" style="margin: 0px auto;">
                <tr>
                    <td>Role Name</td>
                    <td>{{roleObj.name}}</td>
                </tr>
                <tr>
                    <td>Facility Type</td>
                    <td>{{roleObj.facilityType.facilityTypeName}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{roleObj.isActive?'Active':'Inactive'}}</td>
                </tr>
                <tr>
                    <td>Primary Role </td>
                    <td>{{roleObj.isPrimary?'Yes':'No'}}</td>
                </tr>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>