<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Product <button class="btn-save float-right sub-sub-header-title"
                (click)="navigateToAddProductPage()">Add</button></h5>
    </div>
    <hr class="horizontal-line" />
    <div class="body-layout">
        <h5 class="vertical-line header-title">Product List</h5>
        <div class="row">
            <div class="card card-solid col-md-12 soch-card-default">
                <div class="card-body">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                        </div>
                        <input class="form-control" type="text" 
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                             placeholder="Facility Name, Facility Code">
                    </div>
                </div>
            </div>
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="productListDataSource" matSort>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
                </ng-container>

                <ng-container matColumnDef="shortCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Short Code </th>
                    <td mat-cell *matCellDef="let row"> {{row.shortCode}} </td>
                </ng-container>

                <ng-container matColumnDef="productType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.productType.name}} </td>
                </ng-container>

                <ng-container matColumnDef="division">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
                    <td mat-cell *matCellDef="let row"> {{row.division.name}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.status.name}} </td>
                </ng-container>




                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" class=" mat-icon-button"
                            aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="viewProduct(row)">
                                <span>View</span>
                            </button>
                            <button mat-menu-item (click)="editProduct(row)">
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteProduct(row)">
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </td>

                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>



    </div>
</div>