<div class="content-layout">
    <div class="body-layout">
        <div>
            <h5 class="vertical-line header-title">Referral Admin Settings</h5>
        </div>
        <div>
            <div class="form-group">
                <div class="card-body">
                    <form [formGroup]="settingsForm" (ngSubmit)="doCounselling()">
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <label for="rntcpCenter">RNTCP</label>
                                    <select name="rntcpCenter" class="form-control" formControlName="rntcpCenter"
                                        [(ngModel)]="settingsObj.rntcpCenter"
                                        [ngClass]="{ 'is-invalid': submitted && settings.rntcpCenter.errors}">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label for="dsrcCenter">DSRC</label>
                                    <select name="dsrcCenter" class="form-control" formControlName="dsrcCenter"
                                        [(ngModel)]="settingsObj.dsrcCenter"
                                        [ngClass]="{ 'is-invalid': submitted && settings.dsrcCenter.errors}">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label for="ictcCenter">ICTC</label>
                                    <select name="ictcCenter" class="form-control" formControlName="ictcCenter"
                                        [(ngModel)]="settingsObj.ictcCenter"
                                        [ngClass]="{ 'is-invalid': submitted && settings.ictcCenter.errors}">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <label for="tiCenter">TI</label>
                                    <select name="tiCenter" class="form-control" formControlName="tiCenter"
                                        [(ngModel)]="settingsObj.tiCenter"
                                        [ngClass]="{ 'is-invalid': submitted && settings.tiCenter.errors}">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <section>
                            <div class="text-center">
                                <button class="btn-save mr-2" type="submit"
                                    [disabled]="settingsForm.invalid">Save</button>
                                <button class="btn-cancel mr-2" type="reset" (click)="onReset()">Reset</button>
                                <!-- <button class="btn-cancel" (click)="onCancel()">Cancel</button> -->
                            </div>
                        </section>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>