<!-- <div class="content-layout">
        <div class="sub-sub-header-layout">
            <h5 class="sub-sub-header-title">User 
    
            </h5>
        </div>
        <hr class="horizontal-line" />
    
        <div class="body-layout">
<button class="btn-cancel float-right " (click)="back()">Back</button> 

<div class="card m-5">
    <h5 class="vertical-line header-title">User Details</h5>
    <div class="card-body">
        <div class="container">

            <table class="table-bordered table-hover" style="margin-left:20px; width:1000px; margin-bottom:40px;">
                <tr>
                    <td> Name </td>
                    <td>{{userObj.firstName}}</td>
                </tr>
                <tr>
                    <td> Mobile Number</td>
                    <td>{{userObj.mobileNumber}}</td>
                </tr>
                <tr>
                    <td> Email-Id</td>
                    <td>{{userObj.email}}</td>
                </tr>
                <tr>
                    <td> Designation</td>
                    <td>{{userObj.designation}}</td>
                </tr>
                <tr>
                    <td> Landline </td>
                    <td>{{userObj.username}}</td>
                </tr>
                <tr>
                    <td> Status</td>
                    <td>{{userObj.status}}</td>
                </tr>
                <tr>
                    <td> Username </td>
                    <td>{{userObj.username}}</td>
                </tr>
            </table>
        </div>
    </div>
</div> -->
