<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Product <button class="btn-save float-right sub-sub-header-title"
                (click)="navigateToAddProductPage()">Add Product</button>

        </h5>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">
        <button class="btn-cancel float-right" (click)="goBack()">Back</button>
        <h5 class="vertical-line header-title">Product Details</h5>

        <div class="card-body">
            <table class="table-bordered table-hover" width="75%" style="margin-left:100px;">
                <tr>
                    <td>Product Name</td>
                    <td>{{product.productName}}</td>
                </tr>
                <tr>
                    <td>Unit of Measurement (UOM)</td>
                    <td>{{product.uom.name}}</td>
                </tr>
                <tr>
                    <td>Batch No</td>
                    <td>{{product.batchNo == 'M'?'Mandatory':'Non Mandatory'}}</td>
                </tr>
                <tr>
                    <td>Short Code </td>
                    <td>{{product.shortCode}}</td>
                </tr>
                <tr>
                    <td>Product Type </td>
                    <td>{{product.productType.name}}</td>
                </tr>
                <tr>
                    <td>Division</td>
                    <td>{{product.division.name}}</td>
                </tr>
                <tr>
                    <td>Facility Types</td>
                    <td><span *ngFor="let facilityType of product.facilityTypes">
                            {{ facilityType.name }}
                        </span><span> </span></td>
                </tr>
                <tr>
                    <td>Lab Types</td>
                    <td><span *ngFor="let labType of product.labTypes">
                            {{ labType.name }}
                        </span><span> </span></td>
                </tr>
                <tr>
                    <td>Minimum Shelf Life (%)</td>
                    <td>{{product.minShelfLife}}</td>
                </tr>
                <tr>
                    <td>Product Image</td>
                    <td>{{product.productImage}}</td>
                </tr>
                <tr>
                    <td>Formulation / Composition</td>
                    <td>{{product.formulationComposition}}</td>
                </tr>
                <tr>
                    <td>Product Details</td>
                    <td>{{product.productDetails}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{product.status?'Active':'Inactive'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>