<div class="content-layout">
  <div class="sub-sub-header-layout">
      <h5 class="sub-sub-header-title">Masters 
          <button class="btn-save float-right sub-sub-header-title" (click)="addMasterBtn()">Add Value</button>
        </h5>
  </div>
  <hr class="horizontal-line" />

  <div class="body-layout">
    <div>
      <h5 class="vertical-line header-title">{{masterTitle}} <button style="float: right;" class="btn-cancel" (click)="goBack()">
          Back</button></h5>
    </div>


    <!-- <h5 class="card-header">{{masterTitle}}</h5> -->
    <div class="card-body">
     

      <div class="mt-5">

        <p-table class="table" [columns]="cols" [value]="masterView_list" [paginator]="true" sortMode="multiple" [rows]="10"
          [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20]" #dt>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Serial number</th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
              </th>
              <th>
                Option
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-master let-columns="columns" let-i="rowIndex">
            <tr>
              <td>{{i+1}}</td>
              <td *ngFor="let col of columns">
                {{master[col.field]}}
              </td>
              <td>
                <button style="background-color: transparent;border: none" (click)="editMaster(master)">
                  <fa-icon style="color:rgb(110, 100, 70);font-size: 15px;" [icon]="edit_icon"></fa-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>