<div class="content-layout">

    <section class="content">
        <div class="card-body">
            <div class="card-body">
                <form [formGroup]="transferForm" (ngSubmit)="searchBeneficiary()">
                    <div *ngIf="beneficiaryId">
                        <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
                    </div>
                    <div class="form-row">
                        <div class="input-group">
                            <input type="text" [formControl]="searchValue" class="form-control"
                                placeholder="Search by UID / Mobile No:"
                                style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />

                            <button class="btn btn-primary" type="submit"
                                style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
                                <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
                            </button>
                        </div>
                    </div>
                </form>
            </div>
         
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container> -->

                    <ng-container matColumnDef="uidNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.uidNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="transferTo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transfer To </th>
                        <td mat-cell *matCellDef="let row"> {{row.transferTo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="transferDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.transferDate}} </td>
                    </ng-container>

                    
                    <ng-container matColumnDef="transferStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row"> {{row.transferStatus}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </section>
</div>