<div class="content-layout">
  <div class="body-layout">
    <div>
      <h5 class="vertical-line header-title">Beneficiary Screening</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="screeningForm" (ngSubmit)="searchBeneficiary()">

        <div *ngIf="beneficiaryId">
          <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
        </div>
        <div class="form-row">
          <div class="input-group">

            <input type="text" [formControl]="searchValue" class="form-control" placeholder="Search by UID / Mobile No:"
              style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />

            <button class="btn btn-primary" type="submit"
              style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
              <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
            </button>

          </div>
        </div>
      </form>
    </div>


    <form [formGroup]="screeningForm" (submit)="saveScreening()">

      <!-- <div class="form-row" *ngIf="screeningId">
        <input type="hidden" formControlName="screeningId" class="form-control">
      </div> -->
      <hr>
      <div class="m-3">
        <h6 class="vertical-line">General Data</h6>
        <div class="card-body">

          <div class="form-row">

            <div class="form-group col-4">
              <label class="control-label required">UID</label>
              <input type="text" formControlName="beneficiaryUId" class="form-control" readonly
                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.beneficiaryUId.errors}" />
              <div *ngIf="submitted&&beneficiaryScreen.beneficiaryUId.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.beneficiaryUId.errors.required">UID is required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">Name</label>
              <input type="text" formControlName="beneficiaryName" class="form-control" readonly
                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.beneficiaryName.errors}" />
              <div *ngIf="submitted&&beneficiaryScreen.beneficiaryName.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.beneficiaryName.errors.required">Name is required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">Mobile Number</label>
              <input type="text" formControlName="mobileNumber" class="form-control" readonly
                [ngClass]="{ 'is-invalid':submitted&&beneficiaryScreen.mobileNumber.errors}" maxlength=10
                pattern="^[1-9]\d{9}$|^[1-9]\d{9}$" />
              <div *ngIf="submitted&&beneficiaryScreen.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.mobileNumber.errors.required">Name is required</div>
              </div>
              <div class="error"  *ngIf="beneficiaryScreen.mobileNumber.dirty &&beneficiaryScreen.mobileNumber.hasError('pattern')
                 &&beneficiaryScreen.mobileNumber.touched">10 digits only
              </div>
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-4">
              <label class="control-label required">Beneficiary Activity Status</label>
              <select formControlName="beneficiaryActivityStatus"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.beneficiaryActivityStatus.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="Pending R&V Assessmen">Pending R&V Assessment</option>
                <option value="Pending Commodity Distribution">Pending Commodity Distribution</option>
                <option value="Pending for Screening">Pending for Screening</option>
                <option value="Pending Referral">Pending Referral</option>
                <option value="Pending Counselling">Pending Counselling</option>
                <option value="Pending STI Treatment">Pending STI Treatment</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.beneficiaryActivityStatus.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.beneficiaryActivityStatus.errors.required">Beneficiary Activity Status is
                  required</div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <hr>
      <div class="m-3">
        <h6 class="vertical-line">Screening Details</h6>
        <div class="card-body">
          <div class="form-row ">

            <div class="form-group col-4">
              <label class="control-label required">Select Infection</label>
              <select formControlName="infection"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.infection.errors }" class="form-control">
                <option value="" selected disabled>-Select One-</option>
                <option value="HIV">HIV</option>
                <option value="Syphilis">Syphilis</option>
                <option value="TB">TB</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.infection.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.infection.errors.required">Infection is required</div>
              </div>
            </div>

            <div class="form-group col-2">
              <label class="control-label required">Date of Screening</label>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" name="dateOfScreening" class="form-control"
                  formControlName="dateOfScreening"
                  [ngClass]="{ 'is-invalid':submitted && beneficiaryScreen.dateOfScreening.errors}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div *ngIf="submitted && beneficiaryScreen.dateOfScreening.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.dateOfScreening.errors.required">Date is required</div>
              </div>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-4">
              <label class="control-label required">Screening Status (HIV)</label>
              <select formControlName="screeningStatusHiv"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.screeningStatusHiv.errors }"
                class="form-control ">
                <option value="" selected disabled>-Select One-</option>
                <option value="Non-reactive">Non-reactive</option>
                <option value="Reactive">Reactive</option>
                <option value="Refer for Screening for HIV">Refer for Screening for HIV</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.screeningStatusHiv.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.screeningStatusHiv.errors.required">Screening Status is required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">Screening Status (Syphilis)</label>
              <select formControlName="screeningStatusSyphilis"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.screeningStatusSyphilis.errors }"
                class="form-control">
                <option value="" selected disabled>-Select One-</option>
                <option value="Negative">Negative</option>
                <option value="Positive">Positive</option>
                <option value="Refer for Screening for Syphilis">Refer for Screening for Syphilis</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.screeningStatusSyphilis.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.screeningStatusSyphilis.errors.required">Screening Status is required
                </div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">Screening Status (TB)</label>
              <select formControlName="tbStatus" (change)="onChangeTbStatus()"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.tbStatus.errors }" class="form-control">
                <option value="" selected disabled>-Select One-</option>
                <option value="Negative">Negative</option>
                <option value="Positive">Positive</option>
                <option value="Refer for Screening for TB">Refer for Screening for TB</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.tbStatus.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.tbStatus.errors.required">Screening Status is required</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card m-3"
        *ngIf="this.tiScreeningDetails.tbStatus=='Positive' ||this.tiScreeningDetails.tbStatus=='Refer for Screening for TB'">
        <h5 class="m-sub-header"><u>Screening Details for TB</u></h5>
        <div class="card-body">

          <div class="form-row ">

            <div class="form-group col-4">
              <label class="control-label required">Prolonged cough > 3 weeks</label>
              <select formControlName="prolongedCoughGreaterThanThreeWeeks"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.prolongedCoughGreaterThanThreeWeeks.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.prolongedCoughGreaterThanThreeWeeks.errors"
                class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.prolongedCoughGreaterThanThreeWeeks.errors.required">Prolonged cough is
                  required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">Fever > 3 weeks</label>
              <select formControlName="feverGreaterThanThreeWeeks"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.feverGreaterThanThreeWeeks.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.feverGreaterThanThreeWeeks.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.feverGreaterThanThreeWeeks.errors.required">Fever status is
                  required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Presence of sweat > 3 weeks</label>
              <select formControlName="presenceOfSweatGreaterThanThreeWeeks"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.presenceOfSweatGreaterThanThreeWeeks.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.presenceOfSweatGreaterThanThreeWeeks.errors"
                class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.presenceOfSweatGreaterThanThreeWeeks.errors.required">Presence of sweat is
                  required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">Weightloss > 3kg in the last 4 weeks </label>
              <select formControlName="weightlossGreaterThan3kgInLastFourWeeks"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryScreen.weightlossGreaterThan3kgInLastFourWeeks.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <div *ngIf="submitted && beneficiaryScreen.weightlossGreaterThan3kgInLastFourWeeks.errors"
                class="invalid-feedback">
                <div *ngIf="beneficiaryScreen.weightlossGreaterThan3kgInLastFourWeeks.errors.required">Weightloss of
                  sweat
                  is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="text-center">
        <button class="btn-save mr-2" type="submit">Save</button>
        <button class="btn-cancel mr-2" (click)="onCancel()">Cancel</button>
      </div>

    </form>

  </div>
</div>