.loginbox{
    width: 30%;
    background: white;
    color: gray;
    box-sizing: border-box;
    padding: 10px 40px;
    float: right;
    margin-top: 24px;
    margin-right: 30px;

}
.org_text{
    position: relative;
    top: 24%;
    width: 475px;
}
.div_align{
    width:100%;
    height:1020px;
    /* position:absolute; */
    /* margin-left: 10px;
    margin-top: 10px; */
    background-color: #2BA8E8;
}
.foot_align{
    position: relative;
    display: inline-block;
    font-size: 45px;
    font-weight: bolder;
    margin-left: 50px;
    letter-spacing: 0ch;
    width: 475px;
}
.foot_align2{
    position: relative;
    font-size: 22px;
    margin-left: 50px;
    display: inline-block;
    font-weight: 500;
}
.imageLogo{
    margin-left: 80px;
    margin-top: 30px;
    height: 100px;
    widows: 220px;
}
.image{
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left:calc(50% - 50px);
    border: 2px;
    border-color: black;
}

h2{
    margin: 0;
    padding: 0 0 px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
banner{
    font-size: 45px;
    font-weight: bolder;
}
.loginbox label{
    margin: 5px;
    padding:0;
    font-weight: bold;
}
.label_line{
    padding-bottom: 20px;
    width: 100%;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color:#383737;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]{
    background: transparent;
    outline: none;

}
h3{
    padding: 0 0 10px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
long_button{
    width: 100%;
}