<div class="content-layout div_align">
    <img class="imageLogo" src="assets/Images/naco2.PNG">
    <div class="loginbox">
            <label class="header-title m-l-32 black-txt">Welcome to</label>
            <label class="label_line">ProjectSOCH</label>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div *ngIf="showError" class="alert alert-danger">
                        <fa-icon [icon]="exclaimation"></fa-icon>{{error}}
                    </div>
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>CAPTCHA</label>
                    <div>
                        <img class=" cap_image" src="assets/Images/Capture.PNG">
                    </div>
                    <input class="form-control" value=" 917216" />
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn-black" style="width: 100%;">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <!-- <a routerLink="/register" class="btn btn-link">Register</a>-->
                </div>
                <a class="m-l-32">Forgot password?</a>
            </form>
    </div>
        <div class="org_text">
                <p class="foot_align">National AIDS Control Organization</p>
                <p class="foot_align2">Integrated Management System</p>
        </div>
</div>
<app-footer></app-footer>
