<div class="content-layout">
  <div class="body-layout">
    <div>
      <h5 class="vertical-line header-title">R & V Assessment</h5>
    </div>



    <form [formGroup]="R_V_AssesmentForm" (ngSubmit)="searchBeneficiary()">
      <div *ngIf="beneficiaryId">
        <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
      </div>
      <div class="form-row m-4">
        <div class="input-group mb-3">
          <input type="text" [formControl]="searchValue" class="form-control" placeholder="Search by UID / Mobile No:"
            style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />
          <button class="btn btn-primary" type="submit"
            style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
            <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
          </button>
        </div>
      </div>
    </form>
    <hr>
    <form [formGroup]="R_V_AssesmentForm" (submit)="saveRVAssesment()">
      <div class="m-3">
        <h6 class="vertical-line">General Data</h6>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-4">
              <label class="control-label required">UID</label>
              <input type="text" formControlName="beneficiaryUId" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.beneficiaryUId.errors }" />
              <div *ngIf="submitted&&beneficiaryRV.beneficiaryUId.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.beneficiaryUId.errors.required">UID is required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">Name</label>
              <input type="text" formControlName="beneficiaryName" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.beneficiaryName.errors }" />
              <div class="error" *ngIf="beneficiaryRV.beneficiaryName.dirty&&
                beneficiaryRV.beneficiaryName.hasError('maxlength')&&beneficiaryRV.beneficiaryName.touched">
                                       Maximum only 99 characters are allowed
              </div>
              <div *ngIf="submitted&&beneficiaryRV.beneficiaryName.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.beneficiaryName.errors.required">Name is required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required ">Mobile Number</label>
              <input type="text" formControlName="mobileNumber" class="form-control" maxlength=10
                pattern="^[1-9]\d{9}$|^[1-9]\d{9}$"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.mobileNumber.errors }" readonly />
              <div class="error"  *ngIf="beneficiaryRV.mobileNumber.dirty &&beneficiaryRV.mobileNumber.hasError('pattern')
                   &&beneficiaryRV.mobileNumber.touched">10 digits only
              </div>
              <div *ngIf="submitted&&beneficiaryRV.mobileNumber.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.mobileNumber.errors.required">Mobile number is required</div>
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-4">
              <label class="control-label">Beneficiary Activity Status</label>
              <select formControlName="beneficiaryActivityStatus" class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="Pending R&V Assessmen">Pending R&V Assessment</option>
                <option value="Pending Commodity Distribution">Pending Commodity Distribution</option>
                <option value="Pending for Screening">Pending for Screening</option>
                <option value="Pending Referral">Pending Referral</option>
                <option value="Pending Counselling">Pending Counselling</option>
                <option value="Pending STI Treatment">Pending STI Treatment</option>
              </select>
            </div>

            <!-- <div class="form-group col-4">
          <label class="control-label ">OST Code</label>
          <input type="text" name="ostCode" class="form-control" placeholder="Enter ost code" formControlName="ostCode"
            [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.ostCode.errors }">
          <div class="errors" *ngIf="beneficiaryRV.ostCode.dirty&&
            beneficiaryRV.ostCode.hasError('maxlength')&&beneficiaryRV.ostCode.touched">
                                   Maximum only 99 characters are allowed
          </div>
        </div> -->
            <div class="form-group col-2">
              <label class="control-label">Assessment Date</label>
              <mat-form-field>
                <input matInput [matDatepicker]="picker2" name="assessmentDate" class="form-control"
                  formControlName="assessmentDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="m-3" *ngIf="hrgPrimaryCategory!='IDU' && hrgSecondaryCategory!='IDU'">
        <hr>
        <h6 class="vertical-line">Risk and Vulnerability Assessment (Core TIs)</h6>
        <div class="card-body">
          <div class="form-row ">
            <div class="form-group col-4">
              <label class="control-label required">High number of sexual encounters (> 15 per week)</label>
              <select formControlName="highNumberOfSexualEncounters"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.highNumberOfSexualEncounters.errors }"
                class="form-control" [(ngModel)]="beneficiaryRVAssessment.highNumberOfSexualEncounters">
                <option value="" selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.highNumberOfSexualEncounters.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.highNumberOfSexualEncounters.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Condom Requirement per week</label>
              <input type="text" name="condomRequirementPerWeekTi" class="form-control"
                formControlName="condomRequirementPerWeekTi"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.condomRequirementPerWeekTi.errors }">

              <div class="errors" *ngIf="beneficiaryRV.condomRequirementPerWeekTi.dirty&&
                beneficiaryRV.condomRequirementPerWeekTi.hasError('maxlength')&&beneficiaryRV.condomRequirementPerWeekTi.touched">
                                       Maximum only 99 characters are allowed
                                    </div>
              <div *ngIf="submitted && beneficiaryRV.condomRequirementPerWeekTi.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.condomRequirementPerWeekTi.errors.required">Field is required</div>
              </div>
            </div>

            <div class="form-group col-4">
              <label class="control-label required">first year in sex work and below age of 25 years</label>
              <select formControlName="firstYearInSexWorkAndBelowAgeOf25Years"
                [(ngModel)]="beneficiaryRVAssessment.firstYearInSexWorkAndBelowAgeOf25Years"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.firstYearInSexWorkAndBelowAgeOf25Years.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.firstYearInSexWorkAndBelowAgeOf25Years.errors"
                class="invalid-feedback">
                <div *ngIf="beneficiaryRV.firstYearInSexWorkAndBelowAgeOf25Years.errors.required">Field is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-4">
              <label class="control-label required">STI reported in last three months</label>
              <select formControlName="stiReportedInLastThreeMonthsTi"
                [(ngModel)]="beneficiaryRVAssessment.stiReportedInLastThreeMonthsTi"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.stiReportedInLastThreeMonthsTi.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.stiReportedInLastThreeMonthsTi.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.stiReportedInLastThreeMonthsTi.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Alcohol</label>
              <select formControlName="alcohol" [(ngModel)]="beneficiaryRVAssessment.alcohol"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.alcohol.errors }" class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.alcohol.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.alcohol.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Unsafe sex (more money)</label>
              <select formControlName="unsafeSex" [(ngModel)]="beneficiaryRVAssessment.unsafeSex"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.unsafeSex.errors }" class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.unsafeSex.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.unsafeSex.errors.required">Field is required</div>
              </div>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-4">
              <label class="control-label required">Violence</label>
              <select formControlName="violence" [(ngModel)]="beneficiaryRVAssessment.violence"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.violence.errors }" class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.violence.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.violence.errors.required">Field is required</div>
              </div>
            </div>

            <div class="form-group col-7">
              <label class="control-label required">Low condom use(not used condoms in more than 2 sex acts out of last
                10
                sex acts)</label>
              <select formControlName="lowCondomUse" [(ngModel)]="beneficiaryRVAssessment.lowCondomUse"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.lowCondomUse.errors }" class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.lowCondomUse.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.lowCondomUse.errors.required">Field is required</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="m-3" *ngIf="hrgPrimaryCategory=='IDU'||hrgSecondaryCategory=='IDU'">
        <hr>
        <h6 class="vertical-line">Risk and Vulnerability Assessment (IDUs)</h6>
        <div class="card-body">
          <div class="form-row ">
            <div class="form-group col-4">
              <label class="control-label required">High number of drug using partners (>3 per month)</label>
              <select formControlName="highNumberOfDrugUsingPartners"
                [(ngModel)]="beneficiaryRVAssessment.highNumberOfDrugUsingPartners"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.highNumberOfDrugUsingPartners.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.highNumberOfDrugUsingPartners.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.highNumberOfDrugUsingPartners.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">sharing of needles/syringes</label>
              <select formControlName="sharingOfNeedlesSyringes"
                [(ngModel)]="beneficiaryRVAssessment.sharingOfNeedlesSyringes"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.sharingOfNeedlesSyringes.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.sharingOfNeedlesSyringes.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.sharingOfNeedlesSyringes.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">injecting > 3 times in a day</label>
              <select formControlName="injectingGreaterThanThreeTimes"
                [(ngModel)]="beneficiaryRVAssessment.injectingGreaterThanThreeTimes"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.injectingGreaterThanThreeTimes.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.injectingGreaterThanThreeTimes.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.injectingGreaterThanThreeTimes.errors.required">Field is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-4">
              <label class="control-label required">STI reported in last three months</label>
              <select formControlName="stiReportedInLastThreeMonthsIdu"
                [(ngModel)]="beneficiaryRVAssessment.stiReportedInLastThreeMonthsIdu"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.stiReportedInLastThreeMonthsIdu.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.stiReportedInLastThreeMonthsIdu.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.stiReportedInLastThreeMonthsIdu.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Use of Alcohol and other drugs apart from injections</label>
              <select formControlName="useOfAlcoholAndOtherDrugsApartFromInjections"
                [(ngModel)]="beneficiaryRVAssessment.useOfAlcoholAndOtherDrugsApartFromInjections"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.useOfAlcoholAndOtherDrugsApartFromInjections.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.useOfAlcoholAndOtherDrugsApartFromInjections.errors"
                class="invalid-feedback">
                <div *ngIf="beneficiaryRV.useOfAlcoholAndOtherDrugsApartFromInjections.errors.required">Field is
                  required
                </div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Unsafe sex (sex with non-regular partner)</label>
              <select formControlName="unsafeSexSexWithNonRegularPartner"
                [(ngModel)]="beneficiaryRVAssessment.unsafeSexSexWithNonRegularPartner"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.unsafeSexSexWithNonRegularPartner.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.unsafeSexSexWithNonRegularPartner.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.unsafeSexSexWithNonRegularPartner.errors.required">Field is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-4">
              <label class="control-label required">Mobility from one hotspot to another</label>
              <select formControlName="mobilityFromOneHotspotToAnother"
                [(ngModel)]="beneficiaryRVAssessment.mobilityFromOneHotspotToAnother"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.mobilityFromOneHotspotToAnother.errors }"
                class="form-control">
                <option selected disabled>-Select One-</option>
                <option value="1">YES</option>
                <option value="0">NO</option>
              </select>
              <div *ngIf="submitted && beneficiaryRV.mobilityFromOneHotspotToAnother.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.mobilityFromOneHotspotToAnother.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Condom Requirement per week</label>
              <input type="text" name="condomRequirementPerWeekIdu" class="form-control"
                placeholder="Enter condom requirement" formControlName="condomRequirementPerWeekIdu"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.condomRequirementPerWeekIdu.errors }">

              <div class="errors" *ngIf="beneficiaryRV.condomRequirementPerWeekIdu.dirty&&
                beneficiaryRV.condomRequirementPerWeekIdu.hasError('maxlength')&&beneficiaryRV.condomRequirementPerWeekIdu.touched">
                                       Maximum only 99 characters are allowed
                                    </div>
              <div *ngIf="submitted && beneficiaryRV.condomRequirementPerWeekIdu.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.condomRequirementPerWeekIdu.errors.required">Field is required</div>
              </div>
            </div>
            <div class="form-group col-4">
              <label class="control-label required">Needles/syringes requirement per week</label>
              <input type="text" name="needlesSyringesRequiremenPerWeek" class="form-control"
                placeholder="Enter Needle/Syringes requirement" formControlName="needlesSyringesRequiremenPerWeek"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryRV.needlesSyringesRequiremenPerWeek.errors }">

              <div class="errors" *ngIf="beneficiaryRV.needlesSyringesRequiremenPerWeek.dirty&&
                beneficiaryRV.needlesSyringesRequiremenPerWeek.hasError('maxlength')&&beneficiaryRV.needlesSyringesRequiremenPerWeek.touched">
                                       Maximum only 99 characters are allowed
                                    </div>
              <div *ngIf="submitted && beneficiaryRV.needlesSyringesRequiremenPerWeek.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryRV.needlesSyringesRequiremenPerWeek.errors.required">Field is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <button class="btn-save mr-2" type="submit">Save</button>
        <button class="btn-cancel mr-2" type="reset" (click)="onReset()">Reset</button>
        <button class="btn-cancel mr-2" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>

</div>