<div class="content-layout">

    <section class="content">



        <div class="mat-app-background basic-container">
            <nav mat-tab-nav-bar class="mb-3">
                <a mat-tab-link (click)="activeLink = link" [active]="activeLink == link">Transfer To Self</a>
                <a mat-tab-link (click)="activeLink = link" [active]="activeLink == link">Transfer To Others</a>
            </nav>
            <button class="btn-cancel" (click)="addColumn()"> Bulk Delete </button>
            <button class="btn-cancel ml-1" (click)="removeColumn()"> Bulk Enable </button>
            <button class="btn-cancel ml-1" (click)="shuffle()"> Bulk Disable </button>
            <div class="mat-elevation-z8 mt-3">

                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="progress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="color">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                        <td mat-cell *matCellDef="let row"> {{row.color}} </td>
                    </ng-container>
                    <!-- Context Menu -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button [matMenuTriggerFor]="menu" class=" mat-icon-button" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </td>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Action 1</span>
                            </button>
                            <button mat-menu-item disabled>
                                <mat-icon>voicemail</mat-icon>
                                <span>Action 2</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Action 3</span>
                            </button>
                        </mat-menu>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </section>
</div>