<div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">
            
            <button class="btn-save float-right sub-sub-header-title" (click)="RecordResult()">
                Record Result
            </button>
        </h5>
    </div>
<table mat-table #t [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" readOnly>
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

    <!-- id Column -->
    <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container> -->

    <!-- beneficiaryName Column -->
    <ng-container matColumnDef="beneficiaryName">
        <th mat-header-cell *matHeaderCellDef>BeneficiaryName</th>
        <td mat-cell *matCellDef="let element">{{ element.beneficiaryName }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="artNo">
        <th mat-header-cell *matHeaderCellDef>Art</th>
        <td mat-cell *matCellDef="let element">{{ element.artNo }}</td>
    </ng-container>

    <!-- preArt Column -->
    <ng-container matColumnDef="preArtNo">
        <th mat-header-cell *matHeaderCellDef>Pre-Art</th>
        <td mat-cell *matCellDef="let element">{{ element.preArtNo }}</td>
    </ng-container>

    <ng-container matColumnDef="sampleCollectedDate">
        <th mat-header-cell *matHeaderCellDef>Sample Date</th>
        <td mat-cell *matCellDef="let element">{{ element.sampleCollectedDate }}</td>
    </ng-container>

    <ng-container matColumnDef="lastTestCount">
        <th mat-header-cell *matHeaderCellDef>lastTestCount</th>
        <td mat-cell *matCellDef="let element">{{ element.lastTestCount }}</td>
    </ng-container>
    <ng-container matColumnDef="lastTestDate">
        <th mat-header-cell *matHeaderCellDef>lastTestDate</th>
        <td mat-cell *matCellDef="let element">{{ element.lastTestDate }}</td>
    </ng-container>
    <ng-container matColumnDef="currentTestCount">
        <th mat-header-cell *matHeaderCellDef>currentTestCount</th>
        <td mat-cell *matCellDef="let row; let i = index">
           
            <mat-form-field  appearance="outline">
                <input  matInput placeholder="Enter Count" [value]="row.currentTestCount"
                    [(ngModel)]="row.currentTestCount" 
                    [disabled]="!sample[0]"
                    (input)="onChangeCount($event,row)"  />
            </mat-form-field>
        
        
        </td>
    </ng-container>
    <ng-container matColumnDef="testDate">
        <th mat-header-cell *matHeaderCellDef>testDate</th>
        <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" [value]="row.testDate" [(ngModel)]="testDate" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </td>
    </ng-container>
    <ng-container matColumnDef="nextAppoinment">
        <th mat-header-cell *matHeaderCellDef>nextAppoinment</th>
        <td mat-cell *matCellDef="let row; let i = index">
            <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" [value]="row.nextAppoinment"
                    [(ngModel)]="nextAppoinment" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </td>
    </ng-container>
    <ng-container matColumnDef="sampleType">
        <th mat-header-cell *matHeaderCellDef>sampleType</th>
        <td mat-cell *matCellDef="let row; let i = index">
            <select required (change)="sampleUpdate($event.target.value,row)">
                <option *ngFor="let sample of sample_types"  [value]="sample.value">
                    {{ sample.viewValue }}
                </option>
            </select>
        </td>
    </ng-container>

    <!-- <ng-container matColumnDef="op">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row; let i = index">
            <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
        </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>