/* .wrapper{
    margin: 1.5rem;
    padding: 0.4rem;
}
.filter-by-label{
    padding: 0.5rem 1.2rem;
    background-color: #000;
    color: #fff;
}
.filter-by-select{
    padding: 0.5rem;
    width: 16rem;
}
.search-keyword{
    padding: 0.4rem;
    width: 25rem;
}
.filter-apply-btn{
    margin-left: 1.8rem;
    border: 1px solid #c4b8b8;
    padding: 0.5rem 2rem;
    color: #c4b8b8;
    background: none !important;
}
.filter-reset-btn{
    padding: 0 1rem 0 1rem;
    background: none;
    border-bottom: 2px solid #1b1a1a !important;
    color: #0b0b0b;
    border: 1px transparent;
    margin: 0.2rem 1rem 0;
}
.first-header,.second-header{
    width: 3rem;
}
.th-name{
    width: 15rem;
}
.th-user-name{
    width: 15rem;
}
.th-email{
    width: 15rem;
}
.th-role{
    width: 11rem;
}
.th-mobile{
    width: 8rem;
}
.th-status{
    width: 7rem;
}
.th-background-color{
    background-color: #9f9ea1 !important;
    color: #fff !important;
}
p-table > div > div > table > tbody > tr > td {
    border: 1px solid transparent !important; 
}
p-table > div > div > table > thead > tr > th {
    border: 1px solid #847c7c !important; 
}

.expandoriginalrow{
    width: 87rem;
    background-color: #f5f5f5;
    height: 5rem;
} */