<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Users <button class="btn-save float-right sub-sub-header-title" 
                (click)="addUser()">Add
            </button></h5>
    </div>
    <hr class="horizontal-line" />
    <div class="body-layout">

            <h5 class="vertical-line header-title">User List</h5>

        <section class="content">
            <div class="container-fluid">
                <!-- <div class="row">
            <div class="col-md-12">
                <div class="card card-solid">
                        <div class="card-body">
                    <form role="form">
                        <div class="row">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                                </div>
                                <input type="text" class="form-control" placeholder="Role Name, Type, Access Level">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary btn-sm">Apply</button>
                                
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div> -->

                <div class="row">
                    <div class="card card-solid col-md-12 soch-card-default">
                        <div class="card-body">
                            <form role="form">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                                    </div>
                                    <input class="form-control" type="text" 
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                         placeholder="User Name, Role Name, Email, Mobile number">

                                    <!-- <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary btn-sm">Apply</button>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card card-solid soch-card-default">
                        <div class="card-body pb-0">
                            <div class="row d-flex align-items-stretch">
                                <p-table class="table" [columns]="cols" [value]="user_list" dataKey="id"
                                     #dt>
                                    <ng-template pTemplate="header" let-columns let-user>
                                        <tr>
                                            <th class="small-col">Serial No.</th>
                                            <!-- <th class="first-header th-background-color"></th>
                                            <th class="second-header th-background-color">
                                                <input type="checkbox" name="" id=""></th> -->
                                            <th class="th-background-color" *ngFor="let col of columns"
                                                [pSortableColumn]="col.field" [ngClass]="{'th-name': col.header==='Name',
                                                                                'th-user-name': col.header==='User Name',
                                                                                'th-email': col.header==='Email',
                                                                                'th-role': col.header=='Role',
                                                                                'th-mobile': col.header=='Mobile',
                                                                                'th-status': col.header=='Status'
                                                                                }">
                                                {{col.header}}
                                                <p-sortIcon class="float-right sort-icon-color" [field]="col.field">
                                                </p-sortIcon>
                                            </th>
                                            <th class="th-background-color">Actions</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-user let-expanded="expanded"
                                        let-columns="columns" let-i="rowIndex">
                                        <tr>
                                            <!-- <td>
                                                <a [pRowToggler]="user">
                                                    <i
                                                        [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                                </a>
                                            </td>
                                            <td><input type="checkbox" name="" id=""></td> -->
                                            <td>{{i+1}}</td>
                                            <td *ngFor="let col of columns">
                                                <span
                                                    *ngIf="col.field ==='isActive' && user[col.field]===true">Active</span>
                                                <span
                                                    *ngIf="col.field ==='isActive' && user[col.field]===false">InActive</span>
                                                <span *ngIf="col.field !=='isActive' && col.field !=='roleDto'">{{user[col.field]}}</span>
                                                <span *ngIf="col.field !=='isActive' && col.field =='roleDto'" >
                                                    <p *ngFor="let iii of user[col.field]">{{iii.name}}</p>
                                                </span>
                                            </td>
                                            <td>
                                                <div>
                                                    <button class="float-left"
                                                        style="margin-top: 0.3rem;background-color: transparent;border: none;"
                                                        (click)="editUser(user)">
                                                        <fa-icon style="color:rgb(110, 100, 70);font-size: 15px;"
                                                            [icon]="edit_icon">
                                                        </fa-icon>
                                                    </button>
                                                    <button class="float-right btn" mwlConfirmationPopover
                                                        [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                                                        placement="left" (confirm)="deleteUser(user)"
                                                        (cancel)="cancelClicked = true">
                                                        <fa-icon style="color:rgb(110, 100, 70);font-size: 15px;"
                                                            [icon]="trash_icon">
                                                        </fa-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage" let-columns>
                                        <tr >
                                            <td [attr.colspan]="columns.length + 3">
                                                No records found
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="rowexpansion" let-user let-columns="columns">
                                        <div class="row expandoriginalrow">
                                            <div class="col-3">
                                                Name
                                            </div>
                                            <div class="col-3">
                                                User Name
                                            </div>
                                            <div class="col-3">
                                                Email
                                            </div>
                                            <div class="col-3">
                                                Mobile
                                            </div>
                                        </div>
                                        <div class="row expandoriginalrow">
                                            <div class="col-3">
                                                Access Level
                                            </div>
                                            <div class="col-3">
                                                Role
                                            </div>
                                            <div class="col-3">
                                                Designation
                                            </div>
                                            <div class="col-3">
                                                Landline
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>