<button class="btn-cancel float right" (click)="back()">Back</button> 

<div class="card m-5">
    <h5 class="card-header">Beneficiary Details</h5>
    <div class="card-body">
        <div class="container">

            <table class="table-bordered table-hover" style="margin-left:20px; width:1000px; margin-bottom:40px;">
              
                <tr>
                    <td> Code</td>
                    <td>{{benefObj.code}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{benefObj.firstName}}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>{{benefObj.age}}</td>
                </tr>
                <tr>
                    <td>Month</td>
                    <td>{{benefObj.month}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{benefObj.gender}}</td>
                </tr>
                <tr>
                    <td> Date of Birth</td>
                    <td>{{benefObj.dateOfBirth}}</td>
                </tr>
                <tr>
                    <td> MobileNumber</td>
                    <td>{{benefObj.mobileNumber}}</td>
                </tr>
                <tr>
                    <td> AdharNumber</td>
                    <td>{{benefObj.adharNumber}}</td>
                </tr> 
                <tr>
                    <td> Address</td>
                    <td>{{benefObj.address}}</td>
                </tr> 
                <tr>
                    <td> State</td>
                    <td>{{benefObj.state}}</td>
                </tr>
                <tr>
                    <td>District</td>
                    <td>{{benefObj.district}}</td>
                </tr>

                <tr>
                    <td>City/Village</td>
                    <td>{{benefObj.city}}</td>
                </tr>
                <tr>
                    <td>Pincode</td>
                    <td>{{benefObj.pincode}}</td>
                </tr>
                <tr>
                    <td>Facilities Visited</td>
                    <td>{{benefObj.facilitiesVisited}}</td>
                </tr>
                <tr>
                    <td>Agent Name</td>
                    <td>{{benefObj.agentName}}</td>
                </tr>
                <tr>
                    <td>Barcode</td>
                    <td>{{benefObj.barcode}}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{benefObj.category}}</td>
                </tr>
                <tr>
                    <td>Pre-ART Number</td>
                    <td>{{benefObj.preArtNumber}}</td>
                </tr>
                <tr>
                    <td>ART Number</td>
                    <td>{{benefObj.artNumber}}</td>
                </tr>
                <tr>
                    <td>Date of Registration</td>
                    <td>{{benefObj.dateOfRegistration}}</td>
                </tr>
                <tr>
                    <td>Date of first ART dispensation</td>
                    <td>{{benefObj.dateOfFirstArtDispensation}}</td>
                </tr>
                <tr>
                    <td>Regimen</td>
                    <td>{{benefObj.regimen}}</td>
                </tr>
                <tr>
                    <td>Date of ART Eligibility</td>
                    <td>{{benefObj.dateOfArtEligibility}}</td>
                </tr>
                <tr>
                    <td>Weight Band</td>
                    <td>{{benefObj.weightBand}}</td>
                </tr>
                <tr>
                    <td>Beneficiary Status</td>
                    <td>{{benefObj.patientStatus}}</td>
                </tr>
                <tr>
                    <td>Link Out</td>
                    <td>{{benefObj.linkOut}}</td>
                </tr>
                <tr>
                    <td>Link ART</td>
                    <td>{{benefObj.linkArt}}</td>
                </tr>

                <tr>
                    <td>Date of Last Dispensation</td>
                    <td>{{benefObj.dateOfLastDispensation}}</td>
                </tr>
                <tr>
                    <td>CD4 BaseLine count</td>
                    <td>{{benefObj.cd4BaseLineCount}}</td>
                </tr>

                <tr>
                    <td>CD4 BaseLine date</td>
                    <td>{{benefObj.cd4BaseLineDate}}</td>
                </tr>

                <tr>
                    <td>CD4 Last count</td>
                    <td>{{benefObj.cd4LastCount}}</td>
                </tr>
                <tr>
                    <td>CD4 Last date</td>
                    <td>{{benefObj.cd4LastDate}}</td>
                </tr>
                <tr>
                    <td>CD4 Next date</td>
                    <td>{{benefObj.cd4NextDate}}</td>
                </tr>
                <tr>
                    <td>Viral Load BaseLine count</td>
                    <td>{{benefObj.viralLoadBaseLineCount}}</td>
                </tr>

                <tr>
                    <td>Viral Load BaseLine date</td>
                    <td>{{benefObj.viralLoadBaseLineDate}}</td>
                </tr>
                <tr>
                    <td>Viral Load Last Count</td>
                    <td>{{benefObj.viralLoadLastCount}}</td>
                </tr>
                <tr>
                    <td>Viral Load Last Date</td>
                    <td>{{benefObj.viralLoadLastDate}}</td>
                </tr>
                <tr>
                    <td>Viral Load Next Date</td>
                    <td>{{benefObj.viralLoadNextDate}}</td>
                </tr>
                <tr>
                    <td>Beneficiary PID</td>
                    <td>{{benefObj.patientPID}}</td>
                </tr>
                <tr>
                    <td>ICTC Centre</td>
                    <td>{{benefObj.ictcCentre}}</td>
                </tr>
                <tr>
                    <td>Date Of HIV Test at ICTC</td>
                    <td>{{benefObj.dateOfHIVTestatICTC}}</td>
                </tr>
                <tr>
                    <td>HIV Test Type</td>
                    <td>{{benefObj.hivTestType}}</td>
                </tr>
                <tr>
                    <td>Entry Point</td>
                    <td>{{benefObj.entryPoint}}</td>
                </tr>
                <tr>
                    <td>Risk Factor of HIV</td>
                    <td>{{benefObj.riskFactorOfHiv}}</td>
                </tr>
                <tr>
                    <td>Education</td>
                    <td>{{benefObj.education}}</td>
                </tr>
                <tr>
                    <td>Pregnant</td>
                    <td>{{benefObj.pregnant}}</td>
                </tr>
                <tr>
                    <td>Monthly household income</td>
                    <td>{{benefObj.monthlyHouseholdIncome}}</td>
                </tr>
                <tr>
                    <td>Occupational Status</td>
                    <td>{{benefObj.occupationalStatus}}</td>
                </tr>






            </table>
        </div>
    </div>
</div>



