<div class="content-layout">
    <div class="body-layout">
      <div>
        <h5 class="vertical-line header-title">Pending Services</h5>
      </div>
      <div>
        <div class="form-group">
          <div class="card-body">
            <div class="card-body">
              <form [formGroup]="inwardForm" (ngSubmit)="searchBeneficiary()">
  
                <div *ngIf="beneficiaryId">
                  <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
                </div>
                <div class="form-row">
                  <div class="input-group">
  
                    <input type="text" [formControl]="searchValue" class="form-control"
                      placeholder="Search by UID / Mobile No:"
                      style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />
  
                    <button class="btn btn-primary" type="submit"
                      style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
                      <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
                    </button>
  
                  </div>
                </div>
              </form>
            </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
  
  
                <ng-container matColumnDef="uid">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> UID </th>
                  <td mat-cell *matCellDef="let row"> {{row.uid}} </td>
                </ng-container>
  
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
  
                <ng-container matColumnDef="ostCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> OST Code</th>
                  <td mat-cell *matCellDef="let row"> {{row.ostCode}} </td>
                </ng-container>
  
                <ng-container matColumnDef="mobileNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                  <td mat-cell *matCellDef="let row"> {{row.mobileNumber}} </td>
                </ng-container>
  
                <ng-container matColumnDef="dueDateAssessment">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Due date of Assessment </th>
                  <td mat-cell *matCellDef="let row"> {{row.dueDateAssessment | date: 'dd/MM/yyyy'}} </td>
                </ng-container>
  
                <ng-container matColumnDef="assessmentPendingDays">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Assessment Pending for (In days)</th>
                  <td mat-cell *matCellDef="let row"> {{row.assessmentPendingDays}} </td>
                </ng-container>

                <ng-container matColumnDef="beneficiaryActivityStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BeneficiaryActivityStatus </th>
                    <td mat-cell *matCellDef="let row"> {{row.beneficiaryActivityStatus}} </td>
                  </ng-container>

                   <ng-container matColumnDef="update" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                      <td mat-cell *matCellDef="let row">
                          <button mat-icon-button [matMenuTriggerFor]="menu" class=" mat-icon-button"
                              aria-label="Example icon-button with a menu">
                              <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" >
                              <button *ngIf="!isUserTIOST" mat-menu-item (click)="doRVAssessment(row.uid)">
                                  <span>R & V Assessment</span>
                              </button>
                              <button *ngIf="!isUserTIOST" mat-menu-item (click)="doCommodityDistribution(row.uid)">
                                  <span>Commodity Distribution</span>
                              </button>
                              <button *ngIf="!isUserTIOST" mat-menu-item (click)="doScreening(row.uid)">
                                  <span>Screening</span>
                              </button>
                              <button *ngIf="!isUserTIOST" mat-menu-item (click)="doCounselling(row.uid)">
                                  <span>Counselling</span>
                              </button>
                              <!-- git  -->
                              <button *ngIf="!isUserTIOST" mat-menu-item (click)="doSTITreatment(row.uid)">
                                  <span>STI Treatment</span>
                              </button>            

                              <button *ngIf="isUserTIOST" mat-menu-item (click)="doOSTAssessment(row.uid)">
                                  <span>OST Assessment</span>
                              </button>
                              <button *ngIf="isUserTIOST" mat-menu-item (click)="doPrescribe(row.uid)">
                                  <span>Prescribe</span>
                              </button>
                              <button *ngIf="isUserTIOST" mat-menu-item (click)="doDispense(row.uid)">
                                  <span>Dispense</span>
                              </button>
                              <button *ngIf="isUserTIOST" mat-menu-item (click)="doFollowUp(row.uid)">
                                  <span>FollowUp</span>
                              </button>
                          </mat-menu>
                      </td>
         
                  </ng-container>
  
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>