<div class="content-layout">
    <div class="body-layout">
        <div>
            <h5 class="vertical-line header-title">Referral</h5>
        </div>
        <br>
        <nav mat-tab-nav-bar class="tab-header">
            <a mat-tab-link *ngFor="let item of navReferralLinks" class="tab-item-style menu-text"
                [routerLink]="item.link" routerLinkActive #rla="routerLinkActive"
                (click)="activeLink = item" [active]="activeLink == item">{{item.label}}
            </a>

        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>