<div class="content-layout">
    <div class="sub-sub-header-layout">
        <label class="sub-sub-header-title">Product </label>
    </div>
    <hr class="horizontal-line" />
    <div class="body-layout">
        <div class="vertical-line m-bottom-10">
            <label class="header-title" *ngIf="!product.id">Add Product</label>
            <label class="header-title" *ngIf="product.id">Edit Product</label>
        </div>
        <p class="font-smaller m-left-10">Mandatory fields marked with <span class="required"> *</span></p>

        <div class="card-body">
            <form [formGroup]="productCreationForm" (ngSubmit)="saveProduct()">
                <h6>Product Details</h6>
                <hr>
                <div class="card m-5">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-3">
                                <div>
                                    <label for="productName" class="control-label">Name of Product</label><span
                                        class="required">
                                        *</span>
                                    <input type="text" class="form-control" formControlName="productName"
                                        pattern="^([A-Za-z]+\s?)*$"
                                        [ngClass]="{'is-invalid': submitted && productForm.productName.errors}" />
                                    <div class="invalid-feedback">
                                        <div>Product name is required</div>
                                    </div>
                                    <div class="error"
                                        *ngIf="productForm.productName.dirty && productForm.productName.hasError('pattern') && productForm.productName.touched">
                                        Name must be alphabet only
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="uom" class="control-label">Unit Of Measure (UoM)</label><span
                                        class="required">
                                        *</span>
                                    <select formControlName="uom" class="form-control"
                                        [ngClass]="{ 'is-invalid':submitted && productForm.uom.errors }">
                                        <option value="-1" selected>Select One</option>
                                        <option *ngFor="let uom of uomList" value={{uom.id}}>
                                            {{uom.uomName}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <div>Unit Of Measure (UoM) is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="batchNo" class="control-label">Batch Number</label><span
                                        class="required">
                                        *</span>
                                    <select formControlName="batchNo" class="form-control"
                                        [ngClass]="{ 'is-invalid':submitted && productForm.batchNo.errors }">
                                        <option value="-1" selected>Select One</option>
                                        <option *ngFor="let batchNoOption of batchNoOptionList"
                                            value={{batchNoOption.code}}>
                                            {{batchNoOption.name}}
                                        </option>

                                    </select>
                                    <div class="invalid-feedback">
                                        <div>Batch Number is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <div>
                                    <label for="shortCode" class="control-label">Product short code</label><span
                                        class="required">
                                        *</span>
                                    <input type="text" class="form-control" formControlName="shortCode"
                                        pattern="^([A-Za-z]+\s?)*$"
                                        [ngClass]="{'is-invalid': submitted && productForm.shortCode.errors}" />
                                    <div class="invalid-feedback">
                                        <div>Product short code</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="productType" class="control-label">Product Type</label>
                                    <select formControlName="productType" class="form-control"
                                        [ngClass]="{ 'is-invalid':submitted && productForm.productType.errors }">
                                        <option value="-1" selected>Select One</option>
                                        <option *ngFor="let productType of productTypeList" value={{productType.id}}>
                                            {{productType.productTypeName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="division" class="control-label">Division</label><span class="required">
                                        *</span>
                                    <select formControlName="division" class="form-control"
                                        [ngClass]="{ 'is-invalid':submitted && productForm.division.errors }">
                                        <option value="-1" selected>Select One</option>
                                        <option *ngFor="let division of divisionList" value={{division.id}}>
                                            {{division.name}}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <div>Division is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-3">
                                <div>
                                    <label for="facilityTypes" class="control-label">Facility Types</label><span
                                        class="required">
                                        *</span>
                                    <ng-multiselect-dropdown name="facilityTypes" formControlName="facilityTypes"
                                        [ngClass]="{ 'is-invalid': submitted && productForm.facilityTypes.errors.invalidSelection }"
                                        [placeholder]="'custom placeholder'" [data]="facilityTypeList"
                                        [settings]="dropdownSettings">
                                    </ng-multiselect-dropdown>
                                    <div >
                                            <div>Facility Type is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="labTypes" class="control-label">Laboratory Type</label>
                                    <ng-multiselect-dropdown name="labTypes" formControlName="labTypes"
                                        [ngClass]="{ 'is-invalid': submitted && productForm.labTypes.errors }"
                                        [placeholder]="'custom placeholder'" [data]="labTypeList"
                                        [settings]="masterDropdownSettings">
                                    </ng-multiselect-dropdown>
                                    <div class="invalid-feedback" *ngIf="(submitted && productForm.labTypes.errors)"
                                        class="invalid-feedback">
                                        <div *ngIf="productForm.labTypes.errors.required">Laboratory Type is
                                            required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="minShelfLife" class="control-label">Minimum Shelf Life (%)</label>
                                    <input type="number" maxLength="3" min="0" max="100" class="form-control"
                                        formControlName="minShelfLife"
                                        [ngClass]="{'is-invalid': submitted && productForm.minShelfLife.errors}"
                                        onKeyUp="if(this.value>100){this.value='100';}else if(this.value<0){this.value='0';}" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <div>
                                    <label for="productImage" class="control-label">Product Image</label>
                                    <input type="file" id="productImage"
                                        (change)="uploadFileToServer($event.target.files)">
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="formulationComposition" class="control-label">Formulation /
                                        Composition</label>
                                    <textarea class="form-control" formControlName="formulationComposition"
                                        maxlength="200"></textarea>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <div>
                                    <label for="productDetails" class="control-label">Product Details</label>
                                    <textarea class="form-control" formControlName="productDetails"
                                        maxlength="1500"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <div>
                                    <label for="status" class="control-label">Status</label>
                                    <select formControlName="status" class="form-control"
                                        [ngClass]="{ 'is-invalid':submitted && productForm.status.errors }">
                                        <option value="1" selected>Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>
                <section>
                    <div class="text-center">
                        <button class="btn-save mr-2" type="submit" *ngIf="!product.id">Save</button>
                        <button class="btn-save mr-2" type="submit" *ngIf="product.id">Update</button>
                        <button class="btn-cancel mr-2" type="reset" (click)="onReset()">Reset</button>
                        <button class="btn-cancel" (click)="onCancel()">Cancel</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>