<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Roles <button class="btn-save float-right sub-sub-header-title" (click)="addRoleButton()">Add</button>

        </h5>
    </div>

    <hr class="horizontal-line" />

    <div class="body-layout">
        <div>
            <div class="vertical-line header-title">Role List</div>
        </div>

        <div class="row" >
            <div class="card card-solid col-md-12 soch-card-default">
                <div class="card-body" >
                    <form role="form">
                        <div class="input-group input-group-sm" >
                            <div class="input-group-prepend"  >
                                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                            </div>
                            <input class="form-control" type="text" 
                            (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Role Name, Facility Type Name"> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div >
            <p-table class="table" [columns]="cols" [value]="role_list" sortMode="multiple" [paginator]="true"
                [rows]="10" [rowsPerPageOptions]="[5,10,20]"  #dt>
      
             <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th class="small-col">Serial No.</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>
                            Option
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role let-columns="columns" let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{role.name}}</td>
                        <td>{{role.facilityType.facilityTypeName}}</td>
                        <td>{{role.isActive?'Active':'Inactive'}}</td> 
                        <td>

                            <button style="background-color: transparent;border: none" (click)="editRole(role)">
                                <fa-icon style="color:rgb(110, 100, 70);font-size: 15px;" [icon]="edit_icon"></fa-icon>
                            </button>
                            <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteRole(role)"
                                (cancel)="cancelClicked = true">
                                <fa-icon style="color:rgb(112, 149, 253);font-size: 15px;" [icon]="trash_icon">
                                </fa-icon>
                            </button>

                            <button style="background-color: transparent;border: none" (click)="viewRole(role)">
                                <fa-icon style="color:rgb(31, 81, 216);font-size: 15px;" [icon]="view_icon"></fa-icon>
                            </button>
                         <!--AccessSetting-->
                            <button style="background-color: transparent;border: none" (click)="viewAccess(role)">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </button>
                        </td>
                    </tr>
                </ng-template>
              
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr >
                        <td [attr.colspan]="columns.length + 3">
                            No records found
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft" let-state>
                    Total Records  {{state.totalRecords}}
                </ng-template>
            </p-table>
        </div>
    </div>
</div>