<div class="content-layout">
    <hr class="horizontal-line" />
    <div class="body-layout">
        <button class="btn-cancel float-right"
            (click)="listFacBtn()">Back</button>
            <h5 class="vertical-line header-title">Facility Details</h5>
        <div class="card m-5">
            <div class="card-body">
                <table class="table-bordered table-hover" style="margin-left:100px;width: 900px;">
                    <tr>
                        <td> Name </td>
                        <td>{{facilityObj.name}}</td>
                    </tr>
                    <tr>
                        <td> Code </td>
                        <td>{{facilityObj.code}}</td>
                    </tr>
                    <tr>
                        <td> Status </td>
                        <td>{{facilityObj.status}}</td>
                    </tr>
                    <tr>
                        <td> Facility Type </td>
                        <td>{{facilityObj.facilityType.facilityTypeName}}</td>
                    </tr>
                    <tr>
                        <td> Address </td>
                        <td>{{facilityObj.address.address}}</td>
                    </tr>
                    <tr>
                        <td> State </td>
                        <td>{{facilityObj.address.state.name}}</td>
                    </tr>
                    <tr>
                        <td> District </td>
                        <td>{{facilityObj.address.district.name}}</td>
                    </tr>
                    <tr>
                        <td> City </td>
                        <td>{{facilityObj.address.city}}</td>
                    </tr>

                    <tr>
                        <td> Pincode </td>
                        <td>{{facilityObj.address.pincode}}</td>
                    </tr>
                   

                </table>
            </div>
        </div>
    </div>
</div>