
<footer class="main-footer text-sm">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Version 1.0.6
    </div>
    <!-- Default to the left -->
    <strong>© 2020 - Designed and Developed by NACO.</strong>
</footer>