<div class="content-layout">
  <div class="sub-sub-header-layout">
    <h5 class="sub-sub-header-title">Dispatch collected Samples</h5>
  </div>
  <hr class="horizontal-line" />
  <div class="form-row">
    <div class="form-group col-2" style="margin-left: 3rem">
      <select type="text" id="facilityId" class="form-control" [(ngModel)]="facilityId">
        <option  *ngFor="let facility of facilities_list"  value="{{facility.id}}">
          {{facility.name}}</option>
      </select>
    </div>
    <div class="form-group col-3" style="margin-right:23rem">
      <button style="margin-left:30rem" type="button" (click)="dispatchSamples()" class="btn btn-primary">Dispatch
        </button>
    </div>
    <!-- <div class="form-group col-6" style="margin-left:60rem">
      <button style="margin-left:30rem" type="button" (click)="addSamples()" class="btn btn-primary">Add
        Samples</button>
    </div> -->
  </div>

  <div class="body-layout">
    <p-table class="table" [columns]="cols" [value]="sample_list" sortMode="multiple" [paginator]="true" [rows]="10"
      [rowsPerPageOptions]="[10,20]" [totalRecords]="totalRecords" #dt>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>#</th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-master let-columns="columns">
        <tr>
          <td>
            <input type="checkbox" id="isCheckBox" (change)="onDispatch($event,master)" />
          </td>
          <td *ngFor="let col of columns">
            {{master[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="!sample_list" style="box-align: center">Sorry! There are no samples to dispatch.Collect Samples to
      start dispatching</div>
  </div>