<div class="content-layout">
  <div class="body-layout">
    <div>
      <h5 class="vertical-line header-title">Edit Beneficiary</h5>
    </div>
    <label class="font-smaller m-left-10">Mandatory fields marked with<span style="color: red;">*</span></label>
    <div>
      <div class="form-group">
        <!-- <h5 class="card-header">Beneficiary TI Details</h5> -->
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="editBeneficiary()">

            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.id" class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.beneficiaryId" class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.addressId" class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.availableDaysMapId"
                class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.beneficiaryFacilityMapId"
                class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.screeningId" class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.ostId" class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.beneficiaryUserMapId"
                class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.refferalId" class="form-control">
            </div>
            <!-- <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.referredToName"
                class="form-control">
            </div>
            <div class="form-row">
              <input type="hidden" formControlName="id" [(ngModel)]="benefEditTiObj.referredFacilityName"
                class="form-control">
            </div> -->
            <hr>
            <h6 class="vertical-line">PE and ORW In-charge Details</h6>
            <br>

            <div class="row">
              <!-- <div class="col-md-3">
            <label for="orwName">ORW Name</label>
            <select name="orwName" class="form-control" formControlName="orwName" [(ngModel)]="benefEditTiObj.orwName" (change) = "getOrwCode(benefEditTiObj.orwName)">
              <option selected disabled>Select one</option>
              <option *ngFor="let orwname of orwNameList" value="{{orwname}}">{{orwname}}
              </option>

            </select>
          </div> -->

              <div class="col-md-3">
                <label for="orwCode">ORW Code</label>
                <input type="text" name="orwCode" class="form-control" [(ngModel)]="benefEditTiObj.orwCode"
                  formControlName="orwCode" readonly
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.orwCode.errors }">
              </div>



              <!-- <div class="col-md-3">
                <label for="peName">PE Name</label>
                <select name="peName" class="form-control" formControlName="peName" [(ngModel)]="benefEditTiObj.peName"
                  (change)="getPeCode(benefEditTiObj.peName)">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let pename of peNameList" value="{{pename}}">{{pename}}</option>
                </select>
              </div> -->

              <div class="col-md-3">
                <label for="peCode">PE Code</label>
                <input type="text" name="peCode" class="form-control" [(ngModel)]="benefEditTiObj.peCode"
                  formControlName="peCode" readonly
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.peCode.errors }">
              </div>
            </div>
            <br>
            <hr>
            <h6 class="vertical-line">Registration Fields</h6>
            <br>
            <div class="row">

              <!-- <div class="required">
              <input  type="hidden" formControlName="facilityCode" class="form-control"
                [(ngModel)]="benefEditTiObj.facilityCode" placeholder="Enter facility code"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.facilityCode.errors }"
                 readonly>

              <div *ngIf="submitted && beneficiaryTiEdit.facilityCode.errors" 
              class="invalid-feedback">
              <div *ngIf="beneficiaryTiEdit.facilityCode.errors.required">facility code is required</div>
              </div>
            </div> -->


              <!-- <div class="col-md-3">
                <label for="facility">Facility</label>

                <select name="facility" class="form-control" formControlName="facility" [(ngModel)]="benefEditTiObj.facility" (change) = "getFacilityCode(benefEditTiObj.facility)">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let facilityname of facilities_list" value="{{facilityname}}">{{facilityname}}
                  </option>
                </select>
              </div> -->

              <div class="col-md-3">
                <div class="required">
                  <label for="dateOfRegistration">Date of Registration</label>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" class="form-control"
                      [(ngModel)]="benefEditTiObj.dateOfRegistration" formControlName="dateOfRegistration"
                      [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.dateOfRegistration.errors }">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <div *ngIf="submitted && beneficiaryTiEdit.dateOfRegistration.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.dateOfRegistration.errors.required">
                      Date of Registration is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required" *ngIf="isUserTIOST">
                  <label for="consentDocumented">Consent Documented?</label>
                  <select name="consentDocumented" class="form-control" placeholder="Enter Employment Status"
                    [(ngModel)]="benefEditTiObj.consentDocumented" formControlName="consentDocumented"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.consentDocumented.errors }">
                    <option selected disabled>Select one</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTiEdit.consentDocumented.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.consentDocumented.errors.required">
                      Status of consent is required</div>
                  </div>
                </div>

              </div>

              <div class="form-group col-3" *ngIf="benefEditTiObj.id">
                <label>UID</label>
                <input type="text" class="form-control" formControlName="uidNumber" [ngModel]="benefEditTiObj.uidNumber"
                  readonly />
              </div>

              <!-- <div class="col-md-3">
            <div class="required">
              <label for="beneficiaryId">Beneficiary ID</label>
              <input type="text" name="beneficiaryId" class="form-control" 
              placeholder="Enter Beneficiary ID"
                [(ngModel)]="benefEditTiObj.beneficiaryId" formControlName="beneficiaryId"  readonly
                [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.beneficiaryId.errors }"  
                 (change) = "getMaxOfBeneficiaryId()">
              <div *ngIf="submitted && beneficiaryTiEdit.beneficiaryId.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryTiEdit.beneficiaryId.errors.required">
                  Beneficiary ID is required</div>
              </div>
            </div>
          </div> -->
              <!-- <div class="col-md-3">
                <div class="required">
                  <label for="beneficiaryCode">Beneficiary ID</label>
                  <input type="text" name="beneficiaryCode" class="form-control" placeholder="Enter Beneficiary ID"
                    [(ngModel)]="benefEditTiObj.beneficiaryCode" formControlName="beneficiaryCode"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.beneficiaryCode.errors }">
                  <div *ngIf="submitted && beneficiaryTiEdit.beneficiaryCode.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.beneficiaryCode.errors.required">
                      Beneficiary ID is required</div>
                  </div>
                </div>
              </div> -->
              <!-- 
          <div *ngIf="benefEditTiObj.id" class="col-md-3">
            <div class="required">
              <label for="beneficiaryCode">Beneficiary ID</label>
              <input type="text" name="beneficiaryCode" class="form-control" 
              placeholder="Enter Beneficiary ID"
                [(ngModel)]="benefEditTiObj.beneficiaryCode" formControlName="beneficiaryCode"
                [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.beneficiaryCode.errors }"  
               >
              <div *ngIf="submitted && beneficiaryTiEdit.beneficiaryCode.errors" class="invalid-feedback">
                <div *ngIf="beneficiaryTiEdit.beneficiaryCode.errors.required">
                  Beneficiary ID is required</div>
              </div>
            </div>
          </div> -->

            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" class="form-control" placeholder="Enter first Name"
                    [(ngModel)]="benefEditTiObj.firstName" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.firstName.errors }"
                    pattern="[a-zA-Z+ \s]+$">
                  <div *ngIf="submitted && beneficiaryTiEdit.firstName.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.firstName.errors.required">First Name is required</div>
                  </div>

                  <div class="errors" *ngIf="beneficiaryTiEdit.firstName.dirty&&
                    beneficiaryTiEdit.firstName.hasError('maxlength')&&beneficiaryTiEdit.firstName.touched">
                                           Maximum only 99 characters are allowed
                                        </div>

                  <div class="errors" *ngIf="beneficiaryTiEdit.firstName.dirty &&
                    beneficiaryTiEdit.firstName.hasError('pattern')&& beneficiaryTiEdit.firstName.touched">Name should
                    be
                    alphabet
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="middleName">Middle Name</label>
                <input type="text" name="middleName" class="form-control" placeholder="Enter Middle Name"
                  [(ngModel)]="benefEditTiObj.middleName" formControlName="middleName"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.middleName.errors }"
                  pattern="[a-zA-Z+ \s]+$">

                <div class="errors" *ngIf="beneficiaryTiEdit.middleName.dirty&&
                  beneficiaryTiEdit.middleName.hasError('maxlength')&&beneficiaryTiEdit.middleName.touched">
                                         Maximum only 99 characters are allowed
                                      </div>
                <div class="errors" *ngIf="beneficiaryTiEdit.middleName.dirty &&
                  beneficiaryTiEdit.middleName.hasError('pattern')&& beneficiaryTiEdit.middleName.touched">Name should
                  be
                  alphabet
                </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" class="form-control" placeholder="Enter Last Name"
                    [(ngModel)]="benefEditTiObj.lastName" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.lastName.errors }"
                    pattern="[a-zA-Z+ \s]+$">
                  <div *ngIf="submitted && beneficiaryTiEdit.lastName.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.lastName.errors.required">Last Name is required</div>
                  </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.lastName.dirty&&
                    beneficiaryTiEdit.lastName.hasError('maxlength')&&beneficiaryTiEdit.lastName.touched">
                                           Maximum only 99 characters are allowed
                                        </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.lastName.dirty &&
                    beneficiaryTiEdit.lastName.hasError('pattern')&& beneficiaryTiEdit.lastName.touched">Name should be
                    alphabet
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="dateOfBirth">Date of Birth</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker1" name="dateOfBirth" class="form-control"
                    [(ngModel)]="benefEditTiObj.dateOfBirth" formControlName="dateOfBirth"
                    [ngClass]="{ 'is-invalid':submitted && beneficiaryTiEdit.dateOfBirth.errors}"
                    (dateInput)="ageFromDateOfBirth($event.value)">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <div class="errors" *ngIf="beneficiaryTiEdit.age.dirty&& beneficiaryTiEdit.age.hasError('pattern')&&
                  beneficiaryTiEdit.age.touched">Age should be between 12-100
                </div>
              </div>


            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="age">Age</label>
                  <input type="text" name="age" class="form-control" placeholder="Enter Age" formControlName="age"
                    [(ngModel)]="benefEditTiObj.age" [ngClass]="{ 'is-invalid': submitted && 
                    beneficiaryTiEdit.age.errors }">
                  <div *ngIf="submitted && beneficiaryTiEdit.age.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.age.errors.required">Age is required</div>
                  </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.age.dirty && beneficiaryTiEdit.age.hasError('pattern')&&
                    beneficiaryTiEdit.age.touched"> Age should be between 12-100.</div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.age.hasError('pattern')&&
                    beneficiaryTiEdit.age.untouched"> Age
                    should be between 12-100.</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="gender">Gender</label>
                  <select name="gender" class="form-control" formControlName="gender"
                    [(ngModel)]="benefEditTiObj.gender" placeholder="Enter Gender" [ngClass]="{ 'is-invalid': submitted && 
                beneficiaryTiEdit.gender.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTiEdit.gender.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.gender.errors.required">Gender is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="maritalStatus">Marital Status</label>
                  <select name="maritalStatus" class="form-control" formControlName="maritalStatus"
                    [(ngModel)]="benefEditTiObj.maritalStatus" placeholder="Enter Marital Status"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.maritalStatus.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Never Married">Never Married</option>
                    <option value="Married">Married</option>
                    <option value="Widow / Widower">Widow / Widower</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Separated">Separated</option>
                    <option value="Non-known / Not revealed">Non-known / Not revealed</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTiEdit.maritalStatus.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.maritalStatus.errors.required">
                      Marital Status is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="regularPartners">Regular Partners</label>
                  <input type="text" name="regularPartners" class="form-control" placeholder="Enter Regular Partners"
                    [(ngModel)]="benefEditTiObj.regularPartners" formControlName="regularPartners"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.regularPartners.errors }">
                  <div *ngIf="submitted && beneficiaryTiEdit.regularPartners.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.regularPartners.errors.required">
                      Regular Partners is required</div>
                  </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.regularPartners.dirty &&
                    beneficiaryTiEdit.regularPartners.hasError('maxlength') &&
                    beneficiaryTiEdit.regularPartners.touched">
                                           Maximum only 99 characters are allowed
                                        </div>
                </div>
              </div>


            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="numberOfPartners">Number of Partners</label>
                  <input type="text" name="numberOfPartners" class="form-control" placeholder="Enter Number of Partners"
                    [(ngModel)]="benefEditTiObj.numberOfPartners" formControlName="numberOfPartners"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.numberOfPartners.errors }">
                  <div *ngIf="submitted && beneficiaryTiEdit.numberOfPartners.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.numberOfPartners.errors.required">
                      Number of Partners is required</div>
                  </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.numberOfPartners.dirty&&
                    beneficiaryTiEdit.numberOfPartners.hasError('pattern')&&
                    beneficiaryTiEdit.numberOfPartners.touched">
                                            Only number between 1-15 is allowed
                                        </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="employmentStatus">Employment Status</label>
                  <select name="employmentStatus" class="form-control" placeholder="Enter Employment Status"
                    [(ngModel)]="benefEditTiObj.employmentStatus" formControlName="employmentStatus"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.employmentStatus.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Never Employed">Never Employed</option>
                    <option value="Currently unemployed">Currently unemployed</option>
                    <option value="Full time employed">Full time employed</option>
                    <option value="Part Time Employed">Part Time Employed</option>
                    <option value="Student /Housewife">Student /Housewife</option>
                    <option value="Other (specify)">Other (specify)</option>
                    <option value="Non-known / Not revealed">Non-known / Not revealed</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTiEdit.employmentStatus.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.employmentStatus.errors.required">
                      Employment Status is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="educationLevel">Education Level</label>
                <select name="educationLevel" class="form-control" placeholder="Enter Education Level"
                  [(ngModel)]="benefEditTiObj.educationLevel" formControlName="educationLevel">
                  <option selected disabled>Select one</option>
                  <option value="Illiterate">Illiterate</option>
                  <option value="Literate (can read and write)">Literate (can read and write)</option>
                  <option value="Primary Education(up-to 5th class of schooling)">
                    Primary Education(up-to 5th class of
                    schooling)</option>
                  <option value="Middle Education (upto 8th class of schooling)">
                    Middle Education (upto 8th class of
                    schooling)</option>
                  <option value="Matriculation / Higher Secondary (10-12 year of schooling)">
                    Matriculation / Higher
                    Secondary (10-12 year of schooling)</option>
                  <option value="Graduate and above">Graduate and above</option>
                  <option value="Non-known / Not revealed">Non-known / Not revealed</option>
                </select>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="pincode">Pin Code</label>
                  <input type="text" name="pincode" class="form-control" placeholder="Enter pincode"
                    [(ngModel)]="benefEditTiObj.pincode" formControlName="pincode" maxlength=6
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.pincode.errors }">
                  <div *ngIf="submitted && beneficiaryTiEdit.pincode.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.pincode.errors.required">Pin Code is required</div>
                  </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.pincode.dirty&&
                    beneficiaryTiEdit.pincode.hasError('pattern')&& beneficiaryTiEdit.pincode.touched">
                                            Only digits are is allowed.
                                        </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.pincode.dirty&&
                    beneficiaryTiEdit.pincode.hasError('minlength')&&beneficiaryTiEdit.pincode.touched">
                                           Maximum 6 digits are required
                                        </div>
                </div>
              </div>

            </div>
            <br><br>
            <div class="row">


              <div class="col-md-3">
                <label for="block">Block</label>
                <input type="text" name="block" class="form-control" placeholder="Enter block"
                  [(ngModel)]="benefEditTiObj.block" formControlName="block"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.block.errors }">

                <div class="errors" *ngIf="beneficiaryTiEdit.block.dirty&&
                  beneficiaryTiEdit.block.hasError('maxlength')&&beneficiaryTiEdit.block.touched">
                                         Maximum only 99 characters are allowed
                                      </div>
              </div>


              <div class="col-md-3">
                <label for="houseNo">House No</label>
                <input type="text" name="houseNo" class="form-control" placeholder="Enter House No"
                  [(ngModel)]="benefEditTiObj.houseNo" formControlName="houseNo"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.houseNo.errors }">

                <div class="errors" *ngIf="beneficiaryTiEdit.houseNo.dirty&&
                  beneficiaryTiEdit.houseNo.hasError('maxlength')&&beneficiaryTiEdit.houseNo.touched">
                                         Maximum only 99 characters are allowed
                                      </div>
              </div>
              <div class="col-md-3">
                <div class="required">
                  <label for="mobileNumber">Contact number</label>
                  <input type="text" name="mobileNumber" maxlength=10 class="form-control"
                    placeholder="Enter mobile number" [(ngModel)]="benefEditTiObj.mobileNumber"
                    formControlName="mobileNumber"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.mobileNumber.errors }">
                  <div *ngIf="submitted && beneficiaryTiEdit.mobileNumber.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.mobileNumber.errors.required">Mobile number is required</div>
                  </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.mobileNumber.dirty&&
                    beneficiaryTiEdit.mobileNumber.hasError('pattern')&& beneficiaryTiEdit.mobileNumber.touched">
                                            Only digits are is allowed.
                                        </div>
                  <div class="errors" *ngIf="beneficiaryTiEdit.mobileNumber.dirty&&
                    beneficiaryTiEdit.mobileNumber.hasError('minlength')&&beneficiaryTiEdit.mobileNumber.touched">
                                           Maximum 10 digits are required
                                        </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="clientStatus">Client Status</label>
                  <select name="clientStatus" class="form-control" formControlName="clientStatus"
                    [(ngModel)]="benefEditTiObj.clientStatus" placeholder="Enter Client Status"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.clientStatus.errors }">
                    <option selected disabled>Select one</option>
                    <option value="Active">Active</option>
                    <option value="Relapse">Relapse</option>
                    <option value="Treatment completed">Treatment completed</option>
                    <option value="Died: If the Data Manager has previously changed his status to died">
                      Died: If the Data Manager has previously changed his status to died</option>
                    <option value="Migrated Active: If the client is not a drop-out. 
                  This is the default option available.">
                      Migrated Active: If the client is not a drop-out. This is the default option available</option>
                    <option value="Dropout">Dropout</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTiEdit.clientStatus.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.clientStatus.errors.required">Client Status is required</div>
                  </div>
                </div>
              </div>


            </div>
            <br><br>
            <div class="row">
              <div class="col-md-3">
                <label for="viewPastActivity">View Past Activity</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker3" name="viewPastActivity" class="form-control"
                    [(ngModel)]="benefEditTiObj.viewPastActivity" formControlName="viewPastActivity">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div>

            </div>
            <div class="row">
            </div>
            <br>
            <hr>
            <h6 class="vertical-line">Other Details</h6>
            <br>
            <div class="row">
              <div class="col-md-3">
                <h6>Children and their ages:</h6>
                <label for="childrenAge">Age:</label><br>
                <input type="text" [(ngModel)]="benefEditTiObj.childrenAge" id="name2" class="form-control"
                  formControlName="childrenAge"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.childrenAge.errors }" />
                <div class="errors" *ngIf="beneficiaryTiEdit.childrenAge.dirty&&
                  beneficiaryTiEdit.childrenAge.hasError('pattern')&& beneficiaryTiEdit.childrenAge.touched"> Age should
                  be
                  between 1-100.
                                      </div>
                <br><br>
                <label for="childrenGender">Gender:</label><br>
                <select type="text" [(ngModel)]="benefEditTiObj.childrenGender" id="name1" class="form-control"
                  formControlName="childrenGender"><br><br>
                  <option selected disabled>Select one</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Transgender">Transgender</option>
                </select>
                <br>
                <button type="button" class="btn-broad" (click)="addItem()">Add</button>
              </div>

              <div class="col-md-6">
                <table class="table table-bordered">
                  <tr>
                    <th>#</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Option</th>
                  </tr>

                  <tr *ngFor="let child of childrenAgesList; let i = index;">
                    <td><label>{{i+1}}</label></td>
                    <td><label>{{child.childrenAge}}</label></td>
                    <td><label>{{child.childrenGender}}</label></td>
                    <td>
                      <button (click)="removeRow(i)">Remove</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <br><br>
            <div class="form-row">
              <input type="hidden" formControlName="childrenAgeGenderMapping"
                [(ngModel)]="benefEditTiObj.childrenAgeGenderMapping" class="form-control">
            </div>
            <div class="row">

              <div class="col-md-6 ">
                <h6>Mobility Status:</h6><br>
                <table border="1" class="table table-bordered">
                  <tr>
                    <th>In the last three months how many times moved out:</th>
                    <th>No. of time</th>
                    <th>No. of Days</th>
                  </tr>
                  <tr>
                    <th>Within the district</th>
                    <th><input type="text" [(ngModel)]="benefEditTiObj.withinTheDistrictNoOfTimes" class="form-control"
                        formControlName="withinTheDistrictNoOfTimes"></th>
                    <th><input type="text" [(ngModel)]="benefEditTiObj.withinTheDistrictNoOfDays" class="form-control"
                        formControlName="withinTheDistrictNoOfDays"></th>
                  </tr>
                  <tr>
                    <th>Within the state</th>
                    <th><input type="text" [(ngModel)]="benefEditTiObj.withinTheStateNoOfTimes" class="form-control"
                        formControlName="withinTheStateNoOfTimes"></th>
                    <th><input type="text" [(ngModel)]="benefEditTiObj.withinTheStateNoOfDays" class="form-control"
                        formControlName="withinTheStateNoOfDays"></th>
                  </tr>
                  <tr>
                    <th>Outside the state</th>
                    <th><input type="text" [(ngModel)]="benefEditTiObj.outsideTheStateNoOfTimes" class="form-control"
                        formControlName="outsideTheStateNoOfTimes"></th>
                    <th><input type="text" [(ngModel)]="benefEditTiObj.outsideTheStateNoOfDays" class="form-control"
                        formControlName="outsideTheStateNoOfDays"></th>
                  </tr>
                </table>

              </div>
              <div class="form-group col-1"></div>
              <div class="form-group col-3 required">
                <div class="row">
                  <label for="availableDays">Days Available</label>
                </div>
                <div class="row">
                  <table width="100%" [ngClass]="{ 'is-invalid':submitted}">

                    <tr>
                      <td width="25%"><input type="checkbox" [(ngModel)]="benefEditTiObj.monday"
                          formControlName="monday" />Monday</td>

                      <td width="25%"><input type="checkbox" [(ngModel)]="benefEditTiObj.tuesday"
                          formControlName="tuesday" />Tuesday</td>
                          <td width="30%"><input type="checkbox" [(ngModel)]="benefEditTiObj.wednesday"
                            formControlName="wednesday" />Wednesday</td>
                    </tr>
                    <tr>
                     
                      <td><input type="checkbox" [(ngModel)]="benefEditTiObj.thursday"
                          formControlName="thursday" />Thursday</td>
                      <td><input type="checkbox" [(ngModel)]="benefEditTiObj.friday" formControlName="friday" />Friday
                      </td>
                      <td><input type="checkbox" [(ngModel)]="benefEditTiObj.saturday"
                        formControlName="saturday" />Saturday</td>

                    </tr>
                  </table>

                  <!-- <div class="errors" *ngIf="(submitted && beneficiaryTiEdit.availableDays.errors)"
                    class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.availableDays.errors.required">Days available is required</div>
                  </div> -->
                </div>
              </div>
            </div>
            <br>
            <hr>
            <!-- uncomment after service side fixed -->
            <!-- <h6 class="vertical-line">Screening Details</h6>
            <br> 
            <div class="row" *ngIf="benefEditTiObj.id">
           
              <div class="col-md-3">
                <label for="currentHivStatus">Current HIV Status</label>
                <input type="text" name="currentHivStatus" class="form-control" placeholder="Enter Current HIV Status"
                  [(ngModel)]="benefEditTiObj.currentHivStatus" formControlName="currentHivStatus">
              </div>

              <div class="col-md-3">
                <label for="currentSyphilis">Current Syphilis Status</label>
                <input type="text" name="currentSyphilis" class="form-control"
                  placeholder="Enter Current Syphilis Status" [(ngModel)]="benefEditTiObj.currentSyphilis"
                  formControlName="currentSyphilis">
              </div>
              <div class="col-md-3">
                <label for="tbStatus">Current TB Status</label>
                <input type="text" name="tbStatus" class="form-control" placeholder="Enter Current TB Status"
                  [(ngModel)]="benefEditTiObj.tbStatus" formControlName="tbStatus">
              </div>
              <div class="col-md-3">
                <label for="lastRiskVulnerabilityAssessment">Last Risk and Vulnerability Assessment</label>
                <input type="date" name="lastRiskVulnerabilityAssessment" class="form-control"
                  placeholder="Last Risk and Vulnerability Assessment"
                  [(ngModel)]="benefEditTiObj.lastRiskVulnerabilityAssessment"
                  formControlName="lastRiskVulnerabilityAssessment">
              </div>
            </div>
          
           <br><br>
            <hr>
          -->



            <h6 class="vertical-line">HRG Details</h6>
            <br>
            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="hrgPrimaryCategory">HRG Primary Category</label>
                  <select name="hrgPrimaryCategory" class="form-control" placeholder="Enter HRG Primary Category"
                    [(ngModel)]="benefEditTiObj.hrgPrimaryCategory" formControlName="hrgPrimaryCategory"
                    [ngClass]="{ 'is-invalid':submitted && beneficiaryTiEdit.hrgPrimaryCategory.errors }"
                    id="hrgprimary" (change)="onCheck()">
                    <option selected disabled>Select one</option>
                    <option *ngFor="let m of hrgcategories" value="{{m.categoryname}}">{{m.categoryname}}</option>
                    <option value="Trucker">Trucker</option>
                    <option value="Migrant">Migrant</option>

                  </select>
                  <div class="errors" *ngIf="(submitted && beneficiaryTiEdit.hrgPrimaryCategory.errors)"
                    class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.hrgPrimaryCategory.errors.required">
                      HRG Primary Category is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="hrgSecondaryCategory">HRG Secondary Category</label>
                <select name="hrgSecondaryCategory" class="form-control" placeholder="Enter HRG Secondary Category"
                  [(ngModel)]="benefEditTiObj.hrgSecondaryCategory" formControlName="hrgSecondaryCategory"
                  id="hrgsecondary" (change)="onCheck()">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let m of hrgcategories" value="{{m.categoryname}}">{{m.categoryname}}</option>
                  <option value="Trucker">Trucker</option>
                  <option value="Migrant">Migrant</option>
                  <option value="Not known/Not Revealed">Not known/Not Revealed</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="subCategory">Sub-Category</label>
                <select name="subCategory" class="form-control" placeholder="Enter Sub-Category"
                  [(ngModel)]="benefEditTiObj.subCategory" formControlName="subCategory">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let n of subcategoryList" value={{n}}>{{n}}</option>
                </select>
              </div>


              <div class="col-md-3">
                <label for="averageNumberofSexualActsUponRegistration">Average number of Sexual
                  Acts upon Registration
                  (Perweek)</label>
                <select name="averageNumberofSexualActsUponRegistration" class="form-control"
                  placeholder=" Enter Average number of Sexual Acts upon Registration (Per week)"
                  [(ngModel)]="benefEditTiObj.averageNumberofSexualActsUponRegistration"
                  formControlName="averageNumberofSexualActsUponRegistration">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let avgno of averageNumberOfSexualActsPerWeek" value="{{avgno}}">{{avgno}}</option>
                </select>
              </div>
            </div>
            <br><br>
            <div class="row">

              <div class="col-md-3">
                <label for="numberOfYearsInSexWork">Number of years in sex work</label>
                <select name="numberOfYearsInSexWork" class="form-control"
                  placeholder=" Enter Number of years in sex work" [(ngModel)]="benefEditTiObj.numberOfYearsInSexWork"
                  formControlName="numberOfYearsInSexWork">
                  <option selected disabled>Select one</option>
                  <option *ngFor="let no of numberOfYearsInSexWork" value="{{no}}">{{no}}</option>
                </select>
              </div>

              <div class="col-md-3">
                <div class="required">
                  <label for="alcoholConsume">Do you consume alcohol</label><br>
                  <input type="radio" name="alcoholConsume" value="true" [(ngModel)]="benefEditTiObj.alcoholConsume"
                    [checked]="isAlcoholConsumed" formControlName="alcoholConsume">Yes
                  <input type="radio" name="alcoholConsume" value="false" [(ngModel)]="benefEditTiObj.alcoholConsume"
                    [checked]="!isAlcoholConsumed" formControlName="alcoholConsume">No
                  <!-- <div *ngIf="submitted && beneficiaryTiEdit.alcoholConsume.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.alcoholConsume.errors.required">This field is required</div>
                  </div> -->
                </div>
              </div>


              <div class="col-md-3" *ngIf="benefEditTiObj.alcoholConsume==true">
                <label for="howManyDaysAWeekIfAlcoholConsuming">If yes, How many days a week</label><br>
                <input type="text" name="howManyDaysAWeekIfAlcoholConsuming" class="form-control"
                  placeholder="How many days a week" [(ngModel)]="benefEditTiObj.howManyDaysAWeekIfAlcoholConsuming"
                  formControlName="howManyDaysAWeekIfAlcoholConsuming"
                  [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.howManyDaysAWeekIfAlcoholConsuming.errors }">
                <div class="errors" *ngIf="beneficiaryTiEdit.howManyDaysAWeekIfAlcoholConsuming.dirty&&
                  beneficiaryTiEdit.howManyDaysAWeekIfAlcoholConsuming.hasError('pattern')&&
                  beneficiaryTiEdit.howManyDaysAWeekIfAlcoholConsuming.touched">
                                          Only number between 1-7 is allowed
                                      </div>
              </div>
            </div>
            <br>
            <hr>
            <h6 class="vertical-line">Migrant HRG Details</h6>
            <br>

            <div class="row">
              <div class="col-md-3">
                <div class="required">
                  <label for="occupation">Occupation</label>
                  <select name="occupation" class="form-control" placeholder="Enter Occupation"
                    [(ngModel)]="benefEditTiObj.occupation" formControlName="occupation"
                    [ngClass]="{ 'is-invalid': submitted && beneficiaryTiEdit.occupation.errors }">
                    <option selected disabled>Select one</option>
                    <option *ngFor="let occupation of occupationList" value="{{occupation}}">{{occupation}}</option>
                  </select>
                  <div *ngIf="submitted && beneficiaryTiEdit.occupation.errors" class="invalid-feedback">
                    <div *ngIf="beneficiaryTiEdit.occupation.errors.required">Occupation is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="registrationPlace">Registration Done at</label>
                <select name="registrationPlace" class="form-control" placeholder=" Enter Registration Done at"
                  [(ngModel)]="benefEditTiObj.registrationPlace" formControlName="registrationPlace">
                  <option selected disabled>Select one</option>
                  <option value="Health camp">Health camp</option>
                  <option value="DIC">DIC</option>
                  <option value="Counselling">Counselling</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="durationOfTheStays">Duration of stay at the destination district</label>
                <select name="durationOfTheStays" class="form-control" placeholder=" Enter Duration of stay"
                  [(ngModel)]="benefEditTiObj.durationOfTheStays" formControlName="durationOfTheStays">
                  <option selected disabled>Select one</option>
                  <option value="less than 1 year">Less THAN 1 year</option>
                  <option value="1-2 year">1-2 year</option>
                  <option value="3-5 years">3-5 years</option>
                  <option value="5-10 years">5-10 years</option>
                  <option value=">10 years 6">>10 years 6</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="stayingWith">Staying With</label>
                <select name="stayingWith" class="form-control" placeholder="Enter Staying With"
                  [(ngModel)]="benefEditTiObj.stayingWith" formControlName="stayingWith">
                  <option selected disabled>Select one</option>
                  <option value="Alone">Alone</option>
                  <option value="Parents">Parents</option>
                  <option value="Spouse and children">Spouse and children</option>
                  <option value="Spouse only">Spouse only</option>
                  <option value="Relatives">Relatives</option>
                  <option value="Colleagues/ Co-worker">Colleagues/ Co-worker</option>
                  <option value="Friends">Friends</option>
                </select>
              </div>
            </div>
            <br><br>
            <div class="row">

              <div class="col-md-3">
                <label for="typeOfMobility">Type of Mobility</label>
                <select name="typeOfMobility" class="form-control" placeholder="Enter Type of Mobility"
                  [(ngModel)]="benefEditTiObj.typeOfMobility" formControlName="typeOfMobility">
                  <option selected disabled>Select one</option>
                  <option value="Individual">Individual</option>
                  <option value="Groups">Groups</option>
                  <option value="Labour contractor">Labour contractor</option>
                  <option value="Broker">Broker</option>
                  <option value="Other 9">Other 9</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="condomUsage">Used condom during last sex</label><br>
                <input type="radio" name="condomUsage" [checked]="isCondomUse" value="true"
                  [(ngModel)]="benefEditTiObj.condomUsage" formControlName="condomUsage">Yes
                <input type="radio" name="condomUsage" [checked]="!isCondomUse" value="false"
                  [(ngModel)]="benefEditTiObj.condomUsage" formControlName="condomUsage">No
              </div>

              <div class="col-md-3">
                <label for="sexOtherThanSpouse">Do you go for sex other than your spouse?</label><br>
                <input type="radio" name="sexOtherThanSpouse" [checked]="isSexOtherThanSpouse" value="true"
                  [(ngModel)]="benefEditTiObj.sexOtherThanSpouse" formControlName="sexOtherThanSpouse">Yes
                <input type="radio" name="sexOtherThanSpouse" [checked]="!isSexOtherThanSpouse" value="false"
                  [(ngModel)]="benefEditTiObj.sexOtherThanSpouse" formControlName="sexOtherThanSpouse">No
              </div>

              <div class="col-md-3">
                <label for="noOfSexualActivity">No. of Sexual activity in the month apart from
                  spouse</label>
                <input type="text" name="noOfSexualActivity" class="form-control"
                  placeholder="No. of Sexual activity in the month apart from spouse"
                  [(ngModel)]="benefEditTiObj.noOfSexualActivity" formControlName="noOfSexualActivity">
              </div>
            </div>

            <br><br>
            <div class="row">
              <div class="col-md-3">
                <label for="addiction">Addiction</label>
                <select name="addiction" class="form-control" placeholder="Enter Type of Addiction"
                  [(ngModel)]="benefEditTiObj.addiction" formControlName="addiction">
                  <option selected disabled>Select one</option>
                  <option value="Individual">Individual</option>
                  <option value="Groups">Groups</option>
                  <option value="Labour contractor">Labour contractor</option>
                  <option value="Broker">Broker</option>
                </select>
              </div>
            </div>

            <br>
            <hr>
            <!-- <h6 class="vertical-line">OST Details</h6>
            <br>
            <div class="row" *ngIf="benefEditTiObj.id">

              <div class="col-md-3">
                <label for="ostNumber">OST Number</label>
                <input type="text" name="ostNumber" class="form-control" placeholder="Enter OST Number"
                  [(ngModel)]="benefEditTiObj.ostNumber" formControlName="ostNumber">
              </div>

              <div class="col-md-3">

                <label for="ostInitiated">OST Initiated</label>
                <select name="ostInitiated" class="form-control" placeholder="Enter option for OST Initiated"
                  [(ngModel)]="benefEditTiObj.ostInitiated" formControlName="ostInitiated">
                  <option selected disabled>Select one</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="currentDose">Current dose</label>
                <input type="text" name="currentDose" class="form-control" placeholder="Enter Current Dose"
                  [(ngModel)]="benefEditTiObj.currentDose" formControlName="currentDose">
              </div>
              <div class="col-md-3">
                <label for="dispensedLastDate">Dispensed last</label>
                <input type="date" name="dispensedLastDate" class="form-control"
                  placeholder="Enter date of Last Dispensation" [(ngModel)]="benefEditTiObj.dispensedLastDate"
                  formControlName="dispensedLastDate">
              </div>
            </div>
            <br> 


            <div class="row" *ngIf="benefEditTiObj.beneficiaryId">
              <div class="col-md-3">
                <label for="dispensationStatus">Dispensation Status</label>
                <input type="text" name="dispensationStatus" class="form-control"
                  placeholder="Enter Dispensation Status" [(ngModel)]="benefEditTiObj.dispensationStatus"
                  formControlName="dispensationStatus">
              </div>

              <div class="col-md-3">
                <label for="nextFollowUpDate">Next Follow-up date</label>
                <input type="date" name="nextFollowUpDate" class="form-control" placeholder="Enter Next Follow up date"
                  [(ngModel)]="benefEditTiObj.nextFollowUpDate" formControlName="nextFollowUpDate">
              </div>
            </div>
            <br><br> 
            <hr>-->

            <h6 class="vertical-line">Transit Details</h6>
            <br>
            <div class="row">
              <div class="col-md-3">
                <label for="isTransit">Is Transit ?</label>
                <select name="isTransit" class="form-control" placeholder="Enter option for transit"
                  [(ngModel)]="benefEditTiObj.isTransit" formControlName="isTransit">
                  <option selected disabled>Select one</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div class="col-md-3" *ngIf="benefEditTiObj.isTransit === 'Yes'">
                <label for="transitStartDate">Start Date</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker5" name="transitStartDate" class="form-control"
                    [(ngModel)]="benefEditTiObj.transitStartDate" formControlName="transitStartDate"
                    [ngClass]="{ 'is-invalid':submitted && beneficiaryTiEdit.transitStartDate.errors}">
                  <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                  <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3" *ngIf="benefEditTiObj.isTransit === 'Yes'">
                <label for="transitEndDate">End Date</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker6" name="transitEndDate" class="form-control"
                    [(ngModel)]="benefEditTiObj.transitEndDate" formControlName="transitEndDate"
                    [ngClass]="{ 'is-invalid':submitted && beneficiaryTiEdit.transitEndDate.errors}">
                  <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                  <mat-datepicker #picker6></mat-datepicker>
                </mat-form-field>
              </div>

            </div>
            <br>
            <hr>
            <div class="form-row">
              <h6 class="vertical-line">Outward Referral Details</h6>
              <input class="m-checkbox" type="checkbox" [(ngModel)]="benefEditTiObj.outwardReferal"
                formControlName="outwardReferal" [checked]="benefEditTiObj.outwardReferal" />
            </div>
            <br>
            <div class="row" *ngIf="benefEditTiObj.outwardReferal">
              <div class="col-md-4">
                <div class="required">
                  <label for="referredFacility">Referred Facility</label>
                  <select name="referredFacility" class="form-control" formControlName="referredFacility"
                    [(ngModel)]="benefEditTiObj.referredFacility">
                    <option *ngFor="let itemVal of referredFacility_list" value="{{itemVal.id}}">
                      {{itemVal.facilityTypeName}}
                  </select>
                </div>

              </div>
              <div class="col-md-4">
                <div class="required">
                  <label for="referredTo">Referred To</label>
                  <select name="referredTo" class="form-control" formControlName="referredTo"
                    [(ngModel)]="benefEditTiObj.referredTo">
                    <option selected disabled>Select one</option>
                    <option *ngFor="let item of referredTo_list" value="{{item.id}}">{{item.name}}
                    </option>
                  </select>
                </div>

              </div>

              <div class="col-md-4">
                <div class="">
                  <label for="referralStatus">Referral Status</label>
                  <select name="referralStatus" class="form-control" formControlName="referralStatus"
                    [(ngModel)]="benefEditTiObj.referralStatus">
                    <option selected disabled>Select one</option>
                    <option value="Referred">Referred</option>
                    <option value="Pending Linkage">Pending Linkage</option>
                    <option value="Linked">Linked</option>
                    <option value="Not Referred">Not Referred</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <hr>


            <section>
              <div class="text-center">
                <button class="btn-save mr-2" type="submit" [disabled]="editForm.invalid">Save</button>
                <button class="btn-cancel" (click)="onCancel()">Cancel</button>
              </div>
            </section>
          </form>


        </div>
      </div>
    </div>

  </div>
</div>