
<app-header *ngIf="showHead"></app-header>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    
        <app-alert></app-alert>
        <router-outlet></router-outlet>
    
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<app-footer *ngIf="showHead"></app-footer>