
<div class="card mt-5">
  <div class=" row  collapsetitle">
    <p class="col-md-11 mt-2">Beneficiary Details</p>
    <button
      class="btn col-md-1"
      type="button"
      data-toggle="collapse"
      data-target="#collapseBeneficiaryDetails"
      aria-expanded="false"
      aria-controls="collapseBeneficiaryDetails"
    >
      <i class="fa fa-angle-down"></i>
    </button>
  </div>
  <ul class="list-group list-group-flush" id="collapseBeneficiaryDetails">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <label>UID Number</label>
          <div>{{beneficiaryObj.beneficiaryUid}}</div>
        </div>
        <div class="col-md-3">
          <label>Beneficiary Name</label>
          <div>{{beneficiaryObj.firstname}} {{beneficiaryObj.middlename}} {{beneficiaryObj.lastname}}</div>
        </div>
        <div class="col-md-3">
          <label>Age</label>
          <div>{{beneficiaryObj.age}}</div>
        </div>
        <div class="col-md-3">
          <label> Gender</label>
          <div>{{beneficiaryObj.gender}}</div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <label>Status</label>
          <div>{{beneficiaryObj.beneficiaryArtStatus}}</div>
        </div>
        <div class="col-md-3">
          <label>Art Number</label>
          <div>{{beneficiaryObj.artNumber}}</div>
        </div>
        <div class="col-md-3">
          <label> Weight Band</label>
          <div>{{beneficiaryObj.weightBand}}</div>
        </div>
        <div class="col-md-3">
          <label>Bar code</label>
          <div>{{beneficiaryObj.barCode}}</div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <label>Regimen</label>
          <div>{{beneficiaryObj.regimenName}}</div>
        </div>
        <div class="col-md-3">
          <label>Weight</label>
          <div>{{beneficiaryObj.weight}}</div>
        </div>
        <div class="col-md-3">
          <label> Last Visited date</label>
          <div>{{beneficiaryObj.lastVisitDate}}</div>
        </div>
        <div class="col-md-3">
          <label>Next appointment date</label>
          <div></div>
        </div>
      </div>
    </li>
  </ul>
</div>

<h4 class="col-md-11 ">Product Details</h4>
<div class="card">
  <ul class="list-group list-group-flush " id="productDetails">
    <li class="list-group-item" style="background-color: #e3f2fd;">
      <div class="row ">
        <div class="col-md-3">Product</div>
        <div class="col-md-2">Avail.Qty</div>
        <div class="col-md-2">Batch</div>
        <div class="col-md-2">Expiry date</div>
        <div class="col-md-2">Dispension Qty</div>
        <div class="col-md-1">Action</div>
      </div>
    </li>
    <div>
      <li class="list-group-item" *ngFor="let div of divs; let i = index;" id="div{{ div }}">
        <div class="row">
          <div class="col-md-3">
            <p-autoComplete
              [(ngModel)]="productList[i]"
              [suggestions]="filterProductsList"
              (completeMethod)="filterProducts($event)"
              field="product"
              [size]="30"
              placeholder="Products"
              [minLength]="1" ></p-autoComplete>
          </div>
          <div class="col-md-2">{{ productList[i]?.availQty }}</div>
          <div class="col-md-2">{{ productList[i]?.batchId }}</div>
          <div class="col-md-2">{{ productList[i]?.expiry }}</div>
          <div class="col-md-2" ><input type="number" class="form-control" [(ngModel)]="dispenseQty"  (change)="add(dispenseQty,i)" /> </div>
          <div class="col-md-1"><button class="btn btn-primary" (click)="deleteProduct(productList[i])">Delete</button></div>
        </div>
      </li>
    </div>
    <div class="row"><button class="btn btn-xs btn-primary col-md-1 ml-5 m-2" (click)="createDiv()">Add Product</button></div>
  </ul>
</div>
<div class="row">
    <div class="col-md-6" style="position: absolute; left:70%">
        <button class="btn btn-xs btn-primary " (click)="Cancel()">Cancel</button>
        <button class="btn btn-xs btn-primary  ml-5" (click)="onSubmit()">Confirm Dispension</button>
    </div>
  </div>
  <router-outlet></router-outlet>
  