.collapsetitle{
    background-color: #e3f2fd;
    margin:0px;
    border-radius: .25rem;
}
.btn-pos{
    margin-top:28px;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;
}
