<div class="content-layout">
    <div class="body-layout">
        <div>
            <h5 class="vertical-line header-title">Counselling</h5>
        </div>
        <!-- <label class="font-smaller m-left-10"><span style="color: red;">*</span> Marked are required fields</label> -->
        <div>
            <div class="form-group">
                <div class="card-body">
                    <div class="card-body">
                        <form [formGroup]="counsellingForm" (ngSubmit)="searchBeneficiary()">

                            <div *ngIf="beneficiaryId">
                                <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
                            </div>
                            <div class="form-row">
                                <div class="input-group">

                                    <input type="text" [formControl]="searchValue" class="form-control"
                                        placeholder="Search by UID / Mobile No:"
                                        style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />

                                    <button class="btn btn-primary" type="submit"
                                        style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
                                        <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <form [formGroup]="counsellingForm" (ngSubmit)="doCounselling()">
                        <hr>
                        <h6 class="vertical-line">General Data</h6>
                        <br>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>UID</label>
                                <input type="text" class="form-control" formControlName="beneficiaryUId"
                                    [ngModel]="counselObj.beneficiaryUId" readonly />
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label for="beneficiaryName">Name</label>
                                    <input type="text" name="beneficiaryName" class="form-control"
                                        [(ngModel)]="counselObj.beneficiaryName" formControlName="beneficiaryName"
                                        [ngClass]="{ 'is-invalid': submitted && counsell.beneficiaryName.errors}" readonly>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="">
                                    <label for="mobileNumber">Mobile Number</label>
                                    <input type="text" name="mobileNumber" class="form-control"
                                        [(ngModel)]="counselObj.mobileNumber" formControlName="mobileNumber"
                                        [ngClass]="{ 'is-invalid': submitted  && counsell.mobileNumber.errors}"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="">
                                    <label for="beneficiaryActivityStatus">Activity Status</label>
                                    <select name="beneficiaryActivityStatus" class="form-control" formControlName="beneficiaryActivityStatus"
                                        [(ngModel)]="counselObj.beneficiaryActivityStatus"
                                        [ngClass]="{ 'is-invalid': submitted && counsell.beneficiaryActivityStatus.errors}"
                                        >
                                        <option selected disabled>-Select One-</option>
                                        <option value="Pending R&V Assessmen">Pending R&V Assessment</option>
                                        <option value="Pending Commodity Distribution">Pending Commodity Distribution</option>
                                        <option value="Pending for Screening">Pending for Screening</option>
                                        <option value="Pending Referral">Pending Referral</option>
                                        <option value="Pending Counselling">Pending Counselling</option>
                                        <option value="Pending STI Treatment">Pending STI Treatment</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label for="healthStatus">Current Health Status</label>
                                    <select name="healthStatus" class="form-control" formControlName="healthStatus"
                                        [(ngModel)]="counselObj.healthStatus"
                                        [ngClass]="{ 'is-invalid': submitted && counsell.healthStatus.errors}" readonly>
                                        <!-- <option selected disabled>Select one</option>
                                        <option value="TB-Screened Positive">TB-Screened Positive</option>
                                        <option value="TB-Screened Negative">TB-Screened Negative
                                        </option>
                                        <option value="Syphilis–Screened Positive">Syphilis–Screened Positive</option>
                                        <option value="Syphilis-Screened Negative">Syphilis-Screened Negative</option>
                                        <option value="HIV-Screened Positive">HIV-Screened Positive</option>
                                        <option value="HIV-Screened Negative">HIV-Screened Negative</option> -->
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>

                        <h6 class="vertical-line">Counselling Data</h6>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="">
                                    <label for="durationOfCounselling">Duration of Counselling</label>
                                    <input type="text" name="durationOfCounselling" class="form-control"
                                        placeholder="Enter Duration of Counselling(hrs)"
                                        [(ngModel)]="counselObj.durationOfCounselling"
                                        formControlName="durationOfCounselling" [ngClass]="{ 'is-invalid': submitted && counsell.durationOfCounselling.errors}">
                                    <div class="errors" *ngIf="counsell.durationOfCounselling.dirty&&
                                        counsell.durationOfCounselling.hasError('pattern')&&
                                        counsell.durationOfCounselling.touched">
                                                                Only number between 1-24 is allowed
                                                            </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label for="typeOfCounsellingProvided">Type of Counselling Provided</label>
                                    <select name="typeOfCounsellingProvided" class="form-control"
                                        formControlName="typeOfCounsellingProvided"
                                        [(ngModel)]="counselObj.typeOfCounsellingProvided"
                                        [ngClass]="{ 'is-invalid': submitted && counsell.typeOfCounsellingProvided.errors && counsell.typeOfCounsellingProvided.errors}">
                                        <option selected disabled>Select one</option>
                                        <option value="Risk assessment counselling">Risk assessment counselling</option>
                                        <option value="Risk reduction counselling ">Risk reduction counselling
                                        </option>
                                        <option value="High-risk behaviour counselling">High-risk behaviour counselling
                                        </option>
                                        <option value="Syphilis-Screened Negative">Syphilis-Screened Negative</option>
                                        <option value="STI counselling">STI counselling</option>
                                        <option value="Pre-HIV test counselling">Pre-HIV test counselling</option>
                                        <option value="Post-HIV test counselling">Post-HIV test counselling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <label for="noOfCondomsDistributed">Number of Condoms Distributed</label>
                                    <input type="text" name="noOfCondomsDistributed" class="form-control"
                                        placeholder="Enter Number of Condoms Distributed"
                                        [(ngModel)]="counselObj.noOfCondomsDistributed"
                                        formControlName="noOfCondomsDistributed" [ngClass]="{ 'is-invalid': submitted && counsell.noOfCondomsDistributed.errors }">
                                    <div class="errors" *ngIf="counsell.noOfCondomsDistributed.dirty&&
                                        counsell.noOfCondomsDistributed.hasError('pattern')&&
                                        counsell.noOfCondomsDistributed.touched">
                                                                Only number between 1-15 is allowed
                                                            </div>
                                </div>
                            </div>

                        </div>

                        <br>
                        <hr>
                        <section>
                            <div class="text-center">
                                <button class="btn-save mr-2" type="submit"
                                    [disabled]="counsellingForm.invalid">Save</button>
                                <button class="btn-cancel mr-2" type="reset" (click)="onReset()">Reset</button>
                                <button class="btn-cancel" (click)="onCancel()">Cancel</button>
                            </div>
                        </section>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>