<div class="content-layout">
  <div class="sub-sub-header-layout">
    <h5 class="sub-sub-header-title">Division </h5>
  </div>
  <hr class="horizontal-line" />

  <div class="body-layout">

    <div class="vertical-line m-bottom-10">
      <label class="header-title" *ngIf="!divObj.id">Add Division</label>
      <label class="header-title" *ngIf="divObj.id">Edit Division</label>
    </div>
    <p class="font-smaller m-left-10">Mandatory fields marked with *</p>

    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="createDivision()">
        <h6>Program Division Information</h6>
        <hr>
        <div class="form-row" *ngIf="divObj.id">
          <input type="hidden" formControlName="id" [(ngModel)]="divObj.id" class="form-control">
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <div class="required">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="divObj.name" formControlName="name" class="form-control" pattern="^([A-Za-z-]+\s?)*$" 
                [ngClass]="{ 'is-invalid':submitted && addDivision.name.errors}" placeholder="Enter Division Name" />
              <div class="error" *ngIf="addDivision.name.dirty 
                                      && addDivision.name.hasError('pattern')
                                      && addDivision.name.touched">Name must be alphabet
              </div>
               <!-- <ng-template [ngIf]="submitted &&  addDivision.name.errors" [ngIfElse]="err">                        -->
                <div *ngIf="submitted &&addDivision.name.errors" class="invalid-feedback">
                  <div *ngIf="addDivision.name.errors.required">Name is required
                  </div>
                </div>
               <!-- </ng-template> -->
               <ng-template #err>
                <div class="error" *ngIf="error && !addDivision.name.hasError('pattern')">
                  {{error}}
                </div>
               </ng-template>

            </div>
          </div>

          <div class="form-group col-6 required">
            <label for="isActive">Status</label>
            <select name="isActive" class="form-control" [(ngModel)]="divObj.isActive" formControlName="isActive"
              [ngClass]="{ 'is-invalid': submitted && addDivision.isActive.errors }">
              <option [ngValue]="undefined" selected disabled>-Select One-</option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
            <div class="invalid-feedback" *ngIf="(submitted && addDivision.isActive.errors)" class="invalid-feedback">
              <div *ngIf="addDivision.isActive.errors.required">Status is required</div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6" *ngIf="divObj.id">
              <label for="code">Code</label>
              <input type="text" [(ngModel)]="divObj.code" formControlName="code" class="form-control" />
            
          </div>

          <div class="form-group col-6 required">
            <label for="facilityTypeIds">Facility Type</label>
            <ng-multiselect-dropdown name="facilityTypeIds" formControlName="facilityTypeIds"
              [(ngModel)]="divObj.facilityTypes"
              [ngClass]="{ 'is-invalid': submitted && addDivision.facilityTypeIds.errors }"
              [placeholder]="'custom placeholder'" [data]="facility_types" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
            <div class="invalid-feedback" *ngIf="(submitted && addDivision.facilityTypeIds.errors)" class="invalid-feedback">
              <div *ngIf="addDivision.facilityTypeIds.errors.required">Facility Type is required</div>
            </div>
            <div  class="error" *ngIf="error">{{error}}
            </div>
          </div>
        </div>

        <br><br>
        <h6>HEAD/DDG INFORMATION</h6>
        <hr>
        <br>
        <div class="form-row">
          <div class="form-group col-4">
            <div class="required">
              <label for="headDdgName">Head/DDG Name</label>
              <input type="text" [(ngModel)]="divObj.headDdgName" formControlName="headDdgName"
                class="form-control" pattern="^([A-Za-z-]+\s?)*$" 
                [ngClass]="{ 'is-invalid':submitted && addDivision.headDdgName.errors}"
                placeholder="Enter Head/DDG Name" />
              <div class="invalid-feedback" *ngIf="addDivision.headDdgName.dirty 
                                      && addDivision.headDdgName.hasError('pattern')
                                      && addDivision.headDdgName.touched">Only alphabets are allowed
              </div>

              <div class="invalid-feedback" *ngIf="(submitted && addDivision.headDdgName.errors)" class="invalid-feedback">
                <div *ngIf="addDivision.headDdgName.errors.required">Head/DDG Name is required</div>
              </div>
            </div>

          </div>

          <div class="form-group col-4">
            <div class="required">
              <label for="headDdgEmail">Head Email-ID</label>
              <input type="text" [(ngModel)]="divObj.headDdgEmail" formControlName="headDdgEmail" class="form-control"
                [ngClass]="{ 'is-invalid':submitted && addDivision.headDdgEmail.errors}"
                placeholder="Enter Head Email-ID" />
              <div class="invalid-feedback" *ngIf="submitted && addDivision.headDdgEmail.errors">
                <div *ngIf="addDivision.headDdgEmail.errors.required">Head Email-ID is required</div>
              </div>
              <div class="invalid-feedback"
                *ngIf="addDivision.headDdgEmail.dirty && addDivision.headDdgEmail.hasError('pattern') && addDivision.headDdgEmail.touched">
                Email must be valid
              </div>
            </div>
          </div>

          <div class="form-group col-4"><label for="headDdgMobileNo">Head Mobile No</label>
            <input type="text" class="form-control" [(ngModel)]="divObj.headDdgMobileNo"
              formControlName="headDdgMobileNo" maxlength=10
              [ngClass]="{ 'is-invalid':submitted && addDivision.headDdgMobileNo.errors}"
              placeholder="Enter Head Mobile No" />
            <div class="invalid-feedback" *ngIf="addDivision.headDdgMobileNo.dirty &&
                addDivision.headDdgMobileNo.hasError('pattern')&& addDivision.headDdgMobileNo.touched">
              only digits are allowed [must be 10 digits]</div>
          </div>
        </div>

        <br><br>
        <h6>NATIONAL PROGRAM OFFICER INFORMATION</h6>
        <hr>
        <br>
        <div class="form-row">
          <div class="form-group col-4">
            <div class="required">
              <label for="npoName">NPO Name</label>
              <input type="text" [(ngModel)]="divObj.npoName" formControlName="npoName" class="form-control"
                [ngClass]="{ 'is-invalid':submitted && addDivision.npoName.errors}"
                 placeholder="Enter NPO Name " pattern="^([A-Za-z-]+\s?)*$" />
              <div class="invalid-feedback" *ngIf="addDivision.npoName.dirty 
                                      && addDivision.npoName.hasError('pattern')
                                      && addDivision.npoName.touched">Name must be alphabet</div>
              <div class="invalid-feedback" *ngIf="(submitted && addDivision.npoName.errors)" class="invalid-feedback">
                <div *ngIf="addDivision.npoName.errors.required">NPO Name is required</div>
              </div>
            </div>
          </div>

          <div class="form-group col-4">
            <div class="required">
              <label for="npoEmail">NPO Email-ID</label>
              <input type="text" [(ngModel)]="divObj.npoEmail" formControlName="npoEmail" class="form-control"
                [ngClass]="{ 'is-invalid':submitted && addDivision.npoEmail.errors}" placeholder="Enter NPO Email-ID" />
              <div *ngIf="submitted && addDivision.npoEmail.errors" class="invalid-feedback">
                <div class="errors" *ngIf="addDivision.npoEmail.errors.required">NPO Email-ID is required</div>
              </div>
              <div class="invalid-feedback"
                *ngIf="addDivision.npoEmail.dirty && addDivision.npoEmail.hasError('pattern') && addDivision.npoEmail.touched">
                Email must be valid
              </div>
            </div>
          </div>

          <div class="form-group col-4"><label for="npoMobileNo">NPO Mobile No</label>
            <input type="text" class="form-control" [(ngModel)]="divObj.npoMobileNo" formControlName="npoMobileNo"
              [ngClass]="{ 'is-invalid':submitted && addDivision.npoMobileNo.errors}"
              placeholder="Enter Head Mobile No" maxlength=10 />
            <div class="invalid-feedback" *ngIf="addDivision.npoMobileNo.dirty&& addDivision.npoMobileNo.hasError('pattern')&&
                addDivision.npoMobileNo.touched">
                only digits are allowed [must be 10 digits]</div>
          </div>
        </div>

        <br><br>
        <h6>SUPPLY CHAIN COORDINATOR INFORMATION</h6>
        <hr>
        <br>

        <div class="form-row">
          <div class="form-group col-4">
            <label for="sccName">SCC Name</label>
            <input type="text" [(ngModel)]="divObj.sccName" formControlName="sccName" 
             class="form-control" pattern="^([A-Za-z-]+\s?)*$" 
              [ngClass]="{ 'is-invalid':submitted && addDivision.sccName.errors}" placeholder="Enter SCC Name " />
            <div class="invalid-feedback" *ngIf="addDivision.sccName.dirty 
                                    && addDivision.sccName.hasError('pattern')
                                    && addDivision.sccName.touched">Name must be alphabet</div>
          </div>

          <div class="form-group col-4"><label for="sccEmail">SCC Email-ID</label>
            <input type="text" [(ngModel)]="divObj.sccEmail" formControlName="sccEmail" class="form-control"
              [ngClass]="{ 'is-invalid':submitted && addDivision.sccEmail.errors}" placeholder="Enter SCC Email-ID" />

            <div class="invalid-feedback"
              *ngIf="addDivision.sccEmail.dirty && addDivision.sccEmail.hasError('pattern') && addDivision.sccEmail.touched">
              Email must be valid
            </div>
          </div>

          <div class="form-group col-4"><label for="sccMobileNo">SCC Mobile No</label>
            <input type="text" class="form-control" [(ngModel)]="divObj.sccMobileNo" formControlName="sccMobileNo"
              [ngClass]="{ 'is-invalid':submitted && addDivision.sccMobileNo.errors}"
              placeholder="Enter SCC  Mobile No" maxlength=10 />
            <div class="invalid-feedback" *ngIf="addDivision.sccMobileNo.dirty&& addDivision.sccMobileNo.hasError('pattern')&&
                addDivision.sccMobileNo.touched">
                only digits are allowed [must be 10 digits]
            </div>

          </div>
        </div>

        <br><br>

        <section>
          <div class="text-center">
            <button class="btn-save mr-2" type="submit" *ngIf="divObj.id">Update</button>
            <button class="btn-save mr-2" type="submit" *ngIf="!divObj.id">Save</button>
            <button class="btn-cancel mr-2" type="reset" (click)="onReset()" *ngIf="!divObj.id">Reset</button>
            <button class="btn-cancel" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>