<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Users </h5>
    </div>
    <hr class="horizontal-line" />
    <div class="body-layout">


        <div class="vertical-line m-bottom-10">
            <label class="header-title" *ngIf="!userObj.id">Add User</label>
            <label class="header-title" *ngIf="userObj.id">Edit User</label>
        </div>
        <div class="vertical-line">
            <div> <label class="header-sub-title">{{title}}</label></div>

        </div>

        <label class="font-smaller m-left-10">Mandatory fields marked with *</label>
        <form [formGroup]="registerForm" (ngSubmit)="addUser()">
            <div class="form-row" *ngIf="userObj.id">
                <input type="hidden" formControlName="id" [(ngModel)]="userObj.id" class="form-control">
            </div>
            <hr class="max-width" />
            <div>
                <div class="form-row">
                    <div class="form-group col-3 required">
                        <label class="font-normal">First Name</label></div>
                    <div class="form-group col-4">
                        <input type="text" formControlName="firstname" placeholder="Enter First Name"
                            [(ngModel)]="userObj.firstname" class="form-control" pattern="^([A-Za-z]+\s?)*\s*$"
                            [ngClass]="{ 'is-invalid':submitted && user.firstname.errors}" />
                        <!-- <div class="form-row">
                        <mat-icon>info</mat-icon>
                        <label class="info-txt">Your login credentials would be sent to this email ID.</label>
                    </div> -->
                        <div *ngIf="submitted&&user.firstname.errors" class="invalid-feedback">
                            <div *ngIf="user.firstname.errors.required">Name is required</div>
                        </div>
                        <div class="error" *ngIf="user.firstname.dirty&&user.firstname.hasError('pattern')
                           &&user.firstname.touched">Name must be alphabet
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3">
                        <label class="font-normal">Last Name</label></div>
                    <div class="form-group col-4">
                        <input type="text" formControlName="lastname" placeholder="Enter Last Name"
                            [(ngModel)]="userObj.lastname" class="form-control" pattern="^([A-Za-z]+\s?)*\s*$"
                            [ngClass]="{ 'is-invalid':submitted && user.lastname.errors}" />
                        <!-- <div class="form-row">
                        <mat-icon>info</mat-icon>
                        <label class="info-txt">Your login credentials would be sent to this email ID.</label>
                    </div> -->
                        <!-- <div *ngIf="submitted&&user.lastname.errors" class="invalid-feedback">
                            <div *ngIf="user.lastname.errors.required">Name is required</div>
                        </div> -->
                        <div class="error" *ngIf="user.lastname.dirty&&user.lastname.hasError('pattern')
                           &&user.lastname.touched">Name must be alphabet
                        </div>
                    </div>
                </div>
                <ng-template [ngIf]="!userObj.id" [ngIfElse]="email">
                    <div class="form-row">
                        <div class="form-group col-3 required">
                            <label class="font-normal">E-mail*</label>
                        </div>
                        <div class="form-group col-4">
                            <input type="text" placeholder="E-mail" [(ngModel)]="userObj.email" formControlName="email"
                                class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                [ngClass]="{ 'is-invalid': submitted && user.email.errors }" />
                            <div *ngIf="submitted && user.email.errors" class="invalid-feedback">
                                <div *ngIf="user.email.errors.required">Email is required</div>
                            </div>
                            <div class="error"  *ngIf="user.email.dirty&&user.email.hasError('pattern')
                                               &&user.email.touched">Email must be a valid email address
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #email>
                    <!-- For Edit email should not be change-->
                    <div class="form-row">
                        <div class="form-group col-3 required">
                            <label class="font-normal">E-mail</label>
                        </div>
                        <div class="form-group col-4">
                            <input readonly type="text" placeholder="E-mail" [(ngModel)]="userObj.email"
                                formControlName="email" class="form-control" />
                        </div>
                    </div>

                </ng-template>

                <ng-template [ngIf]="!userObj.id" [ngIfElse]="uname">
                    <div class="form-row">
                        <div class="form-group col-3 required">
                            <label class="font-normal">Username</label>
                        </div>
                        <div class="form-group col-4">
                            <input type="text" placeholder="Username" formControlName="userName"
                                [(ngModel)]="userObj.userName" class="form-control" pattern="[a-zA-Z0-9]+"
                                [ngClass]="{ 'is-invalid': submitted && user.userName.errors }" />
                            <ng-template [ngIf]="submitted && user.userName.errors" [ngIfElse]="err">
                                <div *ngIf="submitted && user.userName.errors" class="invalid-feedback">
                                    <div *ngIf="user.userName.errors.required">Username is required</div>
                                </div>
                            </ng-template>
                            <div class="error"  *ngIf="user.userName.dirty && user.userName.hasError('pattern')
                                       && user.userName.touched">Username should contain alpha numeric only
                            </div>
                            <div class="error"  *ngIf="user.userName.dirty && user.userName.hasError('minlength')
                                   && user.userName.touched">Username should contain atleast 4 letters
                        </div>
                            <ng-template #err>
                                <div class="error"  *ngIf="errorMsg && !user.userName.hasError('pattern')">
                                    *{{errorMsg}}</div>
                            </ng-template>
                        </div>
                    </div>
                </ng-template>
                <ng-template #uname>
                    <div class="form-row">
                        <!-- For Edit username should not be change-->
                        <div class="form-group col-3 required">
                            <label class="font-normal">Username</label>
                        </div>
                        <div class="form-group col-4">
                            <input readonly type="text" formControlName="userName" [(ngModel)]="userObj.userName"
                                class="form-control"/>
                        </div>
                    </div>
                </ng-template>

                <div class="form-row">
                    <div class="form-group col-3 required">
                        <label class="font-normal">Designation</label>
                    </div>
                    <div class="form-group col-4">
                        <select type="text" formControlName="designationId" [(ngModel)]="userObj.designationId" 
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && user.designationId.errors }">
                            <option [ngValue]="undefined" selected disabled>Select Designation</option>
                            <option *ngFor="let designation of designation_list" value="{{designation.id}}">
                                {{designation.title}}</option>
                        </select>
                        <div *ngIf="submitted && user.designationId.errors" class="invalid-feedback">
                            <div *ngIf="user.designationId.errors.required">Designation is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3 required">
                        <label class="font-normal">Division</label>
                    </div>
                    <div class="form-group col-4">
                        <select type="text" formControlName="divisionId" id="divisionId"
                            (change)="onDivisionSelect($event)"  [(ngModel)]="userObj.divisionId"
                            class="form-control"  [ngClass]="{ 'is-invalid': submitted && user.divisionId.errors }">
                            <option [ngValue]="undefined" selected disabled>-Select One-</option>
                            <option *ngFor="let division of divisions_list" value="{{division.id}}">
                                {{division.name}}</option>
                        </select>
                        <div *ngIf="submitted && user.divisionId.errors" class="invalid-feedback">
                            <div *ngIf="user.divisionId.errors.required">Division is required</div>
                        </div>
                    </div>
                </div>

                
                <div class="form-row">
                    <div class="form-group col-3 required">
                        <label class="control-label required">Facility Type</label>
                    </div>
                    <div class="form-group col-4">
                        <select type="text" formControlName="facilityTypeId" id="facilityTypeId"
                            [(ngModel)]="userObj.facilityTypeId"  class="form-control"
                            (change)="onFacilityTypeSelect($event.target.value)"
                            [ngClass]="{ 'is-invalid': submitted && user.facilityTypeId.errors }">
                            <option [ngValue]="undefined" disabled selected>-Select One-</option>
                            <option  *ngFor="let facilityType of facilityType_list"  value="{{facilityType.id}}">
                                {{facilityType.facilityTypeName}}</option>
                        </select>
                        <div *ngIf="submitted && user.facilityTypeId.errors" class="invalid-feedback">
                            <div *ngIf="user.facilityTypeId.errors.required">Facility Type is required</div>
                        </div>
                    </div>
                </div>

                <!--Facility dropdown-->
                <div class="form-row">
                        <div class="form-group col-3 required">
                            <label class="control-label required">Facility</label>
                        </div>
                        <div class="form-group col-4">
                            <select type="text" formControlName="facilityId" id="facilityId"
                                [(ngModel)]="userObj.facilityId"  class="form-control"
                                (change)="onFacilitySelect($event.target.value)"
                                [ngClass]="{ 'is-invalid': submitted && user.facilityId.errors }">
                                <option [ngValue]="undefined" disabled selected>-Select One-</option>
                                <option  *ngFor="let facility of facilities"  value="{{facility.facilityId}}">
                                    {{facility.facilityName}}</option>
                            </select>
                            <div *ngIf="submitted && user.facilityTypeId.errors" class="invalid-feedback">
                                <div *ngIf="user.facilityId.errors.required">Facility  is required</div>
                            </div>
                        </div>
                    </div>

                <div class="form-row">
                    <div class="form-group col-3 required">
                        <label for="roleDto"class="control-label " >Role</label>
                    </div>
                    <div class="form-group col-4">
                        <ng-multiselect-dropdown name="roleDto"  id="role" [(ngModel)]="userObj.roleDto"
                            formControlName="roleDto" [ngClass]="{ 'is-invalid': submitted && user.roleDto.errors }"
                            [placeholder]="'Select Role'" [data]="roleListForSelect" [settings]="dropdownSettings" class="form-control"  >
                        </ng-multiselect-dropdown>

                          <div *ngIf="submitted && user.roleDto.errors" class="invalid-feedback">
                            <div *ngIf="user.roleDto.errors.required">Role Name is required</div>
                        </div> 
                        
                        <!-- <div class="error" *ngIf="submitted && user.roleDto.errors">{{error}}
                        </div> -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3 required">
                        <label class="font-normal">Status</label>
                    </div>
                    <div class="form-group col-4">
                        <select formControlName="isActive"
                            [ngClass]="{ 'is-invalid': submitted && user.isActive.errors }"
                            [(ngModel)]="userObj.isActive" class="form-control">
                            <option  [ngValue]="undefined" selected disabled >Select Status</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                        <div class="errors" *ngIf="submitted && user.isActive.errors" class="invalid-feedback">
                            <div class="errors" *ngIf="user.isActive.errors.required">Status is required</div>
                        </div>
                    </div>
                </div>

          
                <div class="form-row">
                    <div class="form-group col-3 required">
                        <label class="font-normal">Mobile</label>
                    </div>
                    <div class="form-group col-4">
                        <input type="text" placeholder="Mobile No" formControlName="mobileNumber"
                            [(ngModel)]="userObj.mobileNumber" class="form-control" maxlength=10
                            pattern="^[1-9]\d{9}$|^[1-9]\d{9}$"
                            [ngClass]="{ 'is-invalid': submitted && user.mobileNumber.errors }" />
                        <div *ngIf="submitted && user.mobileNumber.errors" class="invalid-feedback">
                            <div *ngIf="user.mobileNumber.errors.required">Mobile Number is required</div>
                        </div>
                        <div class="error"  *ngIf="user.mobileNumber.dirty && user.mobileNumber.hasError('pattern')
                                   && user.mobileNumber.touched">Mobile number should contain 10 digits
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-3">
                        <label class="font-normal">Landline</label>
                    </div>
                    <div class="form-group col-4">
                        <input type="text" placeholder="Landline No" formControlName="landlineNumber"
                            [(ngModel)]="userObj.landlineNumber" maxlength=11 pattern="^[0-9]\d{10}$|^[1-9]\d{10}-$"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && user.landlineNumber.errors }" />
                        <div class="error" *ngIf="user.landlineNumber.dirty && user.landlineNumber.hasError('pattern')
                                   && user.landlineNumber.touched">Landline number must be valid
                        </div>
                    </div>
                </div>
            </div>

            <hr class="max-width" />
            <div class="form-row m-bottom-10">
                <button class="btn-cancel m-right-60" (click)="goBack()">CANCEL</button>
                <button class="btn-cancel m-right-20" type="reset" (click)="onReset()">RESET</button>
                <button class="btn-save" type="submit" *ngIf="!userObj.id">SAVE</button>
                <button class="btn-save" type="submit" *ngIf="userObj.id">UPDATE</button>
            </div>
            <br />
            <!-- </form> -->
            <!-- </div> -->
        </form>
    </div>
</div>