<div class="content-layout">
  <div class="body-layout">
    <div>
      <h5 class="vertical-line header-title">Beneficiary List</h5>
    </div>

    <div class="row">
      <div class="card card-solid col-md-12 soch-card-default">
        <div class="card-body">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <button type="submit" class="btn btn-primary btn-sm">Filter</button>
            </div>
            <input class="form-control" type="text"  (input)="dt.filterGlobal($event.target.value, 'contains')"
               placeholder="Name, Age, Gender">
          </div>
        </div>
      </div>
    </div>
    <p-table class="table" [columns]="cols" [value]="beneficiaryTI_list" sortMode="multiple" [paginator]="true"
      [rows]="10" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalRecords" #dt>

      <ng-template pTemplate="header" let-columns>
        <tr  style="text-align: center;">
          <th >
            UID Number
          </th>
          <th >
            Beneficiary Details
          </th>
          <th >
            Current Status
          </th>
          <th >
            Option
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-beneficiary let-columns="columns">
        <tr>
          <td>
            {{beneficiary.uidNumber}}
          </td>
          <td>
            <ul>
              <li><b>Name:</b> {{beneficiary.firstName}} {{beneficiary.lastName}}</li>
              <li><b>Age:</b> {{beneficiary.age}}</li>
              <li><b>Mobile Number:</b> {{beneficiary.mobileNumber}}</li>
              <li><b>Gender:</b> {{beneficiary.gender}}</li>
              <li><b>Facility Code:</b> {{beneficiary.facilityCode}}</li>
              <li><b>Date Of Registration:</b> {{beneficiary.dateOfRegistration}}</li>
            </ul>
          </td>
          <!-- <td>
            <ul>
              <li><b>Facility Code:</b> {{beneficiary.facilityCode}}</li>
              <li><b>Date Of Registration:</b> {{beneficiary.dateOfRegistration}}</li>
            </ul>
          </td> -->
          <td>
            {{beneficiary.clientStatus}}
          </td>

          <td>

            <button routerLink="/beneficiaryTI/add" style="background-color: transparent;border: none"
              (click)="editBeneficiaryTI(beneficiary)">
              <fa-icon style="color:rgb(110, 100, 70);font-size: 15px;" [icon]="edit_icon"></fa-icon>
            </button>
            <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle"
              [popoverMessage]="popoverMessage" placement="left" (confirm)="disableBeneficiaryTI(beneficiary)"
              (cancel)="cancelClicked = true">
              <fa-icon style="color:rgb(112, 149, 253);font-size: 15px;" [icon]="trash_icon"></fa-icon>
            </button>

            <!-- <button style="background-color: transparent;border: none" (click)="viewBeneficiary(beneficiary)">
                <fa-icon style="color:rgb(31, 81, 216);font-size: 15px;" [icon]="view_icon"></fa-icon>
              </button> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>