<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="float-left sub-sub-header-title">Division </h5>
        <button class="btn-save float-right sub-sub-header-title" (click)="addDivisionButton()">Add
        </button>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">
        <h5 class="vertical-line header-title">Program Divisions</h5>
        <div class="row">
            <div class="card card-solid col-md-12 soch-card-default">
                <div class="card-body">
                    <form role="form">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                            </div>
                            <input class="form-control" type="text" 
                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                 placeholder="Division Name, Head DDG Name, NPO Name">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <p-table class="table" [columns]="cols" [value]="divisions_list" sortMode="multiple" [paginator]="true"
                [rows]="6" [rows]="10" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalRecords" #dt>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="small-col">Serial No.</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" *ngIf="col.header!='Facility Type'">
                            </p-sortIcon>
                        </th>
                        <th>
                            Option
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-division let-i="rowIndex">
                    <tr>
                        <!-- <td *ngFor="let col of columns">
                            {{division[col.field]}}

                        </td> -->
                        <td>{{i+1}}</td>
                        <td>{{division.code}}</td>
                        <td>{{division.name}}</td>
                        <td>
                            <ul *ngFor="let temp of division.facilityTypes">
                                <li> {{temp.facilityTypeName}}</li>
                            </ul>
                        </td>
                        <td>{{division.headDdgName}}</td>
                        <td>{{division.headDdgMobileNo}}</td>
                        <td>
                            <button style="background-color: transparent;border: none" (click)="editDivision(division)">
                                <fa-icon style="color:rgb(110, 100, 70);font-size: 15px;" [icon]="edit_icon"></fa-icon>
                            </button>
                            <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteDivision(division)"
                                (cancel)="cancelClicked = true">
                                <fa-icon style="color:rgb(112, 149, 253);font-size: 15px;" [icon]="trash_icon">
                                </fa-icon>
                            </button>
                            <button style="background-color: transparent;border: none" (click)="viewDivision(division)">
                                <fa-icon style="color:rgb(31, 81, 216);font-size: 15px;" [icon]="view_icon"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
        </div>
    </div>
</div>