<h1 mat-dialog-title>Finish Collecting Samples</h1>
<div mat-dialog-content>
  <p>Collection Date</p>
  <input type="date" [(ngModel)]="data.date"/>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="data.date" cdkFocusInitial>Ok</button>
</div>