
.left-container{
    margin-left: 3%;
    
}
.right-container{
    margin-left: 1%;
}
.panel-bar{
    color: dodgerblue;
}
.table-height{
    height: 400px;
    overflow: auto;
}
table{
    width: 100%;
   }

   .error{
       color: red;
       font-size: 1rem;
   }
   .badge-text{
    position: relative;
    top: 0px;
    color: #5cb85c;
    background-color: #fff;
    padding: 6px;
    border-radius: 50%;
   }
   