<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">
            Sample Collection
            <button class="w-auto btn-save float-right sub-sub-header-title" 
            [disabled]="dataSource2.data.length==0" (click)="openDialog()">
                Finish Collecting samples <span class="badge badge-text">{{dataSource2.data.length}}</span>
            </button>
            <!-- <button class="btn-save float-right sub-sub-header-title" disabled *ngIf="this.dataSource2.data.length==0" (click)="openDialog()">
                Finished
            </button> -->
        </h5>
    </div>
    <hr class="horizontal-line" />
    <div class="body-layout .left-container row">
        <div class="col-sm-3 col-md-4  h-100 left-container">
            <nav class="navbar navbar-dark bg-primary">
                <p class="navbar-brand">Beneficiaries</p>
                <p></p>
            </nav>

            <div style="height: 400px">
                <div class="table-height">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="search by name,age etc" />
                    </mat-form-field>
                    <table mat-table #table1 [dataSource]="dataSource" class="mat-elevation-z8  ">
                        <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <!-- <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>ID</th>
                            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                        </ng-container> -->

                        <!-- Name Column -->
                        <ng-container matColumnDef="beneficiaryName">
                            <th mat-header-cell *matHeaderCellDef>Beneficiary Name</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.beneficiaryName }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef>Age</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.age }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef>Gender</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.gender }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="preArtNo">
                            <th mat-header-cell *matHeaderCellDef>preArtNo</th>
                            <td mat-cell *matCellDef="let element">{{ element.preArtNo }}</td>
                        </ng-container>

                        <ng-container matColumnDef="artNo">
                            <th mat-header-cell *matHeaderCellDef>ArtNo</th>
                            <td mat-cell *matCellDef="let element">{{ element.artNo }}</td>
                        </ng-container>

                        <!-- Symbol Column
                                  <ng-container matColumnDef="test">
                                    <th mat-header-cell *matHeaderCellDef> Test </th>
                                    <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                                  </ng-container> -->

                        <ng-container matColumnDef="op">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row; let i = index">
                                <button mat-button (click)="addItem(row, i)" class="btn btn-default btn-sm">
                                    <span class="fa fa-plus-square" aria-hidden="true"></span>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-7 h-100 right-container">
            <nav class="navbar navbar-dark bg-primary">
                <p class="navbar-brand">Collecting Samples</p>
                <p></p>
            </nav>

            <div class="table-height">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter2($event)" placeholder="search by name,age etc" />
                </mat-form-field>
                <table mat-table #table2 [dataSource]="dataSource2" class="mat-elevation-z8 ">
                    <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <!-- <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                    </ng-container> -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="beneficiaryName">
                        <th mat-header-cell *matHeaderCellDef>Beneficiary Name</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.beneficiaryName }}
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="preArtNo">
                        <th mat-header-cell *matHeaderCellDef>Pre-Art</th>
                        <td mat-cell *matCellDef="let element">{{ element.preArtNo }}</td>
                    </ng-container>

                    <ng-container matColumnDef="artNo">
                        <th mat-header-cell *matHeaderCellDef>Art</th>
                        <td mat-cell *matCellDef="let element">{{ element.artNo }}</td>
                    </ng-container>



                    <ng-container matColumnDef="test">
                        <th mat-header-cell *matHeaderCellDef>Test</th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            <select required [(ngModel)]="testDataArray[i]['testname']" (change)="dis($event.target.value,row)">
                                <option *ngFor="let t of tests" [value]="t.value">
                                    {{ t.viewValue }}
                                </option>
                            </select>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="barcode">
                        <th mat-header-cell *matHeaderCellDef>barcode</th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            <input *ngIf="testDataArray[i]['testname'] !== 'CD4'" matInput placeholder="Enter barcode"
                                [(ngModel)]="testDataArray[i]['barcode']"
                                (change)="barcodeUpdate(testDataArray[i]['barcode'],row)" />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="testType">
                        <th mat-header-cell *matHeaderCellDef>testType</th>

                        <td mat-cell *matCellDef="let row; let i = index">
                            <select required *ngIf="testDataArray[i]['testname'] !== 'CD4'" [(ngModel)]="testDataArray[i]['testType']"
                                (change)="test_typeUpdate(testDataArray[i]['testType'],row)">
                                <option *ngFor="let type of test_types" [value]="type.value">
                                    {{ type.viewValue }}
                                </option>
                            </select>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="op1">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            <button mat-button (click)="removeItem(row, i)">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2; let i = index"></tr>
        
                </table>
                <br/>
                <!-- <div class="error" *ngIf="dataSource2.data.length==0">
                        select beneficiaries to collect samples ----- erero
                </div> -->
                <div class="text-center " *ngIf="!dataSource2.data.length" 
                style="background: white;margin-top: -20px;padding: 16px 0; 
                box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)">
                No record found! Add beneficiaries to collect samples</div>
                <div class="error" *ngIf="error">Duplicate value found in barcode</div>
                <div class="error" *ngIf="error1">{{error1}}</div>
                
            </div>
        </div>
    </div>
</div>

