<div class="content-layout">
    <div class="body-layout">
      <div>
        <h5 class="vertical-line header-title">Transfer In</h5>
      </div>
      <div>
        <div class="form-group">
          <div class="card-body">
            <div class="card-body">
              <form [formGroup]="transferInForm" (ngSubmit)="searchBeneficiary()">
  
                <div *ngIf="beneficiaryId">
                  <input type="text" [formControl]="beneficiaryId" class="form-control" hidden>
                </div>
                <div class="form-row">
                  <div class="input-group">
  
                    <input type="text" [formControl]="searchValue" class="form-control"
                      placeholder="Search by UID / Mobile No:"
                      style="border-top-left-radius: 18px; border-bottom-left-radius: 18px;" />
  
                    <button class="btn btn-primary" type="submit"
                      style="border-top-right-radius: 18px; border-bottom-right-radius: 18px;">
                      <i class="fa fa-search" aria-hidden="true"></i> &nbsp;Search Beneficiary
                    </button>
  
                  </div>
                </div>
              </form>
            </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
  
                <!-- <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container> -->
  
                <ng-container matColumnDef="uidNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let row"> {{row.uidNumber}} </td>
                </ng-container>
  
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
  
                <ng-container matColumnDef="transferredFrom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transferred From</th>
                  <td mat-cell *matCellDef="let row"> {{row.transferredFrom}} </td>
                </ng-container>
  
                <ng-container matColumnDef="transferredTo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transferred To </th>
                  <td mat-cell *matCellDef="let row"> {{row.transferredTo}} </td>
                </ng-container>
  
                <ng-container matColumnDef="transferDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Date </th>
                  <td mat-cell *matCellDef="let row"> {{row.transferDate}} </td>
                </ng-container>

  
                <!-- Context Menu -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class=" mat-icon-button"
                      aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </td>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="acceptTransferIn()">
                      <mat-icon>check_circle</mat-icon>
                      <span>Accept</span>
                    </button>
  
                  </mat-menu>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (click)="getSelRecordFromTable(row)" *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>