<div class="content-layout">
    <div class="sub-sub-header-layout">
            <label class="sub-sub-header-title">Facility </label> 
    </div>
    <hr class="horizontal-line" />
    <div class="body-layout">

        <div class="vertical-line">
                <div>
                    <label class="header-title" *ngIf=!facilityObj.id>Add Facility</label>
                    <label class="header-title" *ngIf=facilityObj.id>Edit Facility</label>
                </div>
            </div>
            <label class="font-smaller m-left-5">Mandatory fields marked with *</label>

        <div >
            <div class="card-body">
                <form [formGroup]="facilityCreationForm" (ngSubmit)="saveFacility()">
                    <div class="card m-5">
                        <div class="card-body">
                            <h6>Facility Details</h6>
                            <hr>
                           
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <div class="form-row" *ngIf="facilityObj.id">
                                        <input type="hidden" formControlName="id" [(ngModel)]="facilityObj.id"
                                            class="form-control">
                                    </div>
                                    <div class="form-row" *ngIf="facilityObj.id">
                                        <input type="hidden" formControlName="addressId"
                                            [(ngModel)]="facilityObj.addressId" class="form-control">
                                    </div>
                                    <div class="form-row" *ngIf="facilityObj.id">
                                        <input type="hidden" formControlName="userFacilityMappingId"
                                            [(ngModel)]="facilityObj.userFacilityMappingId" class="form-control">
                                    </div>
                                    <div>
                                    <label for="name" class="control-label">*Name </label>
                                    <input type="text" class="form-control" formControlName="name"
                                        [(ngModel)]="facilityObj.name" pattern="^([A-Za-z]+\s?)*$"
                                        [ngClass]="{'is-invalid': submitted && facility.name.errors}" />
                                    <div *ngIf="submitted && facility.name.errors" class="invalid-feedback">
                                        <div *ngIf="facility.name.errors.required">Facility name is required</div>
                                    </div>
                                    <div class="error"
                                        *ngIf="facility.name.dirty && facility.name.hasError('pattern') && facility.name.touched">
                                        Name must be alphabet only
                                    </div>
                                    <div class="error" *ngIf="error && !facility.name.hasError('pattern')">
                                            {{error}}
                                          </div>
                                </div>
                                    
                                </div>
                                <div class="form-group col-3" *ngIf="facilityObj.id">
                                    <label>Facility Code</label>
                                    <input type="text" class="form-control" formControlName="code"
                                        [ngModel]="facilityObj.code" readonly />
                                </div>

                                <div class="form-group col-3" *ngIf="!facilityObj.id">
                                    <label class="control-label">*Facility Type</label>
                                    <select formControlName="facilityTypeId" class="form-control"
                                        [(ngModel)]="facilityObj.facilityTypeId"
                                        [ngClass]="{ 'is-invalid':submitted && facility.facilityTypeId.errors }"
                                        (change)="onFacilityTypeSelect($event.target.value)">
                                        <option  [ngValue]="undefined" selected disabled hidden>select one</option>
                                        <option *ngFor="let facilityType of facilityType_list"
                                            value={{facilityType.id}}>
                                            {{facilityType.facilityTypeName}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && facility.facilityTypeId.errors" class="invalid-feedback">
                                        <div *ngIf="facility.facilityTypeId.errors.required">Facility Type is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-3" *ngIf="facilityObj.id">
                                        <label class="control-label">*Facility Type</label>
                                        <select formControlName="facilityTypeId" class="form-control"
                                            [ngModel]="facilityObj.facilityTypeId"
                                            [ngClass]="{ 'is-invalid':submitted && facility.facilityTypeId.errors }"
                                            (change)="onFacilityTypeSelect($event.target.value)">
                                            <option value="" selected disabled hidden>select one</option>
                                            <option *ngFor="let facilityType of facilityType_list"
                                                value={{facilityType.id}}>
                                                {{facilityType.facilityTypeName}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && facility.facilityTypeId.errors" class="invalid-feedback">
                                            <div *ngIf="facility.facilityTypeId.errors.required">Facility Type is required
                                            </div>
                                        </div>
                                    </div>
                                <div class="form-group col-3">
                                    <label class="control-label">*Division</label>
                                    <input type="text" class="form-control" formControlName="divisionId"
                                        [ngModel]="divisionId" hidden />
                                    <input type="text" class="form-control" formControlName="divisionName"
                                        [ngModel]="divisionName" readonly />

                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-8" *ngIf="!facilityObj.id">
                                    <label for="facilityAddress" class="control-label">*Address </label>
                                    <textarea type="text" class="form-control" style="max-width:1000px;"
                                        formControlName="facilityAddress" [(ngModel)]="facilityObj.facilityAddress"
                                        [ngClass]="{'is-invalid': submitted && facility.facilityAddress.errors}"></textarea>
                                    <div *ngIf="submitted && facility.facilityAddress.errors" class="invalid-feedback">
                                        <div *ngIf="facility.facilityAddress.errors.required">Facility address is
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-8" *ngIf="facilityObj.id">
                                    <label for="facilityAddress" class="control-label">*Address </label>
                                    <textarea type="text" class="form-control" style="max-width:1000px;"
                                        formControlName="facilityAddress" [ngModel]="facilityObj.address.address"
                                        [ngClass]="{'is-invalid': submitted && facility.facilityAddress.errors}"></textarea>
                                    <div *ngIf="submitted && facility.facilityAddress.errors" class="invalid-feedback">
                                        <div *ngIf="facility.facilityAddress.errors.required">Facility address is
                                            required
                                        </div>
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-4">
                                    <label for="status" class="control-label">*Status </label>
                                    <select class="form-control" formControlName="status" [ngModel]="facilityObj.status"
                                        [ngClass]="{'is-invalid': submitted && facility.status.errors}">
                                        <option  [ngValue]="undefined" selected disabled >-Select One-</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                    <div *ngIf="submitted && facility.status.errors" class="invalid-feedback">
                                        <div *ngIf="facility.status.errors.required">Status is required</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div style="float:left;" class="form-group col-3" *ngIf="!facilityObj.id">
                                    <label for="state" class="control-label">*State </label>
                                    <select class="form-control" formControlName="stateId"
                                        [ngModel]="facilityObj.stateId"
                                        [ngClass]="{'is-invalid': submitted && facility.stateId.errors}"
                                        (change)="onSelect($event.target.value)">
                                        <option  [ngValue]="undefined" selected disabled hidden>Select state</option>
                                        <option *ngFor="let state of statesAndDistricts_list" value={{state.id}}>
                                            {{state.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && facility.stateId.errors" class="invalid-feedback">
                                        <div *ngIf="facility.stateId.errors.required">State is required</div>
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-3" *ngIf="facilityObj.id">
                                    <label for="state" class="control-label">*State </label>
                                    <select class="form-control" formControlName="stateId"
                                        [ngModel]="facilityObj.address.stateId"
                                        [ngClass]="{'is-invalid': submitted && facility.stateId.errors}"
                                        (change)="onSelect($event.target.value)">
                                        <option *ngFor="let state of statesAndDistricts_list" value={{state.id}}>
                                            {{state.name}}</option>
                                    </select>
                                    <div *ngIf="submitted && facility.stateId.errors" class="invalid-feedback">
                                        <div *ngIf="facility.stateId.errors.required">State is required</div>
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-3" *ngIf="facilityObj.id">
                                    <label for="district" class="control-label">*District </label>
                                    <select class="form-control" formControlName="districtId"
                                        [ngModel]="facilityObj.address.districtId"
                                        [ngClass]="{'is-invalid': submitted && facility.districtId.errors}">
                                        <option [ngValue]="undefined" selected disabled hidden  >Select district</option>
                                        <option value="" disabled *ngIf="districts==null">please select a state</option>
                                        <option *ngFor="let district of districts " value={{district.id}}>
                                            {{district.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && facility.districtId.errors" class="invalid-feedback">
                                        <div *ngIf="facility.districtId.errors.required">District is required</div>
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-3" *ngIf="!facilityObj.id">
                                    <label for="district" class="control-label">*District </label>
                                    <select class="form-control" formControlName="districtId"
                                        [ngModel]="facilityObj.districtId"
                                        [ngClass]="{'is-invalid': submitted && facility.districtId.errors}">
                                        <option [ngValue]="undefined" selected disabled hidden >Select district</option>
                                        <option value="" disabled *ngIf="districts==null">please select a state</option>
                                        <option *ngFor="let district of districts " value={{district.id}}>
                                            {{district.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && facility.districtId.errors" class="invalid-feedback">
                                        <div *ngIf="facility.districtId.errors.required">District is required</div>
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-3" *ngIf="facilityObj.id">
                                    <label for="pincode" class="control-label">*City</label>
                                    <input type="text" class="form-control" formControlName="city"
                                        pattern="^([A-Za-z]+\s?)*$" [ngModel]="facilityObj.address.city"
                                        [ngClass]="{'is-invalid': submitted && facility.city.errors}">
                                    <div *ngIf="submitted && facility.city.errors" class="invalid-feedback">
                                        <div *ngIf="facility.city.errors.required">City is required</div>
                                    </div>
                                    <div class="error"
                                        *ngIf="facility.city.dirty && facility.city.hasError('pattern') && facility.city.touched">
                                        City must be alphabet only
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-3" *ngIf="!facilityObj.id">
                                    <label for="pincode" class="control-label">*City</label>
                                    <input type="text" class="form-control" formControlName="city"
                                        pattern="^([A-Za-z]+\s?)*\s*$" [ngModel]="facilityObj.city"
                                        [ngClass]="{'is-invalid': submitted && facility.city.errors}">
                                    <div *ngIf="submitted && facility.city.errors" class="invalid-feedback">
                                        <div *ngIf="facility.city.errors.required">City is required</div>
                                    </div>
                                    <div class="error"
                                        *ngIf="facility.city.dirty && facility.city.hasError('pattern') && facility.city.touched">
                                        City must be alphabet only
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-3" *ngIf="!facilityObj.id">
                                    <label for="pincode" class="control-label">*Pin code </label>
                                    <input type="text" class="form-control" formControlName="pincode"
                                        pattern="^[1-9]+[0-9]*$" [ngModel]="facilityObj.pincode" maxlength="6"
                                        [ngClass]="{'is-invalid': submitted && facility.pincode.errors}">
                                    <div *ngIf="submitted && facility.pincode.errors" class="invalid-feedback">
                                        <div *ngIf="facility.pincode.errors.required">Pincode is required</div>
                                    </div>
                                    <div class="error"
                                        *ngIf="facility.pincode.dirty && facility.pincode.hasError('pattern') && facility.pincode.touched">
                                        pincode must be digits
                                    </div>
                                </div>
                                <div style="float:left;" class="form-group col-3" *ngIf="facilityObj.id">
                                    <label for="pincode" class="control-label">*Pin code </label>
                                    <input type="text" class="form-control" formControlName="pincode"
                                        pattern="^[1-9]+[0-9]*$" [ngModel]="facilityObj.address.pincode"
                                        [ngClass]="{'is-invalid': submitted && facility.pincode.errors}" maxlength="6">
                                    <div *ngIf="submitted && facility.pincode.errors" class="invalid-feedback">
                                        <div *ngIf="facility.pincode.errors.required">Pincode is required</div>
                                    </div>
                                    <div class="error"
                                        *ngIf="facility.pincode.dirty && facility.pincode.hasError('pattern') && facility.pincode.touched">
                                        pincode must be digits
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card m-5">
                        <div class="card-body">
                            <button class="btn-broad float-right" type="button" (click)="addUserBtn()">Add Primary User</button><br />
                            <h6>Primary User Details</h6>
                            <hr>
                            <div style="float:left;" class="form-group col-3" *ngIf="!facilityObj.id">
                                <label for="primaryUserId" class="control-label">*Primary User </label>
                                <select formControlName="primaryUserId" class="form-control"
                                    [ngClass]="{ 'is-invalid':submitted && facility.primaryUserId.errors }">
                                    <option value="" selected disabled hidden>select one</option>
                                    <option value="" disabled *ngIf="user_list==null">please select a facility
                                        type</option>
                                    <option *ngFor="let user of user_list" value={{user.id}}>
                                        {{user.firstname}} ({{user.roleDto[0].name}})
                                    </option>
                                </select>
                                <div *ngIf="submitted && facility.primaryUserId.errors" class="invalid-feedback">
                                    <div *ngIf="facility.primaryUserId.errors.required">User is required
                                    </div>
                                </div>

                            </div>
                            <div style="float:left;" class="form-group col-3" *ngIf="facilityObj.id">
                                <label for="primaryUserId" class="control-label required">Primary User </label>
                                <select formControlName="primaryUserId" class="form-control" [ngModel]="facilityObj.primaryUserId"
                                    [ngClass]="{ 'is-invalid':submitted && facility.primaryUserId.errors }">
                                    <option value="" selected disabled hidden>select one</option>
                                    <option *ngFor="let user of user_list" value={{user.id}}>
                                        {{user.firstname}} [ {{user.roleDto[0].name}}]
                                    </option>
                                </select>
                                <div *ngIf="submitted && facility.primaryUserId.errors" class="invalid-feedback">
                                    <div *ngIf="facility.primaryUserId.errors.required">User is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->

                    <section>
                        <div class="text-center">
                            <button class="btn-save mr-2" type="submit" *ngIf="!facilityObj.id">Save</button>
                            <button class="btn-save mr-2" type="submit" *ngIf="facilityObj.id">Update</button>
                            <button class="btn-cancel mr-2" type="reset" *ngIf="!facilityObj.id" (click)="onReset()">Reset</button>
                            <button class="btn-cancel" (click)="onCancel()">Cancel</button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>