
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#a1a5a9 !important;
    border-radius:0;
    font-size: 16px;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    /* padding: 18px 25px; */
    color:#fff;
    background:#a1a5a9;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
/* .tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
} */

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #707070;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}