<div class="content-layout">
  <div class="sub-sub-header-layout">
    <h5 class="sub-sub-header-title">Beneficiaries
    </h5>
  </div>
  <hr class="horizontal-line" />

  <div class="body-layout">

    <div class="col-xs-12">
      <!-- <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" routerLink="list" data-toggle="tab" role="tab" aria-selected="true">Beneficiary
            List</a>
          <a class="nav-item nav-link" routerLink="add" data-toggle="tab" role="tab" aria-selected="true">Add
            Beneficiary
          </a>
          <a class="nav-item nav-link" routerLink=" r&vAssessment" data-toggle="tab" role="tab" aria-selected="false">Assesment</a>
          <a class="nav-item nav-link" routerLink="screening" data-toggle="tab" role="tab" aria-selected="false">
            Screening</a>
          <a class="nav-item nav-link" routerLink="view" data-toggle="tab" role="tab" aria-selected="false"> Dispense</a>
        <a class="nav-item nav-link" routerLink="view" data-toggle="tab" role="tab" aria-selected="false"> Record
          Result</a>
        <a class="nav-item nav-link" routerLink="view" data-toggle="tab" role="tab" aria-selected="false"> Facility
          Referral</a>
        <a class="nav-item nav-link" routerLink="view" data-toggle="tab" role="tab" aria-selected="false">
          Reconciliation</a>

        </div>
      </nav> -->
      <nav mat-tab-nav-bar class="tab-header" *ngIf="!isUserTIOST">
        <a mat-tab-link *ngFor="let item of navTiCoreLinks" class="tab-item-style menu-text" [routerLink]="item.link"
          routerLinkActive #rla="routerLinkActive" (click)="activeNGOLink = item"
          [active]="activeNGOLink == item">{{item.label}}
        </a>
      </nav>
      <nav mat-tab-nav-bar class="tab-header" *ngIf="isUserTIOST">
        <a mat-tab-link *ngFor="let item of navTiOSTLinks" class="tab-item-style menu-text" [routerLink]="item.link"
          routerLinkActive #rla="routerLinkActive" (click)="activeOSTLink = item"
          [active]="activeOSTLink == item">{{item.label}}
        </a>

      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>