<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Division</h5>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">
        <button class="btn-cancel float-right" (click)="goBack()">Back</button>
        <h5 class="vertical-line header-title">Division Details</h5>
        <div class="card m-5">


            <div class="card-body">
                <table class="table-bordered table-hover" width="75%" style="margin-left:100px;">
                    <tr>
                        <td>Division Name : </td>
                        <td>{{divObj.name}}</td>
                    </tr>
                    <tr>
                        <td>Division Code : </td>
                        <td>{{divObj.code}}</td>
                    </tr>
                    <tr>
                        <td> Status : </td>
                        <td>{{divObj.isActive?'Active':'Inactive'}}</td>
                    </tr>
                    <tr>
                        <td> Head DDG Name : </td>
                        <td>{{divObj.headDdgName}}</td>
                    </tr>
                    <tr>
                        <td> Head DDG Email : </td>
                        <td>{{divObj.headDdgEmail}}</td>
                    </tr>
                    <tr *ngIf="divObj.headDdgMobileNo">
                        <td> Head DDG Mobile Number : </td>
                        <td>{{divObj.headDdgMobileNo}}</td>
                    </tr>
                    <tr>
                        <td> NPO Name : </td>
                        <td>{{divObj.npoName}}</td>
                    </tr>
                    <tr>
                        <td> NPO Email : </td>
                        <td>{{divObj.npoEmail}}</td>
                    </tr>
                    <tr *ngIf="divObj.npoMobileNo">
                        <td> NPO Mobile Number : </td>
                        <td>{{divObj.npoMobileNo}}</td>
                    </tr>
                    <tr *ngIf="divObj.sccName">
                        <td> SCC Name : </td>
                        <td>{{divObj.sccName}}</td>
                    </tr>
                    <tr *ngIf="divObj.sccEmail">
                        <td> SCC Email : </td>
                        <td>{{divObj.sccEmail}}</td>
                    </tr>
                    <tr *ngIf="divObj.sccMobileNo">
                        <td> SCC Mobile Number : </td>
                        <td>{{divObj.sccMobileNo}}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>