<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Dashboard 
            <!-- <button style="float: right;" class="sub-sub-header-title">
                Quick Create</button> -->
            </h5>
    </div>
    <hr class="horizontal-line" />
    <section class="body-layout">
        <div class="container-fluid">
            <!-- <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard Content</h1>
                </div>
            </div> -->
        </div>
    </section>
    <section class="content">
        <p class="text-center empty-content"><i class="fa fa-inbox fa-10x"></i></p>
    </section>
</div>