<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Masters
        </h5>
    </div>
    <hr class="horizontal-line" />

    <div class="body-layout">
        <div class="vertical-line">
            <div>
                <h5 class="header-title" *ngIf="!eachMasterObj.id">Add New {{title}}</h5>
                <h5 class="header-title" *ngIf="eachMasterObj.id">Update {{title}}</h5>
            </div>


        </div>
        <label class="font-smaller m-left-10">Mandatory fields marked with *</label>
        <div class="card m-5">

            <div class="card-body">

                <form [formGroup]="addMasterFormGroup" (ngSubmit)="saveMaster()">
                    <section>
                        <div class="form-row" *ngIf="eachMasterObj.id">
                            <input type="hidden" formControlName="id" [(ngModel)]="eachMasterObj.id"
                                class="form-control">
                        </div>
                        <div class="form-row" *ngIf="masterObj.id==1">
                            <div class="form-group col-4">
                                <label for="facilityTypeName" class="control-label">*Facility Type</label>
                                <input type="text" class="form-control" [(ngModel)]="eachMasterObj.facilityTypeName"
                                    formControlName="facilityTypeName" pattern="^([A-Za-z-]+\s?)*$" 
                                    [ngClass]="{'is-invalid': submitted && master.facilityTypeName.errors}" />
                                <div class="errorMsg" *ngIf="master.facilityTypeName.dirty && master.facilityTypeName.hasError('pattern')
                                 &&master.facilityTypeName.touched">Facility Type must be alphabets
                                </div>
                                <ng-template [ngIf]="submitted && master.facilityTypeName.errors" [ngIfElse]="err">
                                                           
                                    <div *ngIf="submitted && master.facilityTypeName.errors" class="invalid-feedback">
                                        <div *ngIf="master.facilityTypeName.errors.required"> Facility Type
                                            name is required</div>
                                    </div>
                                </ng-template>
                                <ng-template #err>
                                    <div class="error"  *ngIf="error && !master.facilityTypeName.hasError('pattern')">
                                        {{error}}
                                    </div>
                                </ng-template>

                            </div>
                            <div class="form-group col-4">
                                <label class="control-label">Status</label>
                                <select formControlName="isActive" [(ngModel)]="eachMasterObj.isActive"
                                    class="form-control">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>


                        <div *ngIf="masterObj.id==2" style="float:left;" class="form-group col-4">
                            <label for="productTypeName" class="control-label">*Product Type Name</label>
                            <input type="text" maxlength=99 class="form-control"
                                [(ngModel)]="eachMasterObj.productTypeName" formControlName="productTypeName" required
                                [ngClass]="{'is-invalid': submitted && master.productTypeName.errors}" />
                            <ng-template [ngIf]="submitted && master.productTypeName.errors" [ngIfElse]="err">
                                                       
                                <div *ngIf="submitted && master.productTypeName.errors" class="invalid-feedback">
                                    <div *ngIf="master.productTypeName.errors.required">Product type name is required
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #err>
                                <div class="error"  *ngIf="error && !master.productTypeName.hasError('pattern')">
                                    {{error}}
                                </div>
                            </ng-template>
                        </div>

                        <div *ngIf="masterObj.id==3" style="float:left;" class="form-group col-4">
                            <label for="uomName" class="control-label">*UOM Name</label>
                            <input type="text" maxlength=99 class="form-control" [(ngModel)]="eachMasterObj.uomName"
                                formControlName="uomName" required
                                [ngClass]="{'is-invalid': submitted && master.uomName.errors}" />
                            <ng-template [ngIf]="submitted &&  master.uomName.errors" [ngIfElse]="err">
                                                       
                                <div *ngIf="submitted &&  master.uomName.errors" class="invalid-feedback">
                                    <div *ngIf=" master.uomName.errors.required">UOM name is required
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #err>
                                <div class="error"  *ngIf="error && ! master.uomName.hasError('pattern')">
                                    {{error}}
                                </div>
                            </ng-template>
                        </div>

                        <div *ngIf="masterObj.id==4" style="float:left;" class="form-group col-4">
                            <label for="globalStatusName" class="control-label">*Status Name</label>
                            <input type="text" maxlength=99 class="form-control"
                                [(ngModel)]="eachMasterObj.globalStatusName" formControlName="globalStatusName" required
                                [ngClass]="{'is-invalid': submitted && master.globalStatusName.errors}" />
                            <ng-template [ngIf]="submitted &&  master.globalStatusName.errors" [ngIfElse]="err">
                                                      
                                <div *ngIf="submitted && master.globalStatusName.errors" class="invalid-feedback">
                                    <div *ngIf="master.globalStatusName.errors.required">Status name is required
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #err>
                                <div class="error"  *ngIf="error && ! master.globalStatusName.hasError('pattern')">
                                    {{error}}
                                </div>
                            </ng-template>
                        </div>

                        <div *ngIf="masterObj.id == 5" style="float:left;" class="form-group col-4">
                            <label for="inventoryStatusName" class="control-label">*Status Name</label>
                            <input type="text" maxlength=99 class="form-control"
                                [(ngModel)]="eachMasterObj.inventoryStatusName" formControlName="inventoryStatusName"
                                required [ngClass]="{'is-invalid': submitted && master.inventoryStatusName.errors}" />
                            <ng-template [ngIf]="submitted &&  master.inventoryStatusName.errors" [ngIfElse]="err">                      
                                <div *ngIf="submitted && master.inventoryStatusName.errors" class="invalid-feedback">
                                    <div *ngIf="master.inventoryStatusName.errors.required">Status name is required
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #err>
                                <div class="error"  *ngIf="error && ! master.inventoryStatusName.hasError('pattern')">
                                    {{error}}
                                </div>
                            </ng-template>
                        </div>

                        <div *ngIf="masterObj.id==6" style="float:left;" class="form-group col-4">
                            <label for="gitStatusName" class="control-label">*Status Name</label>
                            <input type="text" maxlength=99 class="form-control"
                                [(ngModel)]="eachMasterObj.gitStatusName" formControlName="gitStatusName" required
                                [ngClass]="{'is-invalid': submitted && master.gitStatusName.errors}" />
                            <div *ngIf="submitted &&  master.gitStatusName.errors" class="invalid-feedback">
                                <div *ngIf=" master.gitStatusName.errors.required">Status name is required</div>
                            </div>
                            <div class="error" *ngIf="error">{{error}}</div>
                        </div>

                        <div *ngIf="masterObj.id==7" style="float:left;" class="form-group col-4">
                            <label for="indentRequestStatusName" class="control-label">*Status Name</label>
                            <input type="text" maxlength=99 class="form-control"
                                [(ngModel)]="eachMasterObj.indentRequestStatusName"
                                formControlName="indentRequestStatusName" required
                                [ngClass]="{'is-invalid': submitted && master.indentRequestStatusName.errors}" />
                            <div *ngIf="submitted &&  master.indentRequestStatusName.errors" class="invalid-feedback">
                                <div *ngIf=" master.indentRequestStatusName.errors.required">Status name is required
                                </div>
                            </div>
                            <div class="error" *ngIf="error">{{error}}</div>
                        </div>

                        <div *ngIf="masterObj.id==8" style="float:left;" class="form-group col-4">
                            <label for="indentReasonsName" class="control-label">*Status Name</label>
                            <input type="text" maxlength=99 class="form-control"
                                [(ngModel)]="eachMasterObj.indentReasonsName" formControlName="indentReasonsName"
                                required [ngClass]="{'is-invalid': submitted && master.indentReasonsName.errors}" />
                            <div *ngIf="submitted && master.indentReasonsName.errors" class="invalid-feedback">
                                <div *ngIf=" master.indentReasonsName.errors.required">Status name is required</div>
                            </div>
                            <div class="error" *ngIf="error">{{error}}</div>
                        </div>

                        <div *ngIf="masterObj.id==9" style="float:left;" class="form-group col-4">
                            <label for="patientStatusName" class="control-label">*Status Name</label>
                            <input type="text" maxlength=99 class="form-control"
                                [(ngModel)]="eachMasterObj.patientStatusName" formControlName="patientStatusName"
                                required [ngClass]="{'is-invalid': submitted && master.patientStatusName.errors}" />
                            <div *ngIf="submitted && master.patientStatusName.errors" class="invalid-feedback">
                                <div *ngIf=" master.patientStatusName.errors.required">Status name is required</div>
                            </div>
                            <div class="errorMsg" *ngIf="error">{{error}}</div>
                        </div>

                        <div *ngIf="masterObj.id==10" style="float:left;" class="form-group col-4">
                            <label for="dataType" class="control-label">*Data Type</label>
                            <div>
                                <select class="form-control" formControlName="dataType"
                                    (change)="changeDataType($event)"
                                    [ngClass]="{'is-invalid': submitted && master.dataType.errors}"
                                    [(ngModel)]="eachMasterObj.dataType">
                                    <option [ngValue]="undefined" selected disabled>Select Data Type</option>
                                    <!-- <option *ngFor="let dataTypeVal of patientDataTypesVal">{{dataTypeVal}}</option> -->
                                    <option value="Caste">Caste</option>
                                    <option value="Entry_Point">Entry_Point</option>
                                    <option value="Risk_Factor_for_HIV">Risk_Factor_for_HIV</option>
                                    <option value="Education">Education</option>
                                    <option value="Monthly_Household_Income">Monthly_Household_Income</option>
                                    <option value="Occupation">Occupation</option>
                                    <option value="Weight_Band">Weight_Band</option>
                                    <option value="Side_Effects">Side_Effects</option>
                                    <option value="Marital_Status">Marital_Status</option>
                                    <option value="Partner_No_Test_Reason">Partner_No_Test_Reason</option>
                                    <option value="ARV_Prophylaxis">ARV_Prophylaxis</option>
                                    <option value="Referred_By">Referred_By</option>
                                    <option value="Transmission_Route">Transmission_Route</option>
                                    <option value="Partner_Occupation">Partner_Occupation</option>
                                </select>

                                <div *ngIf="submitted && master.dataType.errors" class="invalid-feedback">
                                    <div *ngIf=" master.dataType.errors.required">Data Type is required</div>
                                </div>
                            </div>
                            <div class="error" *ngIf="error">{{error}}</div><br>

                            <div>
                                <label for="dataValue" class="control-label">*Data Value</label>
                                <input type="text" maxlength=99 class="form-control"
                                    [(ngModel)]="eachMasterObj.dataValue" formControlName="dataValue" required
                                    [ngClass]="{'is-invalid': submitted && master.dataValue.errors}" />
                                <div *ngIf="submitted &&  master.dataValue.errors" class="invalid-feedback">
                                    <div *ngIf=" master.dataValue.errors.required">Data Value is required</div>
                                </div>
                                <div class="error" *ngIf="error">{{error}}</div>
                            </div>
                        </div>
                        <br style="clear:both;" />
                    </section>
                    <br /><br />

                    <section>
                        <div class="text-center">
                            <button class="btn-cancel mr-2" type="button" (click)="onCancel()">Cancel</button>
                            <button class="btn-save" type="submit" *ngIf="!eachMasterObj.id">Save</button>
                            <button class="btn-save" type="submit" *ngIf="eachMasterObj.id">Update</button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>