<div class="content-layout">
    <div class="sub-sub-header-layout">
        <h5 class="sub-sub-header-title">Facility <button class="btn-save float-right sub-sub-header-title"  (click)="addFacBtn()">Add</button></h5>
    </div>
    <hr class="horizontal-line" />
    <div class="body-layout">
        <h5 class="vertical-line header-title">Facility List</h5>
        <div class="row">
            <div class="card card-solid col-md-12 soch-card-default">
                <div class="card-body">
                    <form role="form">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                            </div>
                            <input class="form-control" type="text" 
                            (input)="dt.filterGlobal($event.target.value,'contains')" placeholder="Facility Name, Facility Code" > 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <div >
            <p-table class="table" [columns]="cols" [value]="facilities_list" sortMode="multiple" [paginator]="true"
                [rows]="10" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalRecords" #dt>

           <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="small-col">Serial No.</th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th class="med-col">Primary User Details</th>
                        <th>
                            Option
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-facility let-columns="columns" let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{facility.name}}</td>
                        <td>{{facility.code}}</td>
                        <td *ngIf="facility.division.name=='Others'&&facility.facilityType.facilityTypeName=='NACO'">
                            NACO
                        </td>
                        <td *ngIf="facility.division.name=='Others'&&facility.facilityType.facilityTypeName=='SACS'">
                            SACS
                        </td>
                        <td *ngIf="facility.division.name!='Others'">{{facility.division.name}}
                        </td>
                      
                        <td>{{facility.facilityType.facilityTypeName}} </td>

                        <!-- <td>
                    <ul *ngFor="let temp of facility.user">
                        <li> {{temp.firstName}} {{temp.lastName}}</li>
                    </ul>
                </td> -->
                        <td>
                            {{facility.status}}
                        </td>
                        <td></td>

                        <td>

                            <button style="background-color: transparent;border: none" (click)="editFacility(facility)">
                                <fa-icon style="color:rgb(110, 100, 70);font-size: 15px;" [icon]="edit_icon"></fa-icon>
                            </button>
                            <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteFacility(facility)"
                                (cancel)="cancelClicked = true">
                                <fa-icon style="color:rgb(112, 149, 253);font-size: 15px;" [icon]="trash_icon">
                                </fa-icon>
                            </button>
                            <button style="background-color: transparent;border: none" (click)="viewFacility(facility)">
                                <fa-icon style="color:rgb(31, 81, 216);font-size: 15px;" [icon]="view_icon"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr >
                        <td [attr.colspan]="columns.length + 3">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>