<div class="content-layout">
    <div class="body-layout">
    <div>
        <h5 class="vertical-line header-title">Assessment</h5>
      </div>
      <div class="row">
        <div class="card card-solid col-md-12 soch-card-default">
          <div class="card-body">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
              </div>
              <input class="form-control" type="text"  (input)="dt.filterGlobal($event.target.value, 'contains')"
                 placeholder="Name, Age, Gender">
            </div>
          </div>
        </div>
      </div>
      <p-table class="table" [columns]="cols" [value]="beneficiaryTI_list" sortMode="multiple" [paginator]="true"
        [rows]="10" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="totalRecords" #dt>
  
        <ng-template pTemplate="header" let-columns>
          <tr  style="text-align: center;">
            <th style="width:200px">
              UID Number
            </th>
            <th colspan="2" style="width:300px">
              Beneficiary Details
            </th>
            <th style="width: 150px;">
              Current Status
            </th>
            <th style="width:150px">
              Action
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-beneficiary let-columns="columns">
          <tr>
            <td>
              {{beneficiary.uidNumber}}
            </td>
            <td>
              <ul>
                <li><b>Name:</b> {{beneficiary.firstName}} {{beneficiary.lastName}}</li>
                <li><b>Age:</b> {{beneficiary.age}}</li>
                <li><b>Mobile Number:</b> {{beneficiary.mobileNumber}}</li>
                <li><b>Gender:</b> {{beneficiary.gender}}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li><b>Facility Code:</b> {{beneficiary.facilityCode}}</li>
                <li><b>Date Of Registration:</b> {{beneficiary.dateOfRegistration}}</li>
              </ul>
            </td>
            <td>
              {{beneficiary.clientStatus}}
            </td>
  
            <td>
  
              <button routerLink="/beneficiary/assessment" style="background-color: transparent;border: none"
                (click)="artAssessment(beneficiary)">
                <label class="labelStyle">Assess</label>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>