<div class="content-layout">
  <section class="content">
    <div class="mat-app-background basic-container">
      <mat-tab-group class="dispense-tab-group" #matgroup >
        <mat-tab label="Today's Dispensation">
          <button mat-button class="mat-button-prim mt-1 mb-1" [matMenuTriggerFor]="dispMenu">Today's Dispensations</button>
          <button mat-button class="mat-button-prim mt-1 mb-1" [matMenuTriggerFor]="dispMenu">Start Date - End Date</button>

          <mat-menu #dispMenu="matMenu">
            <button mat-menu-item rou>Today's Dispensations</button> <button mat-menu-item>All Dispensations</button>
          </mat-menu>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="benificiaryQueueDatasource" matSort>
              <!-- Benificiary Uid Column -->
              <ng-container matColumnDef="beneficiaryUid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Benificiary Uid</th>
                <td mat-cell *matCellDef="let row">{{ row.beneficiaryUid }}</td>
              </ng-container>

              <!-- Benificiary Name Column -->
              <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Benificiary Name</th>
                <td mat-cell *matCellDef="let row">{{ row.firstname }}</td>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="artStartDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let row">{{ row.artStartDate }}</td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                <td mat-cell *matCellDef="let row">{{ row.age }}</td>
              </ng-container>

              <!-- Gender Column -->
              <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
                <td mat-cell *matCellDef="let row">{{ row.gender }}</td>
              </ng-container>

              <!-- Pre-ART Number Column -->
              <ng-container matColumnDef="preArtNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pre-ART Number</th>
                <td mat-cell *matCellDef="let row">{{ row.preArtNumber }}</td>
              </ng-container>

              <!-- ART No Column -->
              <ng-container matColumnDef="artNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ART No</th>
                <td mat-cell *matCellDef="let row">{{ row.artNumber }}</td>
              </ng-container>
              
              <!-- Context Menu -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-menu-item (click)="dispense(row,matgroup)">
                    <span>Dispense</span>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsQueueList"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsQueueList"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-tab>
        <mat-tab label="Transit Dispensation">
          <form role="form">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile" />
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                  </div>
                  <div class="input-group-append"><span class="input-group-text" id="">Upload</span></div>
                </div>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer"><button type="submit" class="btn btn-primary">Submit</button></div>
          </form>
        </mat-tab>
        <mat-tab label="Beneficiary Dispense"><router-outlet></router-outlet></mat-tab>
        <mat-tab label="PEP Dispensation"> <app-pep-dispense></app-pep-dispense> </mat-tab>
        <mat-tab label="Return from Beneficiary">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                  
                  >
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                  
                  >
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
                <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
                <td mat-cell *matCellDef="let row">{{ row.color }}</td>
              </ng-container>
              <!-- Context Menu -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let row">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    class=" mat-icon-button"
                    aria-label="Example icon-button with a menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Action 1</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Action 2</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Action 3</span>
                  </button>
                </mat-menu>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>

