﻿

/*login page css starts*/

::-webkit-input-placeholder {
   color: #a7a9ac;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a7a9ac;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a7a9ac;  
}

:-ms-input-placeholder {  
   color: #a7a9ac;  
}
body{font-family:'Segoe UI'; font-size:14px; color:#333333; height:100%; background:#f5f5f5; width:100%;}
.pos-relative{position:relative;}

#login-pg .login-pg-container{position:relative; margin:0 auto; display:block; z-index:15; height:100%; width:100%}
#login-pg  a{  color:#ffffff;}  
#login-pg .login-base-container{position:relative; background: #ffffff; display: block; padding: 24px; z-index: 11; text-align:center; border-top: 5px solid #33b5e5; min-height:323px; width:282px; margin:0 auto;}
#login-pg .login-title{position:relative; z-index:12;  color:#333333; font-size:22px; font-family:Calibri; margin: 0 0 44px 0;}
#login-pg .forgot-pass{position:relative; z-index:12;  color:#333333; font-size:13px; text-decoration:none; }
#login-pg .login-form{position:relative; z-index:12;  width:232px;}
#login-pg .login-form input{border-radius:2px;}
#login-pg .login-form input[type=email]{font-family:Calibri; border-radius:5px 5px 0 0; border: 1px solid #fdfdfd!important; padding-left: 35px;}
#login-pg .login-form input[type=password]{font-family:Calibri; border-radius:0 0 5px 5px; border: 1px solid #fdfdfd!important; padding-left: 35px; }
#login-pg .remember{color:#7F7F7F; font-size:11px;}
#login-pg .login-form button[type=button]{background:#33b5e5; margin:20px 0 53px 0; padding:9px 30px!important; border:0px solid #333333; font-size: 18px; height:43px; color:#ffffff; width:100%;}
#login-pg .form-group{ margin-bottom:0px;}
.reset-password-base-container .form-control:focus{/*border-color: #fdfdfd!important;*/ box-shadow:0!important; outline: 1px solid #4D90FE!important;}
.reset-password-base-container .form-control:active{/*border-color: #fdfdfd!important;*/ box-shadow:0!important; outline: 1px solid #4D90FE!important;}
#login-pg .xp-login-banner{margin:0 auto; background:#104061; line-height: 80px; width:100%; text-align:center; vertical-align:middle;}
#login-pg .xp-login-banner img{vertical-align:middle; height:35px;}
#login-pg .entity-login-banner{margin:0 auto; width:100%; text-align:center; vertical-align:middle;}
#login-pg .entity-login-banner img{vertical-align:middle; width:auto;}
#login-pg .empty-login-banner {margin-bottom:71px;width:100%; min-height: 84px;}
#login-pg .login-ico{position:absolute; left: 13px; top:10px; color:#a7a9ac;}
#login-pg .xp-login-footer{margin:0 auto; background:#d4d4d4; min-height: 50px; padding-top:13px; font-weight:bold; font-size:15px; line-height: normal; width:100%; margin-top:71px; text-align:center; vertical-align:middle;}
#login-pg .sign-up{color:#104061;}
#login-pg .sign-up a{color:#104061; text-decoration:none;}
#login-pg .no-login{color:#5b5c5e;}
#login-pg ul{list-style-type:none;}
#login-pg ul li{display: inline-block; margin: 0 11px; color:#939598; font-size:14px; font-weight:normal;}
#login-pg ul li a{color:#565656; text-decoration:none;}
.login-footer-head{font-size:15px; padding:0; margin: 0 0 10px 0; font-weight:bold;}
.login-footer-h2{margin:0 0 10px; font-size:15px;}

/*login page css ends here*/

/*reset password page css start here*/

.top-standard-margin-20{margin-top:20px;}
.bottom-standard-margin-8{margin-bottom:8px;}

.reset-password-base-container {
    position: relative;
    background: #ffffff;
    display: block;
    padding: 24px;
    z-index: 11;
    text-align: center;
    border-radius: 10px;
    min-height: 323px;
    width: 72%;
    margin: 0 auto;
    color: #333333;
    border: 1px solid #ededed;
}
.reset-password-form button[type=button] {
    background: #50748d;
    border-radius: 5px;
    padding: 5px 0px!important;
    border: 0px solid #333333;
    margin:8px 0;
    font-size: 15px;
    color: #ffffff;
    width: 14%;
}
.reset-password-form button[type=button]:disabled{ 
    background: #dcdcdc;
    border-radius: 5px;
    padding: 5px 0px!important;
    border: 1px solid #afafaf;
    margin:8px 0;
    font-size: 15px;
    color: #333333;
    width: 14%;}
.reset-select-question{width:100%;}
.reset-password-form .forgot-pass{position:relative; z-index:12;  color:#333333!important; font-size:14px; text-decoration:none; }
.reset-password-msg{width:53%; left:0; text-align:left;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .reset-password-msg {
        width: 53%;
        /*left: 25%;*/
        text-align: left;
    }
}
/*@media(width:1920px) {
.reset-password-msg{ left:25%;}
}*/
.security-drp-dwn{width:auto; position:relative;}
.security-drp-dwn ul.ui-select-choices li{ width: 100%;}
.security-drp-dwn .ui-select-choices-row.active > a{color:#ffffff!important;}
.security-drp-dwn .btn-default{ padding: 1px 12px!important; height: 24px!important;} 
.security-drp-dwn input.form-control{ padding: 1px 12px!important; height: 24px!important;} 
.reset-password-form .err{color:#c6312e!important;}
.reset-password-form input, .reset-password-form select {border:1px solid #d0d0d0; border-radius: 4px;}
.forgot-pass-title{position:relative; z-index:12;  color:#104061; font-size:20px; font-family:Calibri; margin: 0 0 30px 0;}
.forgot-pass-txtbox {width: 50%; margin-right: 8px; padding-left: 5px;}
.security-check-msg{left:27.5%; font-weight:normal;}
.resetPassword-submit-btn{width:61.8%;}

/*reset password page css ends here*/

/*validation message css*/

.validation-err{
    color:#c6312e!important;
}

.ng-invalid:not(form){
    border-color:  #a94442;
    border-width: 1px;
    
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    
/* Safari only override */
::i-block-chrome, .ng-valid[required] {
    border: 0px solid #ffffff !important;
}

}
#navbar .nav li a, #navbar .nav li a:hover {
    padding: 10px 15px;
}
#navbar {background-color: #33b5e5; border-radius:0;
    border-color: #60BEE5;}
#navbar .container-fluid .nav.navbar-nav>li>a{color: #ffffff;}

#menuList li a {
    font-size: 22px;
    font-family: Calibri;
}
.jsProfileMenu{ position:absolute; right:-23px; top:0; background:url(/assets/images/downArrow.png) no-repeat right 3px; height:15px; width:15px; cursor:pointer; padding: 16px 0 5px 24px ;}
.footer {
    font-size: 11px;
    padding-bottom: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #ffffff;
}
.site-container {
    margin: 0 auto;
    min-height: 700px;
}
.marginZero {
    margin: 0px 0px !important;
}
ul.jsProfileSubMenu {
    width: 89px;
    text-align: left;
    right: -22px;
    top: 20px;
    background: #ffffff;
    position: absolute;
    z-index: 1010;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #f1f1f1;
    min-width: 99px;
    left: initial;
}
.dropdown-menu {
    border-radius: 0px;
}