<div class="content-layout">

    <section class="content">
        <div>
            <h5 class="vertical-line header-title">Transfer Out</h5>
        </div>
        <nav mat-tab-nav-bar class="mb-3">
            <a mat-tab-link *ngFor="let item of navTransferLinks" class="tab-item-style menu-text" [routerLink]="item.link"
                routerLinkActive #rla="routerLinkActive" (click)="activeLink = item"
                [active]="activeLink == item">{{item.label}}
            </a>
        </nav>

        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>