<div class="card m-3">
    <h5 class="card-header">ADD USER</h5>
    <div class="card-body">

        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && fakeuser.firstName.errors }" />
                <div *ngIf="submitted && fakeuser.firstName.errors" class="invalid-feedback">
                    <div *ngIf="fakeuser.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &&fakeuser.username.errors }" />
                <div *ngIf="submitted &&fakeuser.username.errors" class="invalid-feedback">
                    <div *ngIf="fakeuser.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &&fakeuser.password.errors }" />
                <div *ngIf="submitted && fakeuser.password.errors" class="invalid-feedback">
                    <div *ngIf="fakeuser.password.errors.required">Password is required</div>
                    <div *ngIf="fakeuser.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="/login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>